<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">
            <i class="{{:: vm.taskIcon }}"></i>
            <a ui-sref="task-list({showOnlyMyElements: '1'})" translate>
                My Tasks
            </a>

            <a role="button" class="pull-right" ng-click="vm.createNewTask()" tabindex="0">
                <span translate>New Task</span>
            </a>
        </h3>
    </div>
    <div class="panel-body">
        <loading-text loading="vm.isLoading"></loading-text>
        <span ng-show="!vm.isLoading && vm.tasks.length == 0" translate>
            There are currently no tasks assigned to you.
        </span>
        <table ng-show="!vm.isLoading && vm.tasks.length > 0"
               class="table table-hover" style="margin-bottom: 0px;">
            <tbody>
            <!-- list all projects that are NOT deleted -->
            <tr ng-repeat="task in vm.tasks track by task.pk">
                <!-- task id -->
                <td class="truncate">
                    <task-link task="task"></task-link>
                </td>
                <!-- task priority -->
                <td style="text-align: center">
                    <task-state-priority-display-widget task-priority="task.priority"></task-state-priority-display-widget>
                </td>
                <!-- task state -->
                <td>
                    <task-state-priority-display-widget task-state="task.state"></task-state-priority-display-widget>
                </td>
                <!-- task due date -->
                <td class="hidden-xs hidden-sm text-nowrap">
                    <span ng-class="{'task_overdue': vm.today.diff(task.due_date, 'minutes') > 0}" ng-show="task.due_date" translate>
                        Due on {{ task.due_date | smallDate }}
                    </span>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
