<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">
            <i class="{{:: vm.projectIcon }}"></i>
            <a ui-sref="project-list" role="button" translate>Projects</a>

            <a role="button" class="pull-right" ng-click="vm.createNewProject()" tabindex="0">
                <span translate>New Project</span>
            </a>
        </h3>
    </div>
    <div class="panel-body">
        <loading-text loading="vm.isLoading"></loading-text>
        <div ng-show="vm.projects.length == 0 && !vm.isLoading" translate>
            You are currently not assigned to any projects.
        </div>

        <table ng-if="!vm.isLoading && vm.projects.length > 0"
               class="table table-hover" style="margin-bottom: 0px;">
            <tbody>
            <tr ng-repeat="project in vm.projects">
                <!-- Name and link of the project -->
                <td class="truncate">
                    <project-link role="button" project="project"></project-link>
                </td>
                <!-- Date -->
                <td class="hidden-sm text-nowrap">
                    <span ng-hide="!project.start_date || !project.stop_date">
                        {{ project.start_date | smallDateWithoutTime }} - {{ project.stop_date | smallDateWithoutTime }}
                    </span>
                </td>
                <!-- Project State -->
                <td class="text-nowrap">
                    <project-state-widget project-state="project.project_state"></project-state-widget>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
