
<div class="panel panel-default">
    <div class="panel-heading">
        <div class="row">
            <!-- Header -->
            <div class="col-xs-6" stlye="width: auto">
                <h3 class="panel-title">
                    <i class="{{:: vm.activityIcon }}"></i>
                    <a ui-sref="history-list" role="button" translate>Last Activities</a>
                </h3>
            </div>
        </div>
    </div>

    <div class="panel-body">
        <loading-text loading="vm.isLoading"></loading-text>

        <!-- no entries -->
        <span ng-show="!vm.isLoading && vm.histories.length == 0" translate>
            No recent activities.
        </span>

        <table ng-if="!vm.isLoading && vm.histories.length > 0"
                class="table table-hover" style="margin-bottom: 0px">
            <tbody>
            <tr ng-repeat="history in vm.histories">
                <!-- Name of the object-->
                <td class="truncate">
                    <generic-link type="history.object_type.model" object="history.object">
                    </generic-link>
                </td>
                <!-- change description -->
                <td class="text-nowrap">
                    <!-- Type icon -->
                    <display-type-icon-widget type="history.object_type.model"></display-type-icon-widget>
                    {{ vm.modelTypes[history.object_type.model] }}
                    {{ vm.historyChangeText[history.changeset_type] }}
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
