<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">
            <i class="{{:: vm.dmpIcon }}"></i>
            <a ui-sref="dmp-list" role="button" translate>DMPs</a>

            <a role="button" class="pull-right" ng-click="vm.createNewDmp()" tabindex="0">
                <span translate>New DMP</span>
            </a>
        </h3>
    </div>
    <div class="panel-body">
        <loading-text loading="vm.isLoading"></loading-text>
        <div ng-show="vm.dmps.length == 0 && !vm.isLoading" translate>
            You are currently not assigned to any dmps.
        </div>

        <table ng-if="!vm.isLoading && vm.dmps.length > 0"
               class="table table-hover" style="margin-bottom: 0px">
            <thead>
            </thead>
            <tbody>
            <tr ng-repeat="dmp in vm.dmps">
                <!-- Name of the object-->
                <td class="truncate">
                    <dmp-link dmp="dmp"></dmp-link>
                </td>
                <!-- Status -->
                <td>
                    {{ vm.dmpStates[dmp.status]}}
                </td>
                <!-- created at -->
                <td>
                    {{ dmp.created_at | smallDate }}
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
