<div class="form-group">
    <label class="col-sm-2 control-label" translate>
        {{ vm.label | translate }}
    </label>
    <div class="col-sm-10 inputs-container">
        <div ng-repeat="contact in vm.contacts" ng-if="contact.data" class="input-row">
            <div class="radio-container">
                <input type="radio" title="Use input of base contact"
                       ng-model="vm.selectedValueIndex"
                       ng-value="$index"
                       ng-if="$index === 0">
                <input type="radio" title="Use input of contact #{{ $index }}"
                       ng-model="vm.selectedValueIndex"
                       ng-value="$index"
                       ng-if="$index > 0">
            </div>

            <div class="input-field-container">
                <validated-form-element
                        input-element="text"
                        ng-if="vm.inputElement === 'text'"
                        placeholder="{{ '–' | translate }}"
                        ng-model="contact.data[vm.fieldName]"
                        ng-readonly="vm.selectedValueIndex !== $index"
                        errors="vm.errors[vm.fieldName]">
                </validated-form-element>

                <validated-form-element
                        input-element="html"
                        ng-if="vm.inputElement === 'html'"
                        placeholder="{{ '–' | translate }}"
                        ng-model="contact.data[vm.fieldName]"
                        ng-readonly="vm.selectedValueIndex !== $index"
                        errors="vm.errors[vm.fieldName]">
                </validated-form-element>
            </div>

            <div class="input-label-container">
                <span ng-if="$index === 0">Base contact</span>
                <span ng-if="$index > 0">Contact #{{ $index }}</span>
            </div>
        </div>
    </div>
</div>
