<div class="card-panel element-panel">
    <screen-header-function-bar
        screen-new-entity="{{ 'New DMP' | translate }}"
        screen-new-entity-type="dmp"
        selected-projects="vm.selectedProjects"
        selected-users="vm.selectedUsers"
        users="vm.users"
        current-view="vm.currentView" search-field="vm.searchField">
        <screen-title>
            <span translate>DMPs</span>
        </screen-title>
    </screen-header-function-bar>
</div>

<generic-list-loading-widget
    loading-flag="vm.dmpsLoaded"
    loading-text="DMPs">
</generic-list-loading-widget>

<div class="card-panel" ng-if="vm.currentView == 'list' && vm.dmpsLoaded">
    <dmp-table-view dmps="vm.dmps" order-by="vm.orderBy" order-dir="vm.orderDir">
    </dmp-table-view>
</div>

<dmp-card-view ng-if="vm.currentView == 'card' && vm.dmpsLoaded" dmps="vm.dmps"></dmp-card-view>

<div class="text-center" ng-if="vm.dmps.length > 0 && vm.dmpsLoaded">
    <ul uib-pagination
        total-items="vm.numberOfDmps"
        items-per-page="vm.currentLimit"
        force-ellipses="true"
        boundary-link-numbers="true"
        max-size="15"
        ng-model="vm.currentPage"
        ng-change="vm.pageChanged()">
    </ul>
</div>
