<div class="panel panel-default element-panel">
    <div class="panel-heading">
        <div style="float: left">
            <i class="{{ ::vm.dmpIcon }}"></i> {{ vm.dmp.title }}
        </div>
        <generic-detail-view-menu-widget
            ng-if="!vm.readOnly"
            base-model="vm.dmp"
            base-url-model="dmps"
            has-trash="true"
            has-export="true"
            has-restore="true"
            has-new-element="true"
            has-privileges="true"></generic-detail-view-menu-widget>
    </div>
    <div class="panel-body">
        <generic-show-element-state-widget base-model="vm.dmp"
                                           show-trashed="true"></generic-show-element-state-widget>
        <generic-show-element-lock-status-widget on-lock-cb="vm.onLock()" on-unlock-cb="vm.onUnlock()"
                                                 base-model="vm.dmp"
                                                 read-only="vm.readOnly"
                                                 show-locked="true"
                                                 show-reload-message="true"></generic-show-element-lock-status-widget>

        <!-- meta data -->
        <div class="row">
            <div class="form-horizontal" name="editDmp">
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4">
                    <!-- DMP Title -->
                    <div class="form-group">
                        <label class="col-sm-2 col-md-3" for="dmp_name" translate
                            title="{{ 'mandatory field' | translate }}">
                            Name *
                        </label>
                        <div class="col-sm-9">
                            <editable-select-list
                                edit-disabled="vm.isReadOnly()"
                                on-save="vm.saveDmpPartial('title', ngModel)"
                                on-save-multiple="vm.saveDmp()"
                                on-abort="vm.resetErrors()"
                                ng-model="vm.dmp.title">
                                <ng-include src="'js/screens/dmp/dmpForm.name.html'"></ng-include>
                            </editable-select-list>
                        </div>
                    </div>

                    <!-- DMP Form (Template) used - readonly -->
                    <div class="form-group">
                        <label class="col-sm-2 col-md-3" for="dmp_name">
                            <span translate>DMP Template</span> <i class="fa fa-info-circle" aria-hidden="true"
                                                                   title="{{ 'This field can not be changed' | translate }}"></i>
                        </label>
                        <div class="col-sm-9">
                            <dmp-form-name-display-widget dmp-form-pk="vm.dmp.dmp_form"></dmp-form-name-display-widget>
                        </div>
                    </div>

                    <!-- Status -->
                    <div class="form-group">
                        <label class="col-sm-2 col-md-3" for="dmp_status">
                            <span translate>Status</span> <i class="fa fa-info-circle" aria-hidden="true"
                                                             title="{{ 'Once the status is set to completed, only the creator of the DMP can change the DMP' | translate }}"></i>
                        </label>
                        <div class="col-sm-9">
                            <editable-select-list
                                edit-disabled="vm.isReadOnly()"
                                on-save="vm.saveDmpPartial('status', ngModel)"
                                on-save-multiple="vm.saveDmp()"
                                on-abort="vm.resetErrors()"
                                ng-model="vm.dmp.status">
                                <ng-include src="'js/screens/dmp/dmpForm.status.html'"></ng-include>
                            </editable-select-list>
                        </div>
                    </div>

                    <!-- Metadata -->
                    <metadata-fields-widget
                        base-model="vm.dmp"
                        base-url-model="dmp"
                        read-only="vm.isReadOnly()"
                        on-save="vm.saveDmpPartial('metadata', vm.dmp.metadata)"
                        on-save-multiple="vm.saveDmp()"
                        on-abort="vm.resetErrors()"
                        metadata="vm.dmp.metadata">
                    </metadata-fields-widget>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4">
                    <created-and-updated-by-widget element="vm.dmp"></created-and-updated-by-widget>

                    <!-- project -->
                    <div class="form-group">
                        <label class="col-sm-2 col-md-3" for="dmp_project" translate>
                            Project
                        </label>
                        <div class="col-sm-9" style="text-align: left">
                            <editable-select-list
                                edit-disabled="vm.isReadOnly()"
                                on-save="vm.saveDmpPartial('projects', ngModel)"
                                on-save-multiple="vm.saveDmp()"
                                on-abort="vm.resetErrors()"
                                ng-model="vm.projectPks"
                                compare-mode="array">
                                <div ng-include="'js/screens/dmp/dmpForm.projects.html'"></div>
                            </editable-select-list>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4">
                    <!-- History -->
                    <history-short-widget base-model="vm.dmp" base-url-model="dmp"></history-short-widget>
                    <!-- Versions -->
                    <versions-short-widget readonly="vm.isReadOnly()" base-model="vm.dmp" base-url-model="dmp"></versions-short-widget>
                </div>
            </div>
        </div>
        <div class="row">
            <hr>
        </div>
        <!-- dmp form -->
        <div class="row">
            <form class="form-horizontal" name="editDmpFormData" ng-submit="vm.saveChanges()">
                <!-- DMP Form Data Fields -->
                <div class="col-xs-12" ng-repeat="data in vm.dmp.dmp_form_data">
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-6">
                            <!-- DMP Form Data Name -->
                            <div class="form-group">
                                <label class="col-sm-4 col-md-3 control-label" for="dmpform_data_{{ data.pk }}">
                                    {{ data.name }}
                                </label>
                                <!-- DMP Form Data Value -->
                                <div class="col-sm-8 col-md-9">
                                    <!-- change validated-form-element according to specific type -->
                                    <validated-form-element ng-if="data.type == 'TXA'"
                                                            id="dmpform_data_{{ data.pk }}"
                                                            input-element="html" field-name="dmp_form_value"
                                                            ng-model="data.value" errors="vm.errors['value']"
                                                            ng-disabled="vm.dmp.status == 'FIN' && vm.currentUser.pk != vm.dmp.created_by.pk || vm.readOnly">
                                    </validated-form-element>
                                    <validated-form-element ng-if="data.type == 'TXF'"
                                                            id="dmpform_data_{{ data.pk }}"
                                                            input-element="text" field-name="dmp_form_value"
                                                            ng-model="data.value" errors="vm.errors['value']"
                                                            ng-disabled="vm.dmp.status == 'FIN' && vm.currentUser.pk != vm.dmp.created_by.pk || vm.readOnly">
                                    </validated-form-element>
                                    <validated-form-element ng-if="data.type == 'NUM'"
                                                            id="dmpform_data_{{ data.pk }}"
                                                            my-ng-pattern="^\d+$"
                                                            input-element="text" field-name="dmp_form_value"
                                                            ng-model="data.value" errors="vm.errors[data.pk]"
                                                            has-form-errors="editDmp['dmpform_data_'+data.pk].$error.pattern"
                                                            ng-disabled="vm.dmp.status == 'FIN' && vm.currentUser.pk != vm.dmp.created_by.pk || vm.readOnly">
                                        <p ng-show="editDmp['dmpform_data_'+data.pk].$error.pattern" class="help-block"
                                           ng-disabled="vm.dmp.status == 'FIN' && vm.currentUser.pk != vm.dmp.created_by.pk">
                            <span>
                                 <i class="{{:: vm.alertIcon }}" aria-hidden="true"></i>
                                <span translate>This value has to be a number!</span>
                            </span>
                                        </p>
                                    </validated-form-element>
                                </div>
                            </div>
                        </div>
                        <!-- DMP Form Data Guidance -->
                        <div class="col-xs-12 col-sm-12 col-md-6">
                            <div class="form-group">
                                <div class="col-sm-offset-4 col-sm-8 col-md-offset-0 col-md-9">
                                    <div class="guidance">
                                        <b translate>Guidance</b>
                                        <span ng-bind-html="data.infotext | asHtml"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-offset-3 col-md-3">
                    <div class="form-group">
                        <div class="col-xs-12 text-right">
                            <!-- Cancel -->
                            <button id="button_edit_dmp_cancel" class="btn btn-default" type="button"
                                    ng-click="vm.cancelEdit()"
                                    ng-disabled="vm.readOnly"
                                    translate>
                                Cancel
                            </button>
                            <!-- Save -->
                            <button id="button_edit_dmp_save" class="btn btn-warning" type="submit"
                                    ng-disabled="editDmp.$invalid || (vm.dmp.status == 'FIN' && vm.currentUser.pk != vm.dmp.created_by.pk) || vm.readOnly"
                                    translate>
                                Save
                            </button>
                        </div>
                    </div>
                    <!-- Download as (Export )-->
                    <div class="form-group">
                        <div class="col-xs-12 text-right">
                            <label translate>
                                Export as
                            </label>

                            <!-- HTML -->
                            <button id="button_export_dmp_html" class="btn btn-default" type="button"
                                    ng-disabled="editDmpFormData.$dirty || vm.readOnly"
                                    title="{{ 'HTML'|translate }}" ng-click="vm.downloadFile('html', 'text/html')"
                                    translate>
                                HTML
                            </button>
                            <!-- TXT -->
                            <button id="button_export_dmp_txt" class="btn btn-default" type="button"
                                    ng-disabled="editDmpFormData.$dirty || vm.readOnly"
                                    title="{{ 'TXT'|translate }}" ng-click="vm.downloadFile('txt', 'text/plain')"
                                    translate>
                                TXT
                            </button>
                            <!-- XML -->
                            <button id="button_export_dmp_xml" class="btn btn-default" type="button"
                                    ng-disabled="editDmpFormData.$dirty || vm.readOnly"
                                    title="{{ 'XML'|translate }}" ng-click="vm.downloadFile('xml', 'application/xml')"
                                    translate>
                                XML
                            </button>
                            <!-- PDF -->
                            <button id="button_export_dmp_pdf" class="btn btn-default" type="button"
                                    ng-disabled="editDmpFormData.$dirty || vm.readOnly"
                                    title="{{ 'PDF'|translate }}" ng-click="vm.downloadFile('pdf', 'application/pdf')"
                                    translate>
                                PDF
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- relations -->
<relation-list-widget base-model="vm.dmp" base-url-model="dmp"></relation-list-widget>
