<!-- DMP Title -->
<div class="form-group">
    <label class="col-sm-3 control-label" for="dmp_name" translate>
        Name
    </label>
    <div class="col-sm-9">
        <editable-select-list
            edit-disabled="vm.isReadOnly()"
            on-save="vm.saveDmpPartial('title', ngModel)"
            on-save-multiple="vm.saveDmp()"
            on-abort="vm.resetErrors()"
            ng-model="vm.dmp.title">
            <ng-include src="'js/screens/dmp/dmpForm.name.html'"></ng-include>
        </editable-select-list>
    </div>
</div>

<!-- Status -->
<div class="form-group">
    <label class="col-sm-3 control-label" for="dmp_status">
        <span translate>Status</span> <i class="fa fa-info-circle" aria-hidden="true"
                                         title="{{ 'Once the status is set to completed, only the creator of the DMP can change the DMP' | translate }}"></i>
    </label>
    <div class="col-sm-9">
        <editable-select-list
            edit-disabled="vm.isReadOnly()"
            on-save="vm.saveDmpPartial('status', ngModel)"
            on-save-multiple="vm.saveDmp()"
            on-abort="vm.resetErrors()"
            ng-model="vm.dmp.status">
            <ng-include src="'js/screens/dmp/dmpForm.status.html'"></ng-include>
        </editable-select-list>
    </div>
</div>

<!-- metadata -->
<small-entity-view-metadata
    metadata="vm.dmp.metadata"
    base-model="vm.dmp"
    base-url-model="dmp"
    read-only="vm.isReadOnly()">
</small-entity-view-metadata>


<!-- project -->
<div class="form-group">
    <label class="col-sm-3 control-label" for="dmp_project" translate>
        Project
    </label>
    <div class="col-sm-9" style="text-align: left">
        <editable-select-list
            edit-disabled="vm.isReadOnly()"
            on-save="vm.saveDmpPartial('projects', ngModel)"
            on-save-multiple="vm.saveDmp()"
            on-abort="vm.resetErrors()"
            ng-model="vm.projectPks"
            compare-mode="array">
            <div ng-include="'js/screens/dmp/dmpForm.projects.html'"></div>
        </editable-select-list>
    </div>
</div>

<div class="row">
    <hr>
</div>

<!-- dmp form -->
<div class="row">
    <form class="form-horizontal" name="editDmpFormData" ng-submit="vm.saveChanges()">
        <!-- DMP Form Data Fields -->
        <div class="col-xs-12" ng-repeat="data in vm.dmp.dmp_form_data">
            <div class="row">
                <!-- DMP Form Data Name -->
                <div class="form-group">
                    <label class="col-sm-3 control-label" for="dmpform_data_{{ data.pk }}">
                        {{ data.name }}
                    </label>
                    <!-- DMP Form Data Value -->
                    <div class="col-sm-8 col-md-9">
                        <!-- change validated-form-element according to specific type -->
                        <validated-form-element ng-if="data.type == 'TXA'"
                                                id="dmpform_data_{{ data.pk }}"
                                                input-element="html" field-name="dmp_form_value"
                                                ng-model="data.value" errors="vm.errors['value']"
                                                ng-disabled="vm.isReadOnly() || (vm.dmp.status == 'FIN' && vm.currentUser.pk != vm.dmp.created_by.pk)">
                        </validated-form-element>
                        <validated-form-element ng-if="data.type == 'TXF'"
                                                id="dmpform_data_{{ data.pk }}"
                                                input-element="text" field-name="dmp_form_value"
                                                ng-model="data.value" errors="vm.errors['value']"
                                                ng-disabled="vm.isReadOnly() || (vm.dmp.status == 'FIN' && vm.currentUser.pk != vm.dmp.created_by.pk)">
                        </validated-form-element>
                        <validated-form-element ng-if="data.type == 'NUM'"
                                                id="dmpform_data_{{ data.pk }}"
                                                my-ng-pattern="^\d+$"
                                                input-element="text" field-name="dmp_form_value"
                                                ng-model="data.value" errors="vm.errors[data.pk]"
                                                has-form-errors="editDmp['dmpform_data_'+data.pk].$error.pattern"
                                                ng-disabled="vm.isReadOnly() || (vm.dmp.status == 'FIN' && vm.currentUser.pk != vm.dmp.created_by.pk)">
                            <p ng-show="editDmp['dmpform_data_'+data.pk].$error.pattern" class="help-block"
                               ng-disabled="vm.isReadOnly() || (vm.dmp.status == 'FIN' && vm.currentUser.pk != vm.dmp.created_by.pk)">
                            <span>
                                 <i class="{{:: vm.alertIcon }}" aria-hidden="true"></i>
                                <span translate>This value has to be a number!</span>
                            </span>
                            </p>
                        </validated-form-element>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
