<div class="panel panel-default element-panel">
    <div class="panel-heading">
        <div style="float:left" ng-click="vm.toggleMetaDataVisibility()" role="button">
            <span style="width: 13px" class="fa fa-caret-right" ng-show="vm.metaDataCollapsed"></span>
            <span style="width: 13px" class="fa fa-caret-down" ng-show="!vm.metaDataCollapsed"></span>

            <i class="{{ vm.resourceIcon }}"></i> {{ vm.resource.name }}
        </div>
        <generic-detail-view-menu-widget
            ng-if="!vm.readOnly"
            base-model="vm.resource"
            base-url-model="resources"
            has-trash="true"
            has-export="true"
            has-restore="true"
            has-privileges="true"
            has-new-element="true"
            has-duplicate="true"></generic-detail-view-menu-widget>
    </div>
    <div class="panel-body" uib-collapse="vm.metaDataCollapsed">
        <generic-show-element-state-widget base-model="vm.resource"
                                           show-trashed="true"></generic-show-element-state-widget>
        <generic-show-element-lock-status-widget base-model="vm.resource"
                                                 read-only="vm.readOnly"
                                                 show-locked="true"
                                                 show-reload-message="true"></generic-show-element-lock-status-widget>

        <div class="row">
            <div class="form-horizontal" name="editResourceForm">
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4">
                    <!-- Name -->
                    <div class="form-group">
                        <label class="col-sm-2 col-md-3" translate>
                            Name
                        </label>
                        <div class="col-sm-9">
                            <editable-select-list
                                edit-disabled="vm.isReadOnly()"
                                on-save="vm.saveResourcePartial('name', ngModel)"
                                on-save-multiple="vm.saveResource()"
                                on-abort="vm.resetErrors()"
                                ng-model="vm.resource.name">
                                <ng-include src="'js/screens/resource/resourceForm.name.html'"></ng-include>
                            </editable-select-list>
                        </div>
                    </div>
                    <!-- Type -->
                    <div class="form-group">
                        <label class="col-sm-2 col-md-3" translate>
                            Type
                        </label>
                        <div class="col-sm-9">
                            <editable-select-list
                                edit-disabled="vm.isReadOnly()"
                                on-save="vm.saveResourcePartial('type', ngModel)"
                                on-save-multiple="vm.saveResource()"
                                on-abort="vm.resetErrors()"
                                ng-model="vm.resource.type">
                                <ng-include src="'js/screens/resource/resourceForm.type.html'"></ng-include>
                            </editable-select-list>
                        </div>
                    </div>
                    <!-- Responsible Unit -->
                    <div class="form-group">
                        <label class="col-sm-2 col-md-3" translate>
                            Responsible Unit
                        </label>
                        <div class="col-sm-9">
                            <editable-select-list
                                on-save="vm.saveResourcePartial('responsible_unit', ngModel)"
                                on-save-multiple="vm.saveResource()"
                                on-abort="vm.resetErrors()"
                                edit-disabled="vm.isReadOnly()"
                                ng-model="vm.resource.responsible_unit">
                                <ng-include src="'js/screens/resource/resourceForm.responsibleunit.html'"></ng-include>
                            </editable-select-list>
                        </div>
                    </div>
                    <!-- Contact -->
                    <div class="form-group">
                        <label class="col-sm-2 col-md-3" translate>
                            Contact (E-Mail)
                        </label>
                        <div class="col-sm-9">
                            <editable-select-list
                                on-save="vm.saveResourcePartial('contact', ngModel)"
                                on-save-multiple="vm.saveResource()"
                                on-abort="vm.resetErrors()"
                                edit-disabled="vm.isReadOnly()"
                                ng-model="vm.resource.contact">
                                <ng-include src="'js/screens/resource/resourceForm.contact.html'"></ng-include>
                            </editable-select-list>
                        </div>
                    </div>
                    <!-- Location -->
                    <div class="form-group">
                        <label class="col-sm-2 col-md-3" translate>
                            Location
                        </label>
                        <div class="col-sm-9">
                            <editable-select-list
                                on-save="vm.saveResourcePartial('location', ngModel)"
                                on-save-multiple="vm.saveResource()"
                                on-abort="vm.resetErrors()"
                                edit-disabled="vm.isReadOnly()"
                                ng-model="vm.resource.location">
                                <ng-include src="'js/screens/resource/resourceForm.location.html'"></ng-include>
                            </editable-select-list>
                        </div>
                    </div>
                    <!-- User Availability -->
                    <div class="form-group">
                        <label class="col-sm-2 col-md-3" translate>
                            User Availability
                        </label>
                        <div class="col-sm-9">
                            <editable-select-list
                                edit-disabled="vm.isReadOnly()"
                                on-save="vm.saveResourcePartial('user_availability', ngModel)"
                                on-save-multiple="vm.saveResource()"
                                on-abort="vm.resetErrors()"
                                ng-model="vm.resource.user_availability">
                                <ng-include src="'js/screens/resource/resourceForm.useravailability.html'"></ng-include>
                            </editable-select-list>
                        </div>
                    </div>
                    <!-- User Availability Selected User Groups -->
                    <div ng-if="vm.isAvailableForProjectMembers() || vm.isAvailableForSelectedUsers()" class="form-group">
                        <label class="col-sm-2 col-md-3">
                            <span translate>Selected User Groups</span>
                        </label>
                        <div class="col-sm-9">
                            <editable-select-list
                                edit-disabled="vm.isReadOnly()"
                                on-save="vm.saveResourcePartial('user_availability_selected_user_group_pks', ngModel)"
                                on-save-multiple="vm.saveResource()"
                                on-abort="vm.resetErrors()"
                                ng-model="vm.selectedUserGroupsPks"
                                compare-mode="array">
                                <ng-include
                                    src="'js/screens/resource/resourceForm.userAvailabilitySelectedUserGroups.html'"></ng-include>
                            </editable-select-list>
                        </div>
                    </div>
                    <!-- User Availability Selected Users -->
                    <div ng-if="!vm.isGloballyAvailable()" class="form-group">
                        <label class="col-sm-2 col-md-3">
                            <span translate>Selected Users</span>
                        </label>
                        <div class="col-sm-9">
                            <editable-select-list
                                edit-disabled="vm.isReadOnly()"
                                on-save="vm.saveResourcePartial('user_availability_selected_user_pks', ngModel)"
                                on-save-multiple="vm.saveResource()"
                                on-abort="vm.resetErrors()"
                                ng-model="vm.selectedUsersPks"
                                compare-mode="array">
                                <ng-include
                                    src="'js/screens/resource/resourceForm.userAvailabilitySelectedUsers.html'"></ng-include>
                            </editable-select-list>
                        </div>
                    </div>
                    <!-- resource description as two rows -->
                    <div class="form-group">
                        <label class="col-sm-2 col-md-3" translate>
                            Description
                        </label>
                        <div class="col-sm-9">
                            <editable-select-list
                                compare-mode="html"
                                edit-disabled="vm.isReadOnly()"
                                on-save="vm.saveResourcePartial('description', ngModel)"
                                on-save-multiple="vm.saveResource()"
                                on-abort="vm.resetErrors()"
                                ng-model="vm.resource.description">
                                <ng-include src="'js/screens/resource/resourceForm.description.html'"></ng-include>
                            </editable-select-list>
                        </div>
                    </div>
                    <!-- Metadata -->
                    <metadata-fields-widget
                        base-model="vm.resource"
                        base-url-model="resource"
                        read-only="vm.isReadOnly()"
                        on-save="vm.saveResourcePartial('metadata', vm.resource.metadata)"
                        on-save-multiple="vm.saveResource()"
                        on-abort="vm.resetErrors()"
                        metadata="vm.resource.metadata">
                    </metadata-fields-widget>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4">
                    <created-and-updated-by-widget element="vm.resource"></created-and-updated-by-widget>
                    <!-- project -->
                    <div class="form-group">
                        <label class="col-sm-2 col-md-3" for="resource_project" translate>
                            Project
                        </label>
                        <div class="col-sm-9" style="text-align: left">
                            <editable-select-list
                                edit-disabled="vm.isReadOnly()"
                                on-save="vm.saveResourcePartial('projects', ngModel)"
                                on-save-multiple="vm.saveResource()"
                                on-abort="vm.resetErrors()"
                                ng-model="vm.projectPks"
                                compare-mode="array">
                                <ng-include src="'js/screens/resource/resourceForm.projects.html'"></ng-include>
                            </editable-select-list>
                        </div>
                    </div>
                    <!-- Terms of Use -->
                    <div class="form-group">
                        <label class="col-sm-2 col-md-3" translate>
                            Terms of Use
                        </label>
                        <div class="col-sm-9">
                            <div class="row">
                                <!-- pdf exists -->
                                <span ng-if="vm.resource.terms_of_use_pdf">
                                    <span>
<!--                                        <a href="" ng-click="vm.downloadFile()">Terms of Use (PDF)</a>-->
                                        <a href="{{ vm.resource.download_terms_of_use }}">Terms of Use (PDF)</a>
                                    </span>
                                    <a href="" class="{{ vm.editIcon }}"
                                       aria-hidden="true"
                                       ng-if="!vm.isReadOnly()"
                                       ng-click="vm.uploadNewFile()">
                                    </a>
                                    <a href="" class="{{ vm.deleteIcon }}"
                                       aria-hidden="true"
                                       ng-if="!vm.isReadOnly()"
                                       ng-click="vm.deleteFile()">
                                    </a>
                                </span>


                                <!-- pdf does not exists -->
                                <span ng-if="!vm.resource.terms_of_use_pdf && !vm.isReadOnly()">
                                    <span ng-click="vm.uploadNewFile()" translate>
                                        Please upload a Terms of Use PDF
                                    </span>
                                    <a href="" class="{{ vm.addIcon }}" aria-hidden="true"
                                       ng-click="vm.uploadNewFile()">
                                    </a>
                                </span>
                            </div>
                            <div class="row">
                               <span ng-show="vm.errors['terms_of_use_pdf'].length > 0"
                                         class="help-block pull-left" style="color: #cc0000">
                                    <span class="{{:: vm.alertIcon }}" aria-hidden="true"></span>
                                    {{ vm.errors['terms_of_use_pdf'].join(', ') }}
                               </span>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4">
                    <!-- History -->
                    <history-short-widget base-model="vm.resource" base-url-model="resource"></history-short-widget>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="panel panel-default element-panel">
    <div class="panel-heading" translate>
        Resource Calendar
    </div>
    <div class="panel-body">
        <resource-calendar-widget
            calendar-config="vm.calendarConfig"
            selected-resource="vm.resource">
        </resource-calendar-widget>
    </div>
</div>


<resource-booking-rules-widget resource="vm.resource"></resource-booking-rules-widget>

<!-- my resource bookings -->
<my-bookings-table-view
    key="resourcebookings_detail"
    resource="vm.resource"
></my-bookings-table-view>

<!-- relations -->
<relation-list-widget base-model="vm.resource" base-url-model="resource"></relation-list-widget>
