<div class="modal-header">
    <h3 class="modal-title" translate>Appointment Resource Booking</h3>
</div>
<form class="form-horizontal" name="newMeetingForm" ng-submit="vm.create()">
    <div class="modal-body">
        <ng-include src="'js/screens/meeting/smallMeetingView.html'"></ng-include>
    </div>

    <div class="modal-footer">
        <!-- Buttons for Confirm / Cancel -->
        <div class="text-right">
            <button id="button_meeting_create_cancel" class="btn btn-default" type="button"
                    ng-click="vm.dismiss()" translate>
                Cancel
            </button>
            <button id="button_meeting_create_delete" class="btn btn-danger" type="button" translate
                    ng-if="vm.meeting.pk"
                    ng-click="vm.deleteResourceBooking()">
                Delete Resource Booking
            </button>
            <button id="button_meeting_create_save" class="btn btn-warning" translate>
                Confirm
            </button>
        </div>
    </div>
</form>
