<div class="card-panel element-panel">
    <resources-screen-header-function-bar
        screen-new-entity="{{ 'New Resource' | translate }}"
        screen-new-entity-type="resource"
        selected-users="vm.selectedUsers"
        selected-projects="vm.selectedProjects"
        users="vm.users"
        max-items="1"
        current-view="vm.currentView"
        search-field="vm.searchField">
        <screen-title>
            <span translate>Resources</span>
        </screen-title>
    </resources-screen-header-function-bar>
</div>

<generic-list-loading-widget
    loading-flag="vm.resourcesLoaded"
    loading-text="Resources">
</generic-list-loading-widget>

<!-- table (list) view -->
<div class="card-panel" ng-if="vm.currentView == 'list' && vm.resourcesLoaded">
    <resource-table-view resources="vm.resources" ng-if="vm.resources.length" order-by="vm.orderBy" order-dir="vm.orderDir">
    </resource-table-view>

    <div ng-if="vm.resources.length === 0" translate>
        No entries
    </div>
</div>

<!-- card view -->
<div class="row" ng-if="vm.currentView == 'card' && vm.resourcesLoaded">
    <resource-card-view resources="vm.resources" ng-if="vm.resources.length">
    </resource-card-view>

    <div class="col-xs-12">
        <div class="card-panel" ng-if="vm.resources.length === 0" translate>
            No entries
        </div>
    </div>
</div>

<div class="text-center" ng-if="vm.resources.length && vm.resourcesLoaded">
    <ul uib-pagination
        total-items="vm.numberOfResources"
        items-per-page="vm.currentLimit"
        force-ellipses="true"
        boundary-link-numbers="true"
        max-size="15"
        ng-model="vm.currentPage"
        ng-change="vm.pageChanged()">
    </ul>
</div>

<my-bookings-table-view key="resourcebookings"></my-bookings-table-view>
