<div class="panel panel-default element-panel">
    <div class="panel-heading">
        <div style="float:left" ng-click="vm.toggleMetaDataVisibility()" role="button">
            <span style="width: 13px" class="fa fa-caret-right" ng-show="vm.metaDataCollapsed"></span>
            <span style="width: 13px" class="fa fa-caret-down" ng-show="!vm.metaDataCollapsed"></span>
            <i class="{{ vm.resourceIcon }}"></i> {{ vm.resource.name }}
        </div>
        <generic-detail-view-menu-widget
            ng-if="!vm.readOnly"
            base-model="vm.resource"
            base-url-model="resources"
            has-trash="true"
            has-export="true"
            has-restore="true"
            has-privileges="true"
            has-new-element="true"
            has-duplicate="true"></generic-detail-view-menu-widget>
    </div>
    <div class="panel-body" uib-collapse="vm.metaDataCollapsed">
        <generic-show-element-state-widget base-model="vm.resource"
                                           show-trashed="true"></generic-show-element-state-widget>
        <generic-show-element-lock-status-widget base-model="vm.resource"
                                                 read-only="vm.readOnly"
                                                 show-locked="true"
                                                 show-reload-message="true"></generic-show-element-lock-status-widget>

        <resource-meta-data-widget  resource="vm.resource" read-only="vm.readOnly">
        </resource-meta-data-widget>
    </div>
</div>

<div class="panel panel-default element-panel">
    <div class="panel-heading" translate>
        Resource Calendar
    </div>
    <div class="panel-body">
        <resource-calendar-widget
            calendar-config="vm.calendarConfig"
            selected-resource="vm.resource"
            is-study-room="false">
        </resource-calendar-widget>
    </div>
</div>

<resource-booking-rules-widget resource="vm.resource">
</resource-booking-rules-widget>

<!-- my resource bookings -->
<my-bookings-table-view
    key="resourcebookings_detail"
    resource="vm.resource"
></my-bookings-table-view>

<!-- relations -->
<relation-list-widget base-model="vm.resource" base-url-model="resource"></relation-list-widget>
