<!-- new row -->
<div class="row" ng-if="!Auth.loginInProgressWithExistingToken">
    <div class="col-sm-12 text-center">
        <div id="brand">
            <h2 style="font-weight: bold">
                <img ng-if="preferences.site_logo"
                        height="30" style="display: inline;" class="navbar-brand-icon" ng-src="{{:: preferences.site_logo }}" alt="Icon"/>
                {{:: preferences.site_name }}
            </h2>
        </div><!--/#brand-->
    </div><!--/.col-*-->
</div>

<div class="panel panel-default" ng-if="!Auth.loginInProgressWithExistingToken">
    <div class="panel-body">
        <well ng-show="Auth.loginInProgress">
            <b ng-show="!Auth.loginInProgressWithExistingToken" translate>Login in progress, please wait!</b>
            <b ng-show="Auth.loginInProgressWithExistingToken" translate>Loading data from server, please wait!</b>
        </well>
        <!-- Login Form - hidden while login is in progress -->
        <form class="form-horizontal" role="form" ng-submit="tryLogin()"
              ng-hide="Auth.loginInProgress">

            <div class="alert alert-danger" ng-show="error != ''">
                <span class="pficon pficon-error-circle-o"></span>
                <strong>{{ error }}</strong>
            </div>
            <table style="width: 100%" class="loginForm">
                <tr>
                    <td class="text-center" style="vertical-align: top;">
                        <span class="{{:: userIcon }} login-screen-user"></span>
                    </td>
                    <td>
                        <validated-form-element
                                id="login_username"
                                style="width: 100%"
                                input-element="text" input-label="" field-name="login_username"
                                placeholder="{{ 'Username' | translate }}"
                                ng-disabled="Auth.loginInProgress"
                                ng-model="user.username"  errors="fieldErrors['username']">
                        </validated-form-element>
                    </td>
                </tr>
                <tr>
                    <td class="text-center" style="vertical-align: top;">
                        <span class="{{:: passwordIcon }} login-screen-password"></span>
                    </td>
                    <td>
                        <validated-form-element
                                id="login_password"
                                input-element="password" input-label="" field-name="login_password"
                                placeholder="****"
                                ng-disabled="Auth.loginInProgress"
                                ng-model="user.password"  errors="fieldErrors['password']">
                        </validated-form-element>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <button ng-disabled="Auth.loginInProgress" role="button" type="submit" class="btn btn-lg btn-primary btn-block" translate>
                            Login
                        </button>
                    </td>
                </tr>
                <tr>
                    <td colspan="2" class="text-right">
                        <a role="button" ng-click="goToPasswordResetView()" translate>Forgot password?</a>
                    </td>
                </tr>
            </table>
        </form>
    </div>
</div>
