<!-- Login Controller - fullscreen -->
<div ng-if="Auth.isLoggedIn == false" class="fullscreen loginView">

    <div style="height: 100%; position: relative" ng-show="cmsContent == ''">
        <!-- show login formular -->
        <div class="centerdiv" ng-show="!user.showResetPassword">
            <div ng-include="'js/screens/login/loginForm.html'"></div>
        </div>
        <!-- show password reset form -->
        <div class="centerdiv" ng-show="user.showResetPassword">
            <div ng-include="'js/screens/login/resetPassword.html'"></div>
        </div>
    </div>

    <div ng-if="cmsContent != ''" style="position: absolute; top: 50px; left: 50px; right: 50px;">
        <div class="panel panel-default" style="position: relative">
            <div class="panel-body" style="overflow: auto; max-height: calc(100vh - 150px)">
                <div ng-click="closeCmsContent()" role="button" title="{{ 'Close' | translate }}"
                     style="position: fixed; right: 70px; top: 55px;">
                    <span class="fa fa-close"></span>
                </div>

                <cms-view ng-if="cmsContent != 'osslicenses'" slug="cmsContent"></cms-view>
                <oss-licenses-view ng-if="cmsContent == 'osslicenses'"></oss-licenses-view>
            </div>
        </div>
    </div>

    <div class="bottom-toolbar">
        <a href="https://github.com/eWorkbench/eWorkbench" role="button" target="_blank" rel="noopener noreferrer" translate>eWorkbench on GitHub</a>
        |
        <a ng-click="openCmsContent('osslicenses')" role="button">OSS Licenses</a>
        |
        <a href="https://www.ub.tum.de/impressum" target="_blank" rel="noopener noreferrer" role="button">Imprint</a>
        |
        <a ng-click="openCmsContent('privacy')" role="button">Privacy</a>
    </div>
</div>


<!-- show a simple fullscreen view that displays nothing at all, with ng-if="false" -->
<div class="fullscreen loginView" ng-if="false">
    <div style="height: 100%; position: relative">
        <div class="centerdiv" ng-show="!user.showResetPassword">
        </div>
    </div>
</div>
