<!-- new row -->
<div class="row">
    <div class="col-sm-12 text-center">
        <div id="brand">
            <h2 style="font-weight: bold">
                <img height="30" style="display: inline;" class="navbar-brand-icon" ng-src="{{:: preferences.site_logo }}" alt="Icon"/>
                {{:: preferences.site_name }}
            </h2>
        </div><!--/#brand-->
    </div><!--/.col-*-->
</div>

<div class="panel panel-default">
    <div class="panel-body">
        <!-- Show form to change the password -->
        <form class="form-horizontal" role="form" ng-submit="tryChangePassword()" ng-show="user.resetToken">
            <div class="alert alert-danger" ng-show="error != ''">
                <span class="{{:: alertIcon }}"></span>
                <strong>{{ error }}</strong>
            </div>

            <div ng-show="user.passwordResetSuccess" translate>
                You have successfully reset your password. Please try to <a role="button" ng-click="goToLoginView()">login</a> again.
            </div>

            <table style="width: 100%" class="loginForm" ng-show="!user.passwordResetSuccess">
                <tr>
                    <td class="text-center" style="vertical-align: top;">
                        <span class="{{ passwordIcon }} login-screen-password"></span>
                    </td>
                    <td>
                        <validated-form-element
                            id="reset_password"
                            auto-complete="new-password"
                            input-element="password" input-label="" field-name="reset_password"
                            placeholder="{{ 'New password' | translate }}"
                            ng-disabled="Auth.loginInProgress"
                            ng-model="user.password"  errors="fieldErrors['password']">
                        </validated-form-element>
                    </td>
                </tr>
                <tr>
                    <td class="text-center" style="vertical-align: top;">
                        <span class="{{ passwordIcon }} login-screen-password"></span>
                    </td>
                    <td>
                        <validated-form-element
                            id="reset_password_confirm"
                            has-form-errors="user.password != '' && user.password != user.password_confirm"
                            input-element="password" input-label="" field-name="reset_password_confirm"
                            placeholder="{{ 'Confirm new password' | translate }}"
                            ng-disabled="Auth.loginInProgress"
                            ng-model="user.password_confirm"  errors="fieldErrors['password_confirm']">
                        </validated-form-element>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <button role="button" type="submit" class="btn btn-lg btn-primary btn-block"
                                ng-disabled="user.password != user.password_confirm || user.password.length < 2"
                                translate>
                            Change Password
                        </button>
                    </td>
                </tr>
            </table>
        </form>


        <!-- Show form to request a reset token -->
        <form class="form-horizontal" role="form" ng-submit="tryResetPassword()" ng-show="!user.resetToken">
            <div ng-show="user.passwordResetSuccess" translate>
                An E-Mail with instructions on how to reset your password has been sent to {{ user.email }}.
            </div>
            <div class="alert alert-danger" ng-show="error != ''">
                <span class="pficon pficon-error-circle-o"></span>
                <strong>{{ error }}</strong>
            </div>
            <table style="width: 100%" class="loginForm" ng-show="!user.passwordResetSuccess">
                <tr>
                    <td class="text-center" style="vertical-align: top;">
                                <span class="{{:: userIcon }} login-screen-user">
                                </span>
                    </td>
                    <td>
                        <validated-form-element
                            id="reset_password_email"
                            style="width: 100%"
                            input-element="text" input-label="" field-name="reset_password_email"
                            placeholder="{{ 'E-mail' | translate }}"
                            ng-disabled="Auth.loginInProgress"
                            ng-model="user.email"  errors="fieldErrors['email']">
                        </validated-form-element>
                    </td>
                </tr>
                <tr>
                    <td colspan="2" style="text-align: right">
                        <button role="button" type="button" class="btn btn-lg btn-default" ng-click="user.showResetPassword = false" translate>Cancel</button>
                        <button role="button" type="submit" class="btn btn-lg btn-primary" translate>Reset Password</button>
                    </td>
                </tr>
            </table>
        </form>
    </div>
</div>
