<div ng-show="!vm.shapes.shapes">
    <h3 translate>Picture is loading...</h3>
</div>
<!-- render a division for holding the popover menu/toolbar, and a resizable division for resizing the canvas
    wait for shapes being available (ng-if="vm.shapes.shapes") before we initialize the widgets
 -->
<div
    ng-if="vm.shapes.shapes"
    style="width: 100%; overflow: auto; padding: 10px 0px; margin: -4px 0px;">
    <literally-canvas-drawing-widget-menu
        ng-if="!vm.isReadOnly()"
        style="display: block"
        ng-style="{'width': vm.shapes.width + 'px'}"
        lc-api="vm.lcApi"
        background-image-url="vm.backgroundImageUrl"
        shapes="vm.shapes.shapes"
        width="vm.shapes.width" height="vm.shapes.height"
        shapes-visible="vm.shapesVisible" show-save-button="vm.showSaveButton" has-unsaved-changes="vm.hasUnsavedChanges">
    </literally-canvas-drawing-widget-menu>

    <div
        resizable
        r-width="vm.shapes.width"
        r-height="vm.shapes.height"
        r-directions="['bottom', 'right']">
        <literally-canvas-widget
            lc-api="vm.lcApi"
            background-image-url="vm.backgroundImageUrl"
            shapes="vm.shapes.shapes"
            shapes-visible="vm.shapesVisible"
            width="vm.shapes.width" height="vm.shapes.height"></literally-canvas-widget>
    </div>
</div>
