<!-- Title -->
<div class="form-group">
    <label class="col-sm-3 control-label" for="picture_title" translate>
        Title
    </label>
    <div class="col-sm-9">
        <editable-select-list
            edit-disabled="vm.isReadOnly()"
            on-save="vm.savePicturePartial('title', ngModel)"
            on-abort="vm.resetErrors()"
            ng-model="vm.picture.title">
            <ng-include src="'js/screens/picture/pictureForm.title.html'"></ng-include>
        </editable-select-list>
    </div>
</div>

<!-- Width -->
<div class="form-group">
    <label class="col-sm-3 control-label" for="picture_width" translate>
        Width
    </label>
    <div class="col-sm-9">
        {{ vm.picture.width }}px
    </div>
</div>

<!-- Height -->
<div class="form-group">
    <label class="col-sm-3 control-label" for="picture_height" translate>
        Height
    </label>
    <div class="col-sm-9">
        {{ vm.picture.height }}px
    </div>
</div>

<!-- metadata -->
<small-entity-view-metadata
    metadata="vm.picture.metadata"
    base-model="vm.picture"
    base-url-model="picture"
    read-only="vm.isReadOnly()">
</small-entity-view-metadata>

<!-- Projects -->
<div class="form-group">
    <label class="col-sm-3 control-label" for="input_picture_create_project" translate>
        Project
    </label>
    <div class="col-sm-9">
        <editable-select-list
            edit-disabled="vm.isReadOnly()"
            on-save="vm.savePicturePartial('projects', ngModel)"
            on-abort="vm.resetErrors()"
            ng-model="vm.projectPks">
            <ng-include src="'js/screens/picture/pictureForm.projects.html'"></ng-include>
        </editable-select-list>
    </div>
</div>

<!-- The picture itself -->
<div class="form-group">
    <div class="col-xs-12">
        <!-- ReadOnly -> just display image preview -->
        <img ng-if="vm.isReadOnly()" ng-src="{{vm.picture.download_rendered_image}}" class="img img-responsive"/>
        <!-- not ReadOnly -> display image editor -->
        <editable-select-list
            ng-if="!vm.isReadOnly()"
            simple-template="true"
            buttons-visible="vm.canvasEditButtonVisible && !vm.isReadOnly()"
            compare-mode="deepEquals"
            edit-disabled="vm.isReadOnly()"
            on-save="vm.saveShapes()"
            on-abort="vm.resetErrors()"
            ng-model="vm.shapes"
            ng-model-fields="shapes,width,height">
            <picture-form-shapes
                read-only="vm.isReadOnly()"
                show-save-button="!vm.isReadOnly()"
                picture-form-shapes-api="vm.pictureFormShapesApi"
                has-unsaved-changes="vm.canvasEditButtonVisible && !vm.isReadOnly()"
                picture="vm.picture"
                shapes="vm.shapes"
                lc-api="vm.lcApi"></picture-form-shapes>
        </editable-select-list>
    </div>
</div>
