<a role="button" ng-click="vm.leaveProject()"
   title="{{ 'Back to project list' | translate }}"><span class="fa fa-chevron-left fa-fw"></span></a>

<project-link class="project-name" project-pk="vm.project.pk"></project-link>

<div style="display: inline" ng-repeat="breadcrumb in vm.breadcrumbs">
    <span ng-show="$first">/</span>
    <a ng-href="{{ breadcrumb.url }}" ng-show="breadcrumb.url" ng-bind="breadcrumb.title"></a>
    <span ng-show="!breadcrumb.url" ng-bind="breadcrumb.title"></span>
    <span ng-show="!$last">/</span>
</div>
