<h2>{{ vm.date.format('LL') }}</h2>

<div class="panel panel-default">
    <div class="panel-body">
        <div class="drawer-pf-notification unread" ng-repeat="meeting in vm.meetings" ng-click="vm.editCallback(meeting)">
            <span class="pull-left">
                <i class="{{ vm.meetingIcon }}" aria-hidden="true"></i>
            </span>
            <span class="drawer-pf-notification-message">{{ meeting.title }}</span>
            <div class="drawer-pf-notification-info">
                <span class="time">{{ meeting.date_time_start | smallDate }}</span>
                <br>
                <span class="time">{{ meeting.date_time_end | smallDate }}</span>
            </div>
        </div>
    </div>
</div>
