export const environment = {
  production: true,
  apiUrl: 'https://{{ app_name }}<domain>/api',
  wsUrl: 'wss://{{ app_name }}<domain>/ws',
  tracking: true,
  matomoUrl: 'https://webstat.<domain>/',
  matomoId: 135,
  labBookSocketRefreshInterval: 2500,
};
