<form class="form-horizontal" ng-submit="vm.doAdd()">
    <div class="modal-header">
        <h3 class="modal-title" id="modal-title" translate>
            Add User to project {{ vm.project.name }}
        </h3>
    </div>
    <div class="modal-body" id="modal-body">
        <div ng-if="!vm.inviteExternalUser">
            <user-selectize-widget
                class="selectize-no-arrow"
                placeholder="{{ 'Search for existing users by name or e-mail' | translate }}"
                selected-user-pk="vm.selectedUserPk"
                users="[]"
                max-items="1"></user-selectize-widget>
            <div ng-show="!vm.selectedUserPk" translate>
                If you can not find the user you are looking for, you can
                <a ng-click="vm.toggleInvite()" role="button">invite an external user</a>.
            </div>
        </div>

        <div ng-if="vm.inviteExternalUser">
            <p>Please enter the e-mail address of the user you want to invite to this project. You can also specify a
                personal message directed to the user.</p>
            <!-- E-Mail -->
            <div class="form-group">
                <label class="col-sm-3 control-label" translate>
                    E-Mail
                </label>
                <div class="col-sm-9">
                    <validated-form-element id="input_project_create_name"
                                            input-element="text" field-name="email"
                                            placeholder="{{ 'Please enter an e-mail address' | translate }}"
                                            ng-model="vm.email"  errors="vm.errors['email']">
                    </validated-form-element>
                </div>
            </div>
            <!-- Message -->
            <div class="form-group">
                <label class="col-sm-3 control-label" translate>
                    Message
                </label>
                <div class="col-sm-9">
                    <validated-form-element id="input_project_create_name"
                                            rows="5"
                                            input-element="textarea" field-name="text"
                                            placeholder="{{ 'Please enter a message directed to the user' | translate }}"
                                            ng-model="vm.text"  errors="vm.errors['message']">
                    </validated-form-element>
                </div>
            </div>

        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-default" type="button" ng-click="vm.dismiss()" translate>
            Cancel
        </button>
        <button class="btn btn-warning" type="submit" translate>
            Add
        </button>
    </div>
</form>
