<!-- Project info -->
<div class="row">
    <div class="form-horizontal" name="editProjectForm">
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4">
            <!-- Project Name -->
            <div class="form-group">
                <label class="col-sm-2 col-md-3" for="project_name"
                    title="{{ 'mandatory field' | translate }}">
                    <span translate>Title *</span>
                </label>
                <div class="col-sm-9">
                    <editable-select-list
                        edit-disabled="!vm.canEditProject || vm.isReadOnly()"
                        on-save="vm.saveProjectPartial('name', ngModel)"
                        on-save-multiple="vm.saveProject()"
                        on-abort="vm.resetErrors()"
                        ng-model="vm.project.name">
                        <ng-include src="'js/screens/project/projectForm.name.html'"></ng-include>
                    </editable-select-list>
                </div>
            </div>

            <!-- Project Description -->
            <div class="form-group">
                <label class="col-sm-2 col-md-3" for="project_description">
                    <span translate>Description</span>
                </label>
                <div class="col-sm-9">
                    <editable-select-list
                        compare-mode="html"
                        edit-disabled="!vm.canEditProject || vm.isReadOnly()"
                        on-save="vm.saveProjectPartial('description', ngModel)"
                        on-save-multiple="vm.saveProject()"
                        on-abort="vm.resetErrors()"
                        ng-model="vm.project.description">
                        <ng-include src="'js/screens/project/projectForm.description.html'"></ng-include>
                    </editable-select-list>
                </div>
            </div>

            <!-- Project Start Date -->
            <div class="form-group">
                <label class="col-sm-2 col-md-3" for="project_start_date">
                    <span translate>From</span>
                </label>
                <div class="col-sm-9">
                    <editable-select-list
                        edit-disabled="!vm.canEditProject || vm.isReadOnly()"
                        compare-mode="date"
                        compare-mode-date-granularity="days"
                        on-save="vm.saveProjectPartial('start_date', ngModel)"
                        on-save-multiple="vm.saveProject()"
                        on-abort="vm.resetErrors()"
                        ng-model="vm.project.start_date">
                        <ng-include src="'js/screens/project/projectForm.startDate.html'"></ng-include>
                    </editable-select-list>
                </div>
            </div>

            <!-- Project Stop Date -->
            <div class="form-group">
                <label class="col-sm-2 col-md-3" for="project_stop_date">
                    <span translate>To</span>
                </label>
                <div class="col-sm-9">
                    <editable-select-list
                        edit-disabled="!vm.canEditProject || vm.isReadOnly()"
                        compare-mode="date"
                        compare-mode-date-granularity="days"
                        on-save="vm.saveProjectPartial('stop_date', ngModel)"
                        on-save-multiple="vm.saveProject()"
                        ng-model="vm.project.stop_date">
                        <ng-include src="'js/screens/project/projectForm.stopDate.html'"></ng-include>
                    </editable-select-list>
                </div>
            </div>

            <!--&lt;!&ndash; Project Storage &ndash;&gt;-->
            <!--<div class="form-group">-->
            <!--<label class="col-sm-2 col-md-3" for="project_storage_space">-->
            <!--<span translate>Storage Space</span>-->
            <!--</label>-->
            <!--<div class="col-sm-9">-->
            <!--<editable-select-list-->
            <!--edit-disabled="!vm.canEditProject || vm.isReadOnly()"-->
            <!--on-save="vm.saveProjectPartial('storage_space', ngModel)"-->
            <!--on-abort="vm.resetErrors()"-->
            <!--ng-model="vm.project.storage_space">-->
            <!--<ng-include src="'js/screens/project/projectForm.storageSpace.html'"></ng-include>-->
            <!--</editable-select-list>-->
            <!--</div>-->
            <!--</div>-->

            <!-- Project State -->
            <div class="form-group">
                <label class="col-sm-2 col-md-3" for="project_state">
                    <span translate>State</span>
                </label>
                <div class="col-sm-9">
                    <editable-select-list edit-disabled="!vm.canEditProject || vm.isReadOnly()"
                                          on-save="vm.saveProjectPartial('project_state', ngModel)"
                                          on-save-multiple="vm.saveProject()"
                                          on-abort="vm.resetErrors()"
                                          ng-model="vm.project.project_state">
                        <project-state-selectize-widget ng-readonly="vm.isReadOnly()"
                                                        selected-project-state="vm.project.project_state"></project-state-selectize-widget>
                    </editable-select-list>
                </div>
            </div>

            <!-- Contains [Note, Contacts, File, DMPs] -->
            <div class="form-group">
                <label class="col-sm-2 col-md-3" translate>Contains</label>
                <div class="col-sm-9">
                    <!-- Show Contact Link -->
                    <a role="button"
                       ui-sref="contact-list({filterProjects:vm.project.pk})" translate>
                        Contacts,
                    </a>
                    <!-- Show DMP Link -->
                    <a role="button"
                       ui-sref="dmp-list({filterProjects:vm.project.pk})" translate>
                        DMPs,
                    </a>
                    <!-- Show File Button -->
                    <a role="button"
                       ui-sref="file-list({filterProjects:vm.project.pk})" translate>
                        Files,
                    </a>
                    <!-- Show Note Button -->
                    <a role="button"
                       ui-sref="note-list({filterProjects:vm.project.pk})" translate>
                        Comments,
                    </a>
                    <!-- Show Task Button -->
                    <a role="button"
                       ui-sref="task-list({filterProjects:vm.project.pk})" translate>
                        Tasks,
                    </a>
                    <!-- Show Task Button -->
                    <a role="button"
                       ui-sref="meeting-list({filterProjects:vm.project.pk})" translate>
                        Meetings,
                    </a>
                    <!-- Show Task Button -->
                    <a role="button"
                       ui-sref="resource-list({filterProjects:vm.project.pk})" translate>
                        Resources
                    </a>
                </div>
            </div>
        </div>

        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4">
            <created-and-updated-by-widget element="vm.project"></created-and-updated-by-widget>

            <!-- parent project -->
            <div class="form-group">
                <label class="col-sm-2 col-md-3" for="project_parent_project">
                    <span translate>Parent Project</span>
                    <a ng-if="vm.project.parent_project != undefined && vm.project.parent_project != null"
                       title="{{ 'Open parent project' | translate }}"
                       ui-sref="project-view({project: vm.project.parent_project})">
                        <span class="{{ :: vm.projectIcon }}"></span>
                    </a>
                </label>
                <div class="col-sm-9" style="text-align: left">
                    <editable-select-list
                        edit-disabled="!vm.canEditProject || vm.isReadOnly()"
                        on-save="vm.saveProjectPartial('parent_project', ngModel)"
                        on-save-multiple="vm.saveProject()"
                        on-abort="vm.resetErrors()"
                        ng-model="vm.project.parent_project">

                        <single-project-selection read-only="!vm.canEditProject || vm.isReadOnly()"
                                                  selected-project-pk="vm.project.parent_project"
                                                  error="vm.errors['parent_project']">
                        </single-project-selection>
                    </editable-select-list>
                </div>
            </div>
        </div>

        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4">
            <div ng-if="vm.canViewRoles">
                <div ng-if="vm.projectsDict">
                    <!-- Display all project members and their roles (readonly) -->
                    <div class="panel role-panel panel-default" ng-if="!vm.projectMemberDetailView">
                        <div class="panel-heading" style="padding-left: 10px">
                            <a ng-click="vm.toggleProjectMembersEditMode()" ng-disabled="vm.isReadOnly()" role="button"
                               title="{{ 'Edit members' | translate }}">
                                <!-- show a button to toggle between this readonly mode and the edit mode -->
                                <i ng-show="vm.canEditRoles || vm.canAddRoles" class="fa fa-pencil"
                                   aria-hidden="true"></i>
                            </a>
                            <span translate>Project members</span>
                        </div>
                        <div class="panel-body">
                            <display-all-project-members-with-roles-widget
                                project="vm.project"></display-all-project-members-with-roles-widget>
                        </div>
                    </div>

                    <!-- Display all project members and their roles (grouped by project, editable) -->
                    <div ng-if="vm.projectMemberDetailView">
                        <div class="panel role-panel panel-default" ng-if="vm.project.parent_project">
                            <div class="panel-heading" title="{{ 'Click to expand' | translate }}">
                        <span ng-click="vm.showMembersOfParentProjects = !vm.showMembersOfParentProjects" role="button">
                            <span class="fa fa-caret-right" ng-show="!vm.showMembersOfParentProjects"></span>
                            <span class="fa fa-caret-down" ng-show="vm.showMembersOfParentProjects"></span>
                            <span translate>Members of parent projects</span>
                        </span>
                            </div>
                            <div class="panel-body" uib-collapse="!vm.showMembersOfParentProjects">
                                <label ng-repeat-start="parentProjectPk in vm.parentProjects">
                                    <span translate>Members of project </span>
                                    <display-project-widget project-pk="parentProjectPk"></display-project-widget>
                                </label>

                                <display-project-roles-widget project="vm.projectsDict[parentProjectPk]">
                                </display-project-roles-widget>

                                <hr ng-show="!$last"/>

                                <span ng-repeat-end></span>
                            </div>
                        </div>

                        <div class="panel role-panel panel-default">
                            <div class="panel-heading" style="padding-left: 10px">
                                <a ng-click="vm.toggleProjectMembersEditMode()" role="button"
                                   title="{{'Back to simple project member list' | translate}}">
                                    <i class="fa fa-arrow-left" aria-hidden="true"></i>
                                </a>
                                <span translate>Members of project {{ vm.project.name }}</span>
                            </div>
                            <div class="panel-body">
                                <display-project-roles-widget project="vm.project"></display-project-roles-widget>
                            </div>
                        </div>

                        <!-- members of sub projects -->
                        <div class="panel role-panel panel-default" ng-if="vm.project.project_tree.length > 1">
                            <div class="panel-heading" title="{{ 'Click to expand' | translate }}">
                        <span ng-click="vm.showMembersOfSubProjects = !vm.showMembersOfSubProjects" role="button">
                            <span class="fa fa-caret-right" ng-show="!vm.showMembersOfSubProjects"></span>
                            <span class="fa fa-caret-down" ng-show="vm.showMembersOfSubProjects"></span>
                            <span translate>Members of sub projects</span>
                        </span>
                            </div>
                            <div class="panel-body" uib-collapse="!vm.showMembersOfSubProjects">
                                <label
                                    ng-repeat-start="subProject in vm.project.project_tree | filter: vm.onlyAvailableProjects | filter: {'pk': '!' + vm.project.pk}">
                                    <span translate>Members of project </span>
                                    <display-project-widget project-pk="subProject.pk"></display-project-widget>
                                </label>

                                <display-project-roles-widget
                                    project="vm.projectsDict[subProject.pk]"></display-project-roles-widget>

                                <hr ng-show="!$last"/>

                                <span ng-repeat-end></span>
                            </div>
                        </div>
                    </div>
                </div>

                <loading-text loading="!vm.projectsDict"><span translate>projects</span></loading-text>
            </div>

        </div>
    </div>
</div>
