<!-- screen header with title, search bar and buttons -->
<div class="card-panel element-panel">
    <screen-header-function-bar
        screen-new-entity="{{ 'New Project' | translate }}"
        screen-new-entity-type="project"
        show-user-field="false"
        show-search-field="false"
        show-add-new-button="vm.currentUser.permissions.indexOf('projects.add_project') >= 0"
        show-project-field="false"
        current-view="vm.currentView">
        <screen-title>
            <span translate>Projects</span>
        </screen-title>
    </screen-header-function-bar>
</div>

<generic-list-loading-widget
    loading-flag="vm.projectsLoaded"
    loading-text="Projects">
</generic-list-loading-widget>

<div ng-show="vm.projects.length == 0 && vm.projectsLoaded" translate>
    You are currently not assigned to any projects.
</div>

<!-- List View -->
<div ng-if="vm.currentView === 'list'">
    <project-table-view projects="vm.projects" order-by="vm.orderBy" order-dir="vm.orderDir"></project-table-view>

    <div class="task-legend clearfix">
        <div ng-include="'js/widgets/projectLegend/projectLegendWidget.html'"></div>
    </div>
</div>

<!-- Card View -->
<div class="row" ng-if="vm.currentView === 'card' && vm.projectsLoaded">
    <project-card-view projects="vm.projects"></project-card-view>

    <div class="task-legend bottom">
        <div ng-include="'js/widgets/projectLegend/projectLegendWidget.html'"></div>
    </div>
    <div class="task-legend spacer"></div>
</div>

<div class="text-center mb-30" ng-if="vm.projects.length > 0 && vm.projectsLoaded">
    <ul uib-pagination
        total-items="vm.numberOfProjects"
        items-per-page="vm.currentLimit"
        force-ellipses="true"
        boundary-link-numbers="true"
        max-size="15"
        ng-model="vm.currentPage"
        ng-change="vm.pageChanged()">
    </ul>
</div>
