<div class="footer">
    <table border="0" cellpadding="0" cellspacing="0">
        <tr>
            <td class="content-block">
                <span class="apple-link">
                    TUM Workbench
                </span>
                <p>
                Please do not reply to this e-mail. If you want to contact the TUM Workbench team, please use the following e-mail address: <a href="mailto:workbench@ub.tum.de">workbench@ub.tum.de</a>.
                </p>
                <p>
                Technical University of Munich<br />
                University Library<br />
                TUM Research Service Center
                </p>
            </td>
        </tr>
    </table>
</div>
