/**
 * Copyright (C) 2016-2020 TU Muenchen and contributors of ANEXIA Internetdienstleistungs GmbH
 * SPDX-License-Identifier: AGPL-3.0-or-later
 */

import { Pipe, PipeTransform } from '@angular/core';

@Pipe({
  name: '<%= camelize(name) %>',
})
export class <%= classify(name) %>Pipe implements PipeTransform {
  public transform(value: unknown, ...args: unknown[]): unknown {
    return null;
  }
}
