<div class="card-panel element-panel">
    <screen-header-function-bar
            selected-projects="vm.selectedProjects"
            current-view="vm.currentView"
            show-search-field="false"
            show-user-field="false"
            show-add-new-button="false"
            show-display-deleted-button="false"
            show-view-field="false"
    >
        <screen-title>
            <span translate>Last Activities</span>
        </screen-title>
        <additional-filter>
            <select id="modelSelected"
                    ng-model="vm.filterSelectedType"
                    ng-change="vm.changeFilterType()"
                    ng-disabled="!vm.historyLoaded"
                    class="form-control"
                    style="display: inline; width: 100%"
                    ng-options="item.value as item.display for item in vm.modelList track by item.key">
                <option value="" disabled selected hidden>
                    Select element type
                </option>
                <!-- <option value="">All types</option> -->
            </select>
        </additional-filter>
    </screen-header-function-bar>
</div>

<generic-list-loading-widget
        loading-flag="vm.historyLoaded"
        loading-text="Last Activities">
</generic-list-loading-widget>

<div ng-show="vm.historyLoaded && vm.histories.length > 0">
    <table-view-grid-expandable
            key="history"
            data="vm.histories"
            grid-options="vm.gridOptions"
            order-by="vm.orderBy"
            order-dir="vm.orderDir">
    </table-view-grid-expandable>
    <div class="text-center">
        <ul uib-pagination
            total-items="vm.numberOfChanges"
            items-per-page="vm.currentLimit"
            force-ellipses="true"
            boundary-link-numbers="true"
            max-size="15"
            ng-model="vm.currentPage"
            ng-change="vm.pageChanged()">
        </ul>
    </div>
</div>

<div ng-if="vm.filterSelectedType && vm.histories.length <= 0 && vm.historyLoaded" style="color:gray;margin:3px">
    No entries
</div>

<div ng-if="!vm.filterSelectedType" translate class="important-hint">
    Please select an element type to show the last activities for.
</div>
