<div class="modal-header">
    <h3 class="modal-title" id="modal-title" translate>
        Delete Privilege
    </h3>
</div>
<div class="modal-body" id="modal-body">
    <capture-html param="userDisplayWidget">
        <user-display-widget user="vm.privilege.user"></user-display-widget>
    </capture-html>

    <span translate translate-html-params-user-display-widget="userDisplayWidget">
        Do you really want to delete privileges for user {{ userDisplayWidget }}?
    </span>
</div>
<div class="modal-footer">
    <button class="btn btn-default" ng-click="vm.dismiss()" translate>Cancel</button>
    <button class="btn btn-warning" ng-click="vm.confirm()" translate>Delete</button>
</div>
