<!-- screen header with title, search bar and buttons -->
<div class="row">
    <div class="col-xs-12 col-sm-3 col-md-3 col-lg-2 screen-header-title">
        <!-- transclude screenTitle (default: show vm.screenTitle) -->
        <div ng-transclude="screenTitle" style="display: inline-block"></div>

        <a type="button" class="visible-xs-inline-block pull-right"
           ng-click="vm.createNewEntity()"
           tabindex="0"
           title="{{ vm.screenNewEntity }}" translate>
            {{ vm.screenNewEntity }}
        </a>
    </div>
    <div class="col-xs-12 col-sm-9 col-md-9 col-lg-7">
        <div class="form-horizontal" style="margin-top: 5px">
            <div class="row">
                <div class="col-xs-6 col-sm-3 col-md-3" ng-if="vm.showProjectField">
                    <multi-project-selection
                        selected-project-pks="vm.selectedProjects"
                        placeholder="{{ 'Filter by project' | translate}}"
                        max-items="1">
                    </multi-project-selection>
                </div>
                <div class="col-xs-6 col-sm-3 col-md-3" ng-if="vm.showUserField">
                    <!-- filter by user -->
                    <user-selectize-widget
                        selected-user-pk="vm.selectedUsers"
                        placeholder="{{ 'Filter by user' | translate }}"
                        max-items="1"
                        users="vm.users"></user-selectize-widget>
                </div>
                <div class="col-xs-6 col-sm-3 col-md-3" ng-if="vm.showSearchField">
                    <!-- search bar -->
                    <div class="form-group has-feedback has-clear">
                        <div class="col-xs-12">
                            <search-field-widget
                                initial-search-field-value="{{ vm.searchField }}"
                                do-search="vm.doSearch(searchString)" cancel-search="vm.cancelSearch()"
                                search-input-length="3" debounce="500">
                            </search-field-widget>
                        </div>
                    </div>
                </div>
                <div class="col-xs-6 col-sm-3 col-md-3">
                    <div ng-transclude="additionalFilter"></div>
                </div>
            </div>
        </div>
    </div>
    <!-- Display a "New" button aswell as list view vs. card view -->
    <div class="hidden-xs col-xs-12 col-sm-6 col-md-4 col-lg-3 text-right">
        <screen-header-function-bar-view-button
            ng-if="vm.showViewField"
            current-view="vm.currentView"
            title="vm.listViewTitle"
            text-title="{{::'List View' | translate}}"
            view-name="list"
            icon-class="fa-th-list">
        </screen-header-function-bar-view-button>

        <screen-header-function-bar-view-button
            ng-if="vm.showViewField"
            current-view="vm.currentView"
            title="vm.cardViewTitle"
            text-title="{{::'Card View' | translate}}"
            view-name="card"
            icon-class="fa-th">
        </screen-header-function-bar-view-button>

        <!-- Create new entity -->
        <div class="pull-right" ng-if="vm.showAddNewButton">
            <button type="button" class="btn btn-primary btn-create-new" tabindex="0"
                    ng-disabled="vm.displayDeleted"
                    title="{{ vm.screenNewEntity }}"
                    ng-click="vm.createNewEntity()">
                <span ng-bind="vm.screenNewEntity"></span>
            </button>
        </div>

        <!-- Toggle Button for Recycle Bin/Trash -->
        <div class="pull-right trashed-button" ng-if="vm.showDisplayDeletedButton">
            <button type="button" class="btn" tabindex="0"
                    title="{{ 'Click to show trashed elements' | translate }}"
                    ng-click="vm.showTrashedItems()">
                <i class="fa fa-trash" aria-hidden="true"></i>
                <span translate>Show</span>
            </button>
        </div>
    </div>
</div>
