{% block content %}
    <p>
    <h4 class="created_meetings_title">
        All meetings that the user has created:
    </h4>
    </p>
    <p>

    <div class="created_meetings">
        <table>
            <tr>
                <th>#</th>
                <th>FTS Language</th>
                <th>Appointment title</th>
                <th>Appointment start date</th>
                <th>Appointment end date</th>
                <th>Appointment description</th>
            </tr>

            {% for meeting in user.meeting_created.all %}
               <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ meeting.fts_language }}</td>
                    <td>{{ meeting.title }}</td>
                    <td>{{ meeting.date_time_start }}</td>
                    <td>{{ meeting.date_time_end }}</td>
                    <td>{{ meeting.text }}</td>
               </tr>
            {% endfor %}
        </table>
        <br>
        <table>
            <tr>
                <th>#</th>
                <th>Resource</th>
                <th>Attending users</th>
                <th>Attending contacts</th>
                <th>Associated projects</th>
            </tr>

            {% for meeting in user.meeting_created.all %}
               <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ meeting.resource }}</td>
                    <td>{% for attended_user in meeting.attending_users.all %}
                            {{ attended_user }}
                        {% endfor %}
                    </td>
                   <td>{% for attended_contact in meeting.attending_contacts.all %}
                            {{ attended_contact }}
                        {% endfor %}
                    </td>
                   <td>{% for project in meeting.projects.all %}
                            {{ project }}
                        {% endfor %}
                    </td>
               </tr>
            {% endfor %}
        </table>
        <br>
        <table>
            <tr>
                <th>#</th>
                <th>Created by</th>
                <th>Last modified by</th>
                <th>Created at:</th>
                <th>Last modified at</th>
            </tr>

            {% for meeting in user.meeting_created.all %}
               <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ meeting.created_by }}</td>
                    <td>{{ meeting.last_modified_by }}</td>
                    <td>{{ meeting.created_at }}</td>
                    <td>{{ meeting.last_modified_at }}</td>
               </tr>
            {% endfor %}
        </table>
        <br>
        <table>
            <tr>
                <th>#</th>
                <th>CS Created by</th>
                <th>CS Last modified by</th>
                <th>CS Created at:</th>
                <th>CS Last modified at</th>
            </tr>

            {% for meeting in user.meeting_created.all %}
               <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ meeting.cs_created_by }}</td>
                    <td>{{ meeting.cs_last_modified_by }}</td>
                    <td>{{ meeting.cs_created_at }}</td>
                    <td>{{ meeting.cs_last_modified_at }}</td>
               </tr>
            {% endfor %}
        </table>
    </div>

    </p>
{% endblock %}
