<div style="display: inline-block" ng-if="vm.meeting.attending_users && vm.meeting.attending_users.length > 0">
<user-display-widget user="vm.meeting.attending_users[0]"></user-display-widget>

    <!-- if there are more than 1 user, display a text -->
    <span ng-show="vm.meeting.attending_users.length > 1" translate>
        and
        <a uib-popover-template="'js/screens/meeting/meetingTableView.attendingUsersPopover.html'"
           popover-placement="auto"
           popover-trigger="'mouseenter'"
           popover-popup-delay="250"
           popover-class="popover-large"
       role="button" tabindex="0" ng-click="vm.showAttendingUsersForMeeting(vm.meeting)">
        {{ vm.meeting.attending_users.length - 1 }} more
        </a>
    </span>
</div>
