<div class="relation-list">
    <div class="row" style="padding-top: 15px;">
        <!-- Title -->
        <div class="col-xs-12 col-md-3" style="height: 30px">
            <h3 style="margin-top: 5px; margin-bottom: 0px; font-weight: bold">
                <span translate>Linked with</span>
                <div style="margin-left: 5px;"
                     class="btn-group" uib-dropdown keyboard-nav>
                    <button id="single-button" type="button" class="btn btn-primary" uib-dropdown-toggle
                            ng-disabled="disabled">
                        <span translate>New link</span> <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="single-button"
                        style="min-width: 120px">

                        <!-- list all model names with their icons -->
                        <li role="menuitem" ng-repeat="model in vm.relatedModelsWithIcons | orderBy: 'title'">
                            <a role="button" class="clickable" tabindex="0" ng-click="vm.createGenericRelation(model)">
                                <i class="{{ :: model.icon }}" style="width: 17px"></i>
                                <span ng-bind="model.title"></span>
                            </a>
                        </li>
                    </ul>
                </div>
            </h3>
        </div>

        <div class="col-xs-12 col-md-offset-1 col-lg-offset-0 col-md-2 " style="height: 30px"
             ng-if="vm.relations.length > 0">
            <div class="row">
                <div class="col-xs-offset-6 col-xs-2 col-md-offset-0 col-md-5">
                    <screen-header-function-bar-view-button-row
                        current-view="vm.currentView"
                        title="vm.listViewTitle"
                        text-title="{{::'List View' | translate}}"
                        view-name="list"
                        icon-class="fa-th-list" style="margin-left: 5px">
                    </screen-header-function-bar-view-button-row>
                </div>
                <div class="col-xs-1 col-sm-3 col-md-4">
                    <screen-header-function-bar-view-button-row
                        current-view="vm.currentView"
                        title="vm.cardViewTitle"
                        text-title="{{::'Card View' | translate}}"
                        view-name="card"
                        icon-class="fa-th">
                    </screen-header-function-bar-view-button-row>
                </div>
            </div>
        </div>
        <!-- Latest / Oldest -->
        <div class="col-xs-12 col-md-offset-3 col-lg-offset-4 col-md-3" style="height: 30px"
             ng-if="vm.relations.length > 0">
            <div style="width: 50%; float: left" ng-if="vm.currentView=='card'">
                <!-- Radio buttons for date filter -->
                <label class="radio-buttons">
                    <input type="radio"
                           ng-model="vm.relationFilterDateSelected"
                           value="-created_at">
                    <span translate>Latest</span>
                </label>
                <label class="radio-buttons">
                    <input type="radio"
                           ng-model="vm.relationFilterDateSelected"
                           value="created_at">
                    <span translate>Oldest</span>
                </label>
            </div>
            <div style="width: 50%; float: right">
                <!-- Dropdown for model type filter -->
                <select id="filter_model"
                        ng-model="vm.relationFilterModelSelected"
                        class="form-control"
                        style="display: inline;"
                        aria-label="Filter Links">
                    <option translate selected="selected" value="">Filter Links</option>
                    <option ng-repeat="model in vm.relatedModelsWithIcons" value="{{model.key}}">
                        {{model.title}}
                    </option>
                </select>
            </div>
        </div>
    </div>

    <div class="row" style="margin-top: 10px">
        <!-- Display "Create Note Relation" on first place -->
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
            <display-relation-widget new-note-relation="true"
                                     relation-model="vm.baseUrlModel"
                                     relation-contentobject="vm.baseModel">
            </display-relation-widget>
        </div>

        <!-- Loading -->
        <loading-text loading="!vm.relationLoaded">links</loading-text>

        <div ng-if="vm.relationLoaded">
            <!-- Card View -->
            <div ng-if="vm.currentView == 'card'"
                 ng-repeat="relation in vm.relations | filter: vm.filterModelType | filter: vm.filterTrashed | orderBy: vm.relationFilterDateSelected as filteredRelation track by relation.pk"
                 class="col-xs-12 col-sm-6 col-md-4 col-lg-3 ng-animate-enabled ng-animate-list-item">
                <div ng-if="relation.right_object_id == vm.baseModel.pk">
                    <display-relation-widget relation="relation"
                                             relation-contentobject="relation.left_content_object"
                                             relation-model="relation.left_content_type_model" project="vm.project">
                    </display-relation-widget>
                </div>
                <div ng-if="relation.left_object_id == vm.baseModel.pk && relation.right_object_id != vm.baseModel.pk">
                    <display-relation-widget relation="relation"
                                             relation-contentobject="relation.right_content_object"
                                             relation-model="relation.right_content_type_model" project="vm.project">
                    </display-relation-widget>
                </div>
            </div>

            <!-- List View -->
            <div ng-if="vm.currentView == 'list'"
                 class="col-xs-12 col-sm-6 col-md-8 col-lg-9 ng-animate-enabled ng-animate-list-item">
                <div class="table table-responsive">
                    <relation-table-view
                        relations="vm.relations"
                        date-filter="vm.relationFilterDateSelected"
                        model-filter="vm.relationFilterModelSelected"
                        order-by="vm.orderBy"
                        order-dir="vm.orderDir">
                    </relation-table-view>
                </div>
            </div>
        </div>
    </div>

</div>
