<div style="display: inline; width: 30px; text-align: right" class="pull-right" uib-dropdown dropdown-append-to-body keyboard-nav="true">
    <a role="button" tabindex="0" style="color:white; text-decoration: none" uib-dropdown-toggle>
        &nbsp;
        <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
    </a>
    <ul class="dropdown-menu dropdown-menu-right" uib-dropdown-menu aria-labelledby="{{ 'Extended menu' }}">
        <li>
            <a ng-if="vm.hasPrivileges"
               ng-click="vm.showPrivileges()" role="button" href>
                <i class="{{ ::vm.icons.privileges }}"></i> <span translate>Privileges</span>
            </a>
            <a ng-if="vm.hasExport"
               ng-click="vm.exportObject()" role="button" href>
                <i class="{{ ::vm.icons.export_pdf }}"></i> <span translate>Export</span>
            </a>
            <a ng-if="vm.hasTrash && !vm.baseModel.deleted && perms.has('object.trash', vm.baseModel)"
               ng-click="vm.reallyTrashObject()" role="button" href>
                <i class="{{ ::vm.icons.trash }}"></i> <span translate>Trash</span>
            </a>
            <a ng-if="vm.hasRestore && vm.baseModel.deleted && perms.has('object.restore', vm.baseModel)"
               ng-click="vm.restoreObject()" role="button" href>
                <i class="{{ ::vm.icons.restore }}"></i> <span translate>Restore</span>
            </a>
            <a ng-if="vm.hasNewElement" ng-click="vm.createNewElement()" role="button" href>
                <i class="{{ ::vm.icons.add }}"></i> <span translate>New</span>
            </a>
            <a ng-if="vm.hasDuplicate" ng-click="vm.duplicateObject()" role="button" href>
                <i class="{{ ::vm.icons.duplicate }}"></i> <span translate>Duplicate</span>
            </a>
            <a ng-if="vm.hasShare" ng-click="vm.shareObject()" role="button" href>
                <i class="{{ ::vm.icons.share }}"></i> <span translate>Share</span>
            </a>
        </li>
    </ul>
</div>
