{% extends "email/simple_email_template.html" %}
{% load i18n %}

{% block header_title %}
    {% blocktrans %}{{ subject }}{% endblocktrans %}
{% endblock %}

{% block preheader %}
{% endblock %}

{% block content %}
    <p>{% blocktrans %}Dear eRIC Workbench administrators!{% endblocktrans %}</p>

    <p>
        {% blocktrans %}
            User {{ request_author }} &lt;{{ request_author_mail }}&gt; requested a new metadata field.
        {% endblocktrans %}
    </p>

    <table style="border-spacing:5px">
        <tr>
            <td style="font-weight:bold;padding-right:1em;">{% trans "Title:" %}</td>
            <td width="100%">{{ field_name }}</td>
        </tr>
        <tr>
            <td style="font-weight:bold;padding-right:1em;">{% trans "Description:" %}</td>
            <td>{{ field_description }}</td>
        </tr>
        <tr>
            <td style="font-weight:bold;padding-right:1em;">{% trans "Field type:" %}</td>
            <td>{{ field_base_type }}</td>
        </tr>
        <tr>
            <td style="font-weight:bold;padding-right:1em;">{% trans "Settings:" %}</td>
            <td style="padding:0">
                <table style="border-spacing:0">
                    {% for key, value in field_settings %}
                        <tr>
                            <td style="padding-right:1em">{{ key }}:</td>
                            <td width="100%">{{ value }}</td>
                        </tr>
                    {% endfor %}
                </table>
            </td>
        </tr>
    </table>
{% endblock %}

{% block footer %}
{% include 'email/_footer.html' %}
{% endblock %}
