<div class="card-display">
    <h4 class="header" ng-if="vm.modelIcon && vm.modelName">
        <i class="{{ vm.modelIcon }}" aria-hidden="true" title="{{ vm.modelName }}"></i>
        <!-- 'Model' -->
        <span>{{ vm.modelName }}</span>
    </h4>
    <h4 class="header" ng-if="!vm.modelIcon || !vm.modelName">
        <i class="{{:: vm.alertIcon }}" aria-hidden="true" title="{{ 'Permission denied ' | translate}}"></i>
        <span translate>Permission denied</span>
    </h4>

    <div class="content">
        <span translate>You are not allowed to view this element.
            If you believe that you should be able to see this element, please contact the user that linked this element.</span>
        {{ vm.relationContentobject.detail }}
    </div>

    <div class="card-footer" ng-transclude="cardFooter"></div>
</div>
