<!-- Title -->
<div class="form-group">
    <label class="col-xs-5 col-sm-3 col-md-3 col-lg-2 control-label" translate>
        Title
    </label>
    <div  class="col-xs-7 col-sm-9 col-md-9 col-lg-10">

        <validated-form-element     id="input_new_relation_meeting_title"
                                    input-element="text" field-name="title"
                                    placeholder="{{ 'Title of the appointment' | translate }}"
                                    ng-model="vm.modelObject.title"  errors="vm.errors['title']">
        </validated-form-element>
    </div>
</div>
<!-- Text -->
<div class="form-group">
    <label class="col-xs-5 col-sm-3 col-md-3 col-lg-2 control-label" translate>
        Text
    </label>
    <div class="col-xs-7 col-sm-9 col-md-9 col-lg-10">

        <validated-form-element     id="input_new_relation_meeting_text"
                                    input-element="textarea" field-name="text"
                                    placeholder="{{ 'Text of the appointment' | translate }}" rows="3"
                                    ng-model="vm.modelObject.text"  errors="vm.errors['text']">
        </validated-form-element>
    </div>
</div>
<!-- Start Date -->
<div class="form-group">
    <label class="col-xs-5 col-sm-3 col-md-3 col-lg-2 control-label" translate>
        Start Date
    </label>
    <div class="col-xs-7 col-sm-9 col-md-9 col-lg-10">

        <validated-form-element id="input_new_relation_meeting_start_date"
                                input-element="date" field-name="start_date"
                                placeholder="{{ 'Start date and time for the appointment' | translate }}"
                                ng-model="vm.modelObject.date_time_start"
                                date-picker-options="vm.datePickerOptions"
                                errors="vm.errors['date_time_start']">
        </validated-form-element>
    </div>
</div>
<!-- End Date -->
<div class="form-group">
    <label class="col-xs-5 col-sm-3 col-md-3 col-lg-2 control-label" translate>
        End Date
    </label>
    <div class="col-xs-7 col-sm-9 col-md-9 col-lg-10">

        <validated-form-element id="input_new_relation_meeting_end_date"
                                input-element="date" field-name="end_date"
                                placeholder="{{ 'End date and time for the appointment' | translate }}"
                                ng-model="vm.modelObject.date_time_end"
                                date-picker-options="vm.datePickerOptions"
                                errors="vm.errors['date_time_end']">
        </validated-form-element>
    </div>
</div>
