<!-- Firstname -->
<div class="form-group">
    <label class="col-xs-5 col-sm-3 col-md-3 col-lg-2 control-label" translate>
        Firstname
    </label>
    <div  class="col-xs-7 col-sm-9 col-md-9 col-lg-10">

        <validated-form-element     id="input_new_relation_contact_firstname"
                                    input-element="text" field-name="firstname"
                                    placeholder="{{ 'Firstname of the contact' | translate }}"
                                    ng-model="vm.modelObject.first_name"  errors="vm.errors['first_name']">
        </validated-form-element>
    </div>
</div>
<!-- Lastname -->
<div class="form-group">
    <label class="col-xs-5 col-sm-3 col-md-3 col-lg-2 control-label" translate>
        Lastname
    </label>
    <div class="col-xs-7 col-sm-9 col-md-9 col-lg-10">

        <validated-form-element     id="input_new_relation_contact_lastname"
                                    input-element="text" field-name="lastname"
                                    placeholder="{{ 'Lastname of the contact' | translate }}"
                                    ng-model="vm.modelObject.last_name"  errors="vm.errors['last_name']">
        </validated-form-element>
    </div>
</div>
<!-- E-Mail -->
<div class="form-group">
    <label class="col-xs-5 col-sm-3 col-md-3 col-lg-2 control-label" translate>
        E-Mail
    </label>
    <div class="col-xs-7 col-sm-9 col-md-9 col-lg-10">

        <validated-form-element     id="input_new_relation_contact_email"
                                    input-element="text" field-name="email"
                                    placeholder="{{ 'E-Mail of the contact' | translate }}"
                                    ng-model="vm.modelObject.email"  errors="vm.errors['email']">
        </validated-form-element>
    </div>
</div>