<!-- Popover template with the most recent notifications in it -->
<script type="text/ng-template" id="notificationsNavbarWidget.popover.html">
    <div class="notifications-navbar-popover" ng-mouseover="vm.popoverOpened=true" style="margin-top: 10px">
        <div class="list-group list-view-pf">
            <div class="list-group-item"
                 ng-repeat="notification in vm.notifications | orderBy: '-created_at' | limitTo:9 "
                 ng-class="{'unread-notification': !notification.read}">
                <div class="list-view-pf-left">
                    <span class="{{ notification.icon }}" title="{{ notification.typeName }}"></span>
                </div>
                <div class="list-view-pf-body">
                    <div class="list-view-pf-description" role="button">
                        <a ui-sref="notifications/redirect({notification: notification})">
                            {{ notification.title }}
                        </a>
                    </div>

                    <a class="pull-right"
                       ng-show="!notification.read"
                       ng-click="vm.readNotification(notification)" title="{{ 'Mark as read' | translate }}">
                        <span class="fa fa-eye"></span>
                    </a>
                </div>

            </div>
        </div>

        <div ng-show="vm.notifications.length == 0" style="text-align: center">
            <span translate>No notifications yet</span>
        </div>

        <!-- bottom: show link to configuration -->
        <div class="notifications-popover-settings">
            <a ui-sref="notifications">
                <span translate>Show all</span>
            </a>

            &nbsp;

            <a ng-click="vm.markAllAsRead()" role="button"
               ng-show="vm.notificationService.numberOfUnreadNotifications > 0">
                <span class="fa fa-eye"></span>
                <span translate>Mark all as read</span>
            </a>

            <a class="pull-right"
               ui-sref="preferences/userSettings">
                <span class="fa fa-cogs"></span>
                <span translate>Configure</span>
            </a>
        </div>
    </div>
</script>


<!-- Navbar item with a bell icon -->
<ul class="nav navbar-nav navbar-right">
    <li class="dropdown" ng-mouseover="vm.popoverOpened=true" ng-mouseleave="vm.popoverOpened=false">
        <a style="font-weight: bold; min-width: 50px; text-align: center; position: relative"
           role="button" aria-haspopup="true" aria-expanded="false"
           uib-popover-template="'notificationsNavbarWidget.popover.html'"
           popover-is-open="vm.popoverOpened"
           popover-class="notifications-navbar-popover"
           popover-trigger="'none'"
           popover-placement="auto"
        >
            <i class="fa fa-bell"
               style="font-size: 12pt"
               ng-class="{'unread-notifications': vm.notificationService.numberOfUnreadNotifications > 0}"
               aria-hidden="true"></i>

            <!-- display number of unread notifications -->
            <div style="display: inline;"
                 class="number-unread-notifications"
                 ng-show="vm.notificationService.numberOfUnreadNotifications > 0">
                <span ng-show="vm.notificationService.numberOfUnreadNotifications > 9">
                    9
                </span>
                <span ng-show="vm.notificationService.numberOfUnreadNotifications <= 9">
                    {{ vm.notificationService.numberOfUnreadNotifications }}
                </span>
            </div>
        </a>
    </li>
</ul>
