{% load i18n user_widgets simple_object_display date_filters %}

<p>
    {% blocktrans %}
        You have been added to the following project:
    {% endblocktrans %}
</p>
<br />

<p>{% trans "Name" %}: {{ instance.name }}</p>

<p>{% trans "From" %}: {{ instance.start_date | date_short }}</p>

<p>{% trans "To" %}: {{ instance.stop_date | date_short }}</p>

<p>{% trans "State" %}: {{ instance.get_project_state_display }}</p>

{% if instance.parent_project %}<p>{% trans "Parent Project" %}: {{ instance.parent_project }}</p>{% endif %}

{#<p>{% trans "Assignees" %}:#}
{#<ul>#}
{#    {% for assigned_user in instance.assigned_users_roles.all %}#}
{#        <li>#}
{#            {% display_user_widget assigned_user.user %}#}
{#        </li>#}
{#    {% endfor %}#}
{#</ul>#}
{#</p>#}

{#<p>{% trans "Sub Projects" %}:#}
{#<ul>#}
{#    {% for project in instance.sub_projects.all %}#}
{#        <li>{{ project.name }}</li>#}
{#    {% endfor %}#}
{#</ul>#}
{#</p>#}

<p>{% trans "Text" %}:
<div>
    {{ instance.description | safe }}
</div>
</p>
