<div class="input-group" style="width: 100%; padding-bottom: 5px; padding-left: 5px"
     ng-repeat="modelObject in ngModel track by $index"
     ng-class="{ 'has-error': errors[$index].title.length > 0 || hasFormErrors }">
    <div class="row">
        <div class="col-xs-1" style="width: 20px; padding-top: 3px">
            <input id="{{ id }}_checkbox_{{$index}}"
                   name="{{ id }}_checkbox_{{$index}}"
                   type="checkbox"
                   ng-model="modelObject.checked"
                   ng-disabled="ngDisabled"
                   ng-readonly="ngReadonly"/>
        </div>
        <div class="col-xs-8 form-control-on-hover" style="width: calc(100% - 20px)">
            <textarea id="{{ id }}_title_{{$index}}"
                      name="{{ id }}_title_{{$index}}"
                      class="form-control"
                      ng-model="modelObject.title"
                      placeholder="{{ placeholder }}"
                      ng-disabled="ngDisabled"
                      ng-pattern="myNgPattern"
                      msd-elastic=""
                      rows="1">
            </textarea>

            <!-- Remove Button -->
            <span class="form-control-feedback form-control-clear"
                  ng-click="vm.removeListAttribute(modelObject)"
                  style="pointer-events: auto; text-decoration: none; cursor: pointer;"
                  ng-hide="ngDisabled">
                <i class="{{:: vm.cancelIcon }}" aria-hidden="true"></i>
            </span>
        </div>
    </div>

    <!-- show the error description only by the last object of the list-->
    <p ng-show="errors[$index].title.length > 0" class="help-block">
        <span class="{{:: vm.alertIcon }}" aria-hidden="true"></span>
        {{ errors[$index].title.join(', ') }}
    </p>

    <span ng-transclude></span>
</div>

<!-- Add Button -->
<button type="button"
        class="btn btn-primary" ng-click="vm.addListAttribute()"
        ng-disabled="ngDisabled">
    <span translate>Add</span>
</button>
