<div class="input-group" style="width: 100%; padding-bottom: 5px;"
     ng-repeat="modelObject in ngModel track by $index"
     ng-class="{ 'has-error': errors.length > 0 || hasFormErrors }" >

    <input id="{{ id }}"
           name="{{ id }}"
           type="{{ inputElement }}"
           ng-model="ngModel[$index]"
           class="form-control"
           placeholder="{{ placeholder }}"
           ng-disabled="ngDisabled"
           ng-pattern="myNgPattern"/>

    <!-- Remove Button -->
    <span class="form-control-feedback form-control-clear"
          ng-click="vm.removeListAttribute(modelObject)"
          style="pointer-events: auto; text-decoration: none; cursor: pointer;"
          ng-hide="ngDisabled">
                <i class="{{:: vm.cancelIcon }}" aria-hidden="true"></i>
            </span>

    <!-- show the error description only by the last object of the list-->
    <p ng-show="errors.length > 0 && $last"  class="help-block">
        <span class="{{:: vm.alertIcon }}" aria-hidden="true"></span>
        {{ errors.join(', ') }}
    </p>

    <span ng-transclude></span>

</div>

<!-- Add Button -->
<button type="button" style="width: 100%;"
        class="btn btn-primary" ng-click="vm.addListAttribute()"
        ng-disabled="ngDisabled">
    <span translate>Add</span>
</button>
