<div class="modal-header">
    <h3 class="modal-title" translate>Move {{ vm.workbenchElement.display }} to a section</h3>
</div>
<div class="modal-body">
    <div ng-repeat="childElement in vm.labbookChildElements | filter:vm.isLabbookSection track by childElement.pk"
        class="row move_to_section_row"
        ng-if="childElement.pk !== vm.currentSection.pk">
        <div class="col-xs-10" translate>
            Date: {{ childElement.child_object.date }}
            - Title: {{ childElement.child_object.title }}
        </div>
        <div class="col-xs-2">
            <button id="button_move_to_section_modal" class="btn btn-primary"
                    type="button" ng-click="vm.moveElementToSection(childElement)"
                    translate>Move to this section
            </button>
        </div>
    </div>
</div>
<div class="modal-footer">
    <div class="text-right">
        <button id="button_close_comments_modal" class="btn btn-default" type="button" ng-click="vm.close()" translate>
            Cancel
        </button>
    </div>
</div>
