<div
     uib-dropdown
     dropdown-append-to-body="true"
     keyboard-nav="true">
    <a id="plugin-dropdown-append-to-{{ vm.plugin.pk }}" role="button" uib-dropdown-toggle class="pull-right" ng-class="vm.cssClass">
        <span class="fa fa-ellipsis-v show-more-menu">
        </span>
    </a>
    <!-- Render dropdown menu -->
    <ul class="dropdown-menu dropdown-menu-right dropdown-position-fix" uib-dropdown-menu
        aria-labelledby="plugin-dropdown-append-to-{{ vm.plugin.pk }}">
        <li>
            <a role="button" href ng-click="vm.switchPluginView('feedback', vm.plugin)">
                <i class="{{ ::vm.emailIcon }}"></i> <span translate>Give Feedback</span>
            </a>
        </li>
        <li ng-if="!vm.plugin.is_accessible">
            <a role="button" href ng-click="vm.switchPluginView('request_access', vm.plugin)">
                <i class="{{ ::vm.emailIcon }}"></i>
                <span translate>Request access</span>
            </a>
        </li>
    </ul>
</div>
