.coverage

.tox/
venv/
__pycache__/
htmlcov/
htdocs/
data/
.scannerwork/

logs/*
app/logs/*.log
app/logs/*.log.*

**.pyc
**.pyo
**.nfs**
**.sass-cache

ldap/docker_ldap_config
ldap/docker_ldap_data

app/db.sqlite3
app/eric/settings/dev.py
app/eric/media
app/eric/settings/tum_test.py
app/eric/settings/tum_live.py
app/eric/settings/tum_staging.py
app/build/

docs/.vscode
docs/_build/
docs/_static/
docs/_templates/
docs/python_docs/

backups/*.*sql
backups/*.gz
backups/*.tar

.idea/*
!.idea/runConfigurations/

app/eric/settings/anx_dev.py
