<div class="card-panel element-panel">
    <screen-header-function-bar
        screen-new-entity="{{ 'New DSS Container' | translate }}"
        screen-new-entity-type="dsscontainer"
        selected-projects="vm.selectedProjects"
        selected-users="vm.selectedUsers"
        show-user-field="false"
        show-project-field="false"
        users="vm.users"
        show-display-deleted-button="false"
        current-view="vm.currentView" search-field="vm.searchField">
        <screen-title>
            <span translate>DSS Containers</span>
        </screen-title>
    </screen-header-function-bar>
</div>

<generic-list-loading-widget
    loading-flag="vm.dsscontainersLoaded"
    loading-text="DSS Containers">
</generic-list-loading-widget>

<div class="card-panel" ng-if="vm.currentView == 'list' && vm.dsscontainersLoaded">
    <dsscontainer-table-view dsscontainers="vm.dsscontainers" order-by="vm.orderBy" order-dir="vm.orderDir">
    </dsscontainer-table-view>
</div>

<dsscontainer-card-view
        ng-if="vm.currentView == 'card' && vm.dsscontainersLoaded" dsscontainers="vm.dsscontainers">
</dsscontainer-card-view>

<div class="text-center" ng-if="vm.dsscontainers.length > 0 && vm.dsscontainersLoaded">
    <ul uib-pagination
        total-items="vm.numberOfDSSContainers"
        items-per-page="vm.currentLimit"
        force-ellipses="true"
        boundary-link-numbers="true"
        max-size="15"
        ng-model="vm.currentPage"
        ng-change="vm.pageChanged()">
    </ul>
</div>

<div class="panel panel-default" ng-if="vm.cmsDSSContainerListHowTo && vm.cmsDSSContainerListHowTo.text.length > 0">
    <div class="panel-heading">
        <h3 class="panel-title">
            <span>{{ vm.cmsDSSContainerListHowTo.title }}</span>
        </h3>
    </div>
    <div class="panel-body">
        <div ng-bind-html="vm.cmsDSSContainerListHowTo.text | asHtml"></div>
    </div>
</div>
