<div class="panel panel-default element-panel">
    <div class="panel-body">

        <!-- Branch Library -->
        <div class="form-group">
            <label class="col-sm-4 control-label" translate>
                Branch Library *
            </label>
            <div class="col-sm-8">
                <div ng-class="{ 'has-error': vm.errors['branch_library'].length > 0 }" style="width: 100%">
                    <branch-library-selectize-widget
                        selected-branch-library="vm.selectedBranchLibrary"
                        placeholder="{{ 'Choose your branch library' | translate }}">
                    </branch-library-selectize-widget>

                    <p ng-show="vm.errors['branch_library'].length > 0" class="help-block">
                        <span class="{{ vm.alertIcon }}" aria-hidden="true"></span>
                        {{ vm.errors['branch_library'].join(', ') }}
                    </p>
                </div>
            </div>
        </div>

        <!-- Study Room -->
        <div class="form-group" ng-show="vm.resourcesLoaded">
            <label class="col-sm-4 control-label" translate>
                Study Room *
            </label>
            <div class="col-sm-8">
                <div ng-class="{ 'has-error': vm.errors['study_room'].length > 0 }" style="width: 100%">
                    <study-room-selectize-widget
                        placeholder="{{ 'Choose your study room' | translate}}"
                        max-items="1"
                        resources="vm.loadedResources"
                        selected-resource-pk="vm.resourcePk">
                    </study-room-selectize-widget>

                    <p ng-show="vm.errors['study_room'].length > 0" class="help-block">
                        <span class="{{ vm.alertIcon }}" aria-hidden="true"></span>
                        {{ vm.errors['study_room'].join(', ') }}
                    </p>
                </div>
            </div>
        </div>

    </div>
</div>
<div class="row" style="text-align: right;">
    <p>
        <span translate style="color: darkgrey; padding: 10px">
            * mandatory field
        </span>
    </p>
</div>

<div class="panel panel-default element-panel" ng-if="vm.resource">
    <div class="panel-heading">
        <div style="float:left" ng-click="vm.toggleMetaDataVisibility()" role="button">
            <span style="width: 13px" class="fa fa-caret-right" ng-show="vm.metaDataCollapsed"></span>
            <span style="width: 13px" class="fa fa-caret-down" ng-show="!vm.metaDataCollapsed"></span>

            <i class="{{ vm.resourceIcon }}"></i> {{ vm.resource.name }}
        </div>
    </div>

    <div class="panel-body" uib-collapse="vm.metaDataCollapsed">
        <generic-show-element-state-widget base-model="vm.resource"
                                           show-trashed="true"></generic-show-element-state-widget>
        <generic-show-element-lock-status-widget base-model="vm.resource"
                                                 read-only="vm.readOnly"
                                                 show-locked="true"
                                                 show-reload-message="true"></generic-show-element-lock-status-widget>
        <resource-meta-data-widget resource="vm.resource"
                                   read-only="vm.readOnly"
                                   disable-history="true"></resource-meta-data-widget>
    </div>
</div>

<div class="panel panel-default element-panel" ng-if="vm.resource">
    <div class="panel-heading" translate>
        Study Room Calendar
    </div>
    <div class="panel-body study-room-calendar">
        <resource-calendar-widget
            calendar-config="vm.calendarConfig"
            selected-resource="vm.resource"
            is-study-room="true">
        </resource-calendar-widget>
    </div>
</div>

<div class="panel panel-default element-panel" ng-if="vm.resource && vm.defaultBookingRules.length > 0">
    <div class="panel-heading" translate>
        Booking Rules
    </div>
    <div class="panel-body">
        <div class="booking-rules-entries">
            <div class="row" ng-repeat="bookingRule in vm.defaultBookingRules">
                <div class="col-xs-6">
                    {{ vm.bookingRules[bookingRule.criterion] }}
                </div>
                <div class="col-xs-6">
                    <span>{{ 'Day(s)' | translate }}</span> {{ bookingRule.days }}<br />
                    <span>{{ 'Hours' | translate }}</span> {{ bookingRule.hours }} : {{ bookingRule.minutes }}
                </div>
            </div>
        </div>
    </div>
</div>
