<div class="modal-header">
    <span translate>Select a page</span>
</div>
<div class="modal-body">
    <div class="canvas-holder"></div>
    <ul uib-pagination total-items="vm.numPages" items-per-page="1"
        force-ellipses="true"
        boundary-link-numbers="true"
        rotate="true"
        max-size="7"
        ng-model="vm.currentPage"></ul>
</div>
<div class="modal-footer">
    <button class="btn btn-default" ng-click="vm.dismiss()">
        <span translate>Cancel</span>
    </button>
    <button class="btn btn-primary" ng-click="vm.selectPage()">
        <span translate>OK</span>
    </button>
</div>