<!-- Appointment Title -->
<div class="form-group">
    <label class="col-sm-3 control-label" for="meeting_title" translate
        title="{{ 'mandatory field' | translate }}">
        Title *
    </label>
    <div class="col-sm-9">
        <ng-include src="'js/screens/meeting/meetingForm.title.html'"></ng-include>
    </div>
</div>

<!-- Start Date / End Date combined-->
<div class="form-group">
    <label class="col-sm-3 control-label" for="meeting_start_date" translate>
        Start/End date
    </label>
    <div class="col-sm-9">
        <div>
            <div style="width: 150px; float: left">
                <ng-include src="'js/screens/meeting/meetingForm.startDate.html'"></ng-include>
            </div>
            <div style="width: 17px; float: left; margin-top: 3px; padding-left: 3px;">
                to
            </div>
            <div style="width: 150px; float: left">
                <ng-include src="'js/screens/meeting/meetingForm.endDate.html'"></ng-include>
            </div>
            <div style="width: 80px; float: left; padding-left: 7px;">
                <ng-include src="'js/screens/meeting/meetingForm.fullDay.html'"></ng-include>
            </div>
        </div>
    </div>
</div>

<!-- Resource -->
<div class="form-group" ng-if="!vm.isStudyRoom">
    <label class="col-sm-3 control-label" for="meeting_resource" translate>
        Resource
    </label>
    <div class="col-sm-9">
        <ng-include src="'js/screens/meeting/meetingForm.resource.html'"></ng-include>
    </div>
</div>

<div class="form-group" ng-if="vm.isStudyRoom == true">
    <label class="col-sm-3 control-label" for="meeting_resource" translate>
        Resource
    </label>
    <div class="col-sm-9">
        {{ vm.resource.name }}
    </div>
    <error-display class="has-error"  error="vm.errors['resource']"></error-display>
</div>

<hr>

<!-- Appointment Location -->
<div class="form-group" ng-if="!vm.isStudyRoom">
    <label class="col-sm-3 control-label" for="meeting_location" translate>
        Location
    </label>
    <div class="col-sm-9">
        <ng-include src="'js/screens/meeting/meetingForm.location.html'"></ng-include>
    </div>
</div>

<!-- Attending Users -->
<div class="form-group">
    <label class="col-sm-3 control-label" for="meeting_attending_users" translate>
        Attending users
    </label>
    <div class="col-sm-9">
        <ng-include src="'js/screens/meeting/meetingForm.attendingUsers.html'"></ng-include>
    </div>
</div>

<!-- Attending Contacts -->
<div class="form-group" ng-if="!vm.isStudyRoom">
    <label class="col-sm-3 control-label" for="meeting_attending_contacts" translate>
        Attending contacts
    </label>
    <div class="col-sm-9">
        <ng-include src="'js/screens/meeting/meetingForm.attendingContacts.html'"></ng-include>
    </div>
</div>

<!-- Remind Users/Contacts -->
<div class="form-group">
    <label class="col-sm-3 control-label" for="meeting_text">
    </label>
    <div class="col-sm-9">
        <meeting-reminder-widget meeting="vm.meeting" template="vm.template" errors="vm.errors" read-only="vm.isReadOnly()">
        </meeting-reminder-widget>
    </div>
</div>

<!-- Text -->
<div class="form-group">
    <label class="col-sm-3 control-label" for="meeting_text">
        <span translate>Description</span>
    </label>
    <div class="col-sm-9">
        <ng-include src="'js/screens/meeting/meetingForm.text.html'"></ng-include>
    </div>
</div>

<!-- metadata -->
<small-entity-view-metadata
    metadata="vm.meeting.metadata"
    base-model="vm.meeting"
    base-url-model="meeting"
    read-only="vm.isReadOnly()">
</small-entity-view-metadata>

<!-- project -->
<div class="form-group" ng-if="!vm.isStudyRoom">
    <label class="col-sm-3 control-label" for="meeting_project" translate>
        Project
    </label>
    <div class="col-sm-9">
        <ng-include src="'js/screens/meeting/meetingForm.projects.html'"></ng-include>
    </div>
</div>
