<div ng-switch="vm.field.base_type || '_loading_'" ng-if="!vm.metadata.deleted">
    <!-- Whole number -->
    <div ng-switch-when="whole_number">
        <validated-form-element-wrapper>
            <number-form-element
                placeholder="..."
                ng-model="vm.metadata.values.value"
                ng-readonly="vm.readOnly"
                display-thousands-separator="vm.field.type_settings.thousands_separator"
                max-decimal-places="0">
            </number-form-element>
        </validated-form-element-wrapper>
    </div>

    <!-- Decimal number -->
    <div ng-switch-when="decimal_number">
        <validated-form-element-wrapper>
            <number-form-element
                placeholder="..."
                ng-model="vm.metadata.values.value"
                ng-readonly="vm.readOnly"
                display-thousands-separator="vm.field.type_settings.thousands_separator"
                max-decimal-places="vm.field.type_settings.decimals">
            </number-form-element>
        </validated-form-element-wrapper>
    </div>

    <!-- Currency -->
    <div ng-switch-when="currency">
        <validated-form-element-wrapper>
            <number-form-element
                placeholder="..."
                ng-model="vm.metadata.values.value"
                ng-readonly="vm.readOnly"
                display-thousands-separator="true"
                max-decimal-places="vm.field.type_settings.decimals"
                prefix="vm.field.type_settings.symbol">
            </number-form-element>
        </validated-form-element-wrapper>
    </div>

    <!-- Date -->
    <div ng-switch-when="date">
        <validated-form-element
            input-element="date"
            placeholder="..."
            ng-model="vm.metadata.values.value"
            ng-readonly="vm.readOnly"
            date-picker-options="vm.datePickerOptions">
        </validated-form-element>
    </div>

    <!-- Time -->
    <div ng-switch-when="time">
        <validated-form-element-wrapper>
            <time-form-element
                placeholder="00:00"
                ng-model="vm.metadata.values.value"
                ng-readonly="vm.readOnly">
            </time-form-element>
        </validated-form-element-wrapper>
    </div>

    <!-- Percentage -->
    <div ng-switch-when="percentage">
        <validated-form-element-wrapper>
            <number-form-element
                placeholder="..."
                ng-model="vm.metadata.values.value"
                ng-readonly="vm.readOnly"
                max-decimal-places="vm.field.type_settings.decimals"
                suffix="'%'">
            </number-form-element>
        </validated-form-element-wrapper>
    </div>

    <!-- Text -->
    <div ng-switch-when="text">
        <validated-form-element
            rows="6"
            input-element="textarea"
            ng-model="vm.metadata.values.value"
            ng-readonly="vm.readOnly">
        </validated-form-element>
    </div>

    <!-- Fraction -->
    <div ng-switch-when="fraction" class="metadata-fraction">
        <div class="numerator">
            <number-form-element
                placeholder="..."
                ng-model="vm.metadata.values.numerator"
                ng-readonly="vm.readOnly"
                max-decimal-places="0"
                text-align="right">
            </number-form-element>
        </div>
        <div class="slash">
            /
        </div>
        <div class="denominator">
            <number-form-element
                placeholder="..."
                ng-model="vm.metadata.values.denominator"
                ng-readonly="vm.readOnly"
                max-decimal-places="0">
            </number-form-element>
        </div>
    </div>

    <!-- GPS -->
    <div ng-switch-when="gps">
        <affixed-element prefix="'X'">
            <input type="text" class="gps x-coordinate form-control" placeholder="..." ng-readonly="vm.readOnly"
                   title="X-Coordinate" ng-model="vm.metadata.values.x">
        </affixed-element>
        <affixed-element prefix="'Y'">
            <input type="text" class="gps y-coordinate form-control" placeholder="..." ng-readonly="vm.readOnly"
                   title="Y-Coordinate" ng-model="vm.metadata.values.y">
        </affixed-element>
    </div>

    <!-- Selection -->
    <div ng-switch-when="selection">
        <!-- Multi Select: List of answers with checkboxes -->
        <div ng-if="vm.field.type_settings.multiple_select">
            <div class="input-group select-input-group" style="padding-bottom: 5px"
                 ng-repeat="(id, answer) in vm.field.type_settings.answers | filter:''">
                <div class="row select-input-row">
                    <!-- Checkbox -->
                    <div class="col-xs-1 select-checkbox" style="width: 30px">
                        <input type="checkbox"
                               ng-disabled="vm.readOnly"
                               ng-model="vm.metadata.values.answers[id]['selected']">
                    </div>
                    <!-- Label -->
                    <div class="col-xs-8 select-input" style="width: calc(100% - 30px);padding-left:5px">
                        <div class="form-control" style="height:auto;width:100%">
                            {{ answer }}
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Single Select: List of answers with radio buttons -->
        <div ng-if="!vm.field.type_settings.multiple_select">
            <div class="input-group select-input-group" style="padding-bottom: 5px"
                 ng-repeat="(id, answer) in vm.field.type_settings.answers | filter:''">
                <div class="row select-input-row">
                    <!-- Radio Button -->
                    <div class="col-xs-1 select-checkbox" style="width: 30px">
                        <input name="{{ vm.metadata.pk }}"
                               type="radio"
                               ng-disabled="vm.readOnly"
                               ng-model="vm.metadata.values['single_selected']"
                               value="{{ answer }}"
                               id="{{ vm.metadata.pk }}-answer-{{ id }}">
                    </div>
                    <!-- Label -->
                    <div class="col-xs-8 select-input" style="width: calc(100% - 30px);padding-left:5px">
                        <div class="form-control" style="height:auto">
                            {{ answer }}
                        </div>
                        <label for="{{ vm.metadata.pk }}-answer-{{ id }}" style="display:none">
                            {{ answer }}
                        </label>
                    </div>
                </div>
            </div>
        </div>

        <!-- If the list is not final -->
        <div ng-if="!vm.field.type_settings.final">
            <div class="input-group select-input-group" style="padding-bottom: 5px">
                <div class="row select-input-row">
                    <!-- Input -->
                    <div class="col-xs-1 select-checkbox" style="width: 30px">
                        <!-- Custom checkbox option for multi select -->
                        <input ng-if="vm.field.type_settings.multiple_select"
                               type="checkbox"
                               ng-disabled="vm.readOnly"
                               ng-model="vm.metadata.values['custom_input_selected']"
                               value="vm.metadata.values['custom_input']"
                               id="{{ vm.metadata.pk }}-answer-custom">

                        <!-- Custom radio option for single select -->
                        <input ng-if="!vm.field.type_settings.multiple_select"
                               type="radio"
                               name="{{ vm.metadata.pk }}"
                               ng-disabled="vm.readOnly"
                               ng-model="vm.metadata.values['single_selected']"
                               value="vm.metadata.values['custom_input']"
                               id="{{ vm.metadata.pk }}-answer-custom">
                    </div>
                    <!-- Label -->
                    <div class="col-xs-8 select-input" style="width: calc(100% - 30px);padding-left:5px">
                        <div style="height:auto">
                            <!-- Custom Input -->
                            <validated-form-element
                                rows="2"
                                input-element="textarea"
                                placeholder="{{ 'Custom input' | translate }}"
                                ng-model="vm.metadata.values['custom_input']"
                                ng-readonly="vm.readOnly">
                            </validated-form-element>
                        </div>
                        <label for="{{ vm.metadata.pk }}-answer-custom" style="display:none" translate>
                            Custom Input
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Checkbox -->
    <div ng-switch-when="checkbox">
        <input type="checkbox"
               class="checkbox"
               ng-disabled="vm.readOnly"
               ng-model="vm.metadata.values.value">
    </div>

    <!-- Base type not loaded yet -->
    <span ng-switch-when="_loading_">
        <loading-text loading="true"></loading-text>
    </span>

    <!-- Unknown base type - fall back to JSON output -->
    <span ng-switch-default>
        {{ vm.metadata.values }}
    </span>
</div>

<div ng-if="vm.metadata.deleted" style="color:gray">
    <div class="deleted">
        (<span translate>deleted</span>)
    </div>
</div>
