<div class="card-panel element-panel">
    <screen-header-function-bar
        screen-title="{{ 'Task Board' | translate }}"
        screen-new-entity="{{ 'New Task Board' | translate }}"
        screen-new-entity-type="kanbanboard"
        selected-projects="vm.selectedProjects"
        selected-users="vm.selectedUsers"
        users="vm.users"
        current-view="vm.currentView" search-field="vm.searchField">
        <screen-title>
            <span translate>Task Boards</span>
        </screen-title>
    </screen-header-function-bar>
</div>

<generic-list-loading-widget
    loading-flag="vm.kanbanboardsLoaded"
    loading-text="TaskBoards">
</generic-list-loading-widget>

<div class="card-panel" ng-if="vm.currentView == 'list' && vm.kanbanboardsLoaded">
    <kanbanboard-table-view kanbanboards="vm.kanbanboards" order-by="vm.orderBy" order-dir="vm.orderDir">
    </kanbanboard-table-view>
</div>

<kanbanboard-card-view ng-if="vm.currentView == 'card' && vm.kanbanboardsLoaded" kanbanboards="vm.kanbanboards">
</kanbanboard-card-view>

<div class="text-center" ng-if="vm.kanbanboards.length > 0 && vm.kanbanboardsLoaded">
    <ul uib-pagination
        total-items="vm.numberOfKanbanboards"
        items-per-page="vm.currentLimit"
        force-ellipses="true"
        boundary-link-numbers="true"
        max-size="15"
        ng-model="vm.currentPage"
        ng-change="vm.pageChanged()">
    </ul>
</div>
