<div class="modal-header">
    <h3 class="modal-title" translate>Change Background</h3>
</div>
<div class="modal-body">
    <div class="form-horizontal">

        <div class="form-group file-upload"
             ngf-drop="vm.saveBackgroundImage($files[0])"
             ngf-multiple="false"
             ngf-allow-dir="false"
             ngf-include-dir="false"
             ngf-drag-over-class="{accept:'dragover', delay:100}">
            <label class="col-sm-2 col-md-3" translate>
                Background Image
            </label>
            <div class="col-sm-9">
                <div class="hide-on-dragover">
                    <a role="button" ng-click="vm.uploadNewBackgroundImage()"
                       style="font-size: 14px" title="{{ 'Upload background image' | translate }}">
                        <i class="fa fa-upload" aria-hidden="true"></i>
                        <span translate>Change background image</span>
                    </a>
                    <span ng-show="vm.showRemoveImageLink()">/</span>
                    <a ng-show="vm.showRemoveImageLink()"
                       role="button" ng-click="vm.removeBackgroundImage()"
                       title="{{ 'Remove background image' | translate }}">
                        <i class="fa fa-remove" aria-hidden="true"></i>
                        <span translate>Remove</span>
                    </a>
                </div>
                <div class="show-on-dragover" translate>
                    Drop background image here to upload it
                </div>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 col-md-3" translate>
                Background Color
            </label>
            <div class="col-sm-9">
                <validated-form-element
                    id="kanbanboard_background_color"
                    input-element="color"
                    field-name="background_color"
                    placeholder="{{ 'Background color' | translate }}"
                    ng-model="vm.backgroundColor"
                    ng-readonly="vm.isReadOnly()"
                    errors="vm.errors['background_color']">
                </validated-form-element>
            </div>
        </div>

    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-default" ng-click="vm.onOkButton()" translate>
        OK
    </button>
</div>
