<div class="panel panel-default element-panel">
    <div class="panel-heading">
        <div style="float:left" ng-click="vm.toggleMetaDataVisibility()" role="button">
            <span style="width: 13px" class="fa fa-caret-right" ng-show="vm.metaDataCollapsed"></span>
            <span style="width: 13px" class="fa fa-caret-down" ng-show="!vm.metaDataCollapsed"></span>

            <i class="{{:: vm.kanbanboardIcon }}"></i> {{ vm.kanbanboard.title }}
        </div>
        <generic-detail-view-menu-widget
            ng-if="!vm.readOnly"
            base-model="vm.kanbanboard"
            base-url-model="kanbanboards"
            has-trash="true"
            has-export="true"
            has-restore="true"
            has-privileges="true"
            has-new-element="true"
            has-duplicate="true"></generic-detail-view-menu-widget>
    </div>
    <div class="panel-body" uib-collapse="vm.metaDataCollapsed">
        <generic-show-element-state-widget base-model="vm.kanbanboard"
                                           show-trashed="true"></generic-show-element-state-widget>
        <generic-show-element-lock-status-widget on-lock-cb="vm.onLock()" on-unlock-cb="vm.onUnlock()"
                                                 base-model="vm.kanbanboard"
                                                 read-only="vm.readOnly"
                                                 show-locked="true"
                                                 show-reload-message="true"></generic-show-element-lock-status-widget>
        <div class="row">
            <div class="form-horizontal" name="editKanbanboardForm">
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4">
                    <!-- Kanbanboard Title -->
                    <div class="form-group">
                        <label class="col-sm-2 col-md-3" for="kanbanboard_title" translate
                            title="{{ 'mandatory field' | translate }}">
                            Title *
                        </label>
                        <div class="col-sm-9">
                            <editable-select-list
                                edit-disabled="vm.isReadOnly()"
                                on-save="vm.saveKanbanboardPartial('title', ngModel)"
                                on-save-multiple="vm.saveKanbanboard()"
                                on-abort="vm.resetErrors()"
                                ng-model="vm.kanbanboard.title">
                                <ng-include src="'js/screens/kanbanboard/kanbanboardForm.title.html'"></ng-include>
                            </editable-select-list>
                        </div>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4">
                    <created-and-updated-by-widget element="vm.kanbanboard"></created-and-updated-by-widget>

                    <!-- project -->
                    <div class="form-group">
                        <label class="col-sm-2 col-md-3" for="kanbanboard_project" translate>
                            Project
                        </label>
                        <div class="col-sm-9" style="text-align: left">
                            <editable-select-list
                                edit-disabled="vm.isReadOnly()"
                                on-save="vm.saveKanbanboardPartial('projects', ngModel)"
                                on-save-multiple="vm.saveKanbanboard()"
                                on-abort="vm.resetErrors()"
                                ng-model="vm.projectPks"
                                compare-mode="array"
                                >
                                <ng-include src="'js/screens/kanbanboard/kanbanboardForm.projects.html'"></ng-include>
                            </editable-select-list>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4">
                    <!-- History -->
                    <history-short-widget base-model="vm.kanbanboard"
                                          base-url-model="kanbanboard"></history-short-widget>
                </div>
            </div>

        </div>
    </div>
</div>


<div uib-collapse="vm.metaDataCollapsed">
    <!-- relations -->
    <relation-list-widget base-model="vm.kanbanboard" base-url-model="kanbanboard"></relation-list-widget>
</div>


<div class="card-panel element-panel">
    <div class="row">
        <div class="col-xs-12 col-sm-3 col-md-3 col-lg-2 screen-header-title"
             style="overflow: hidden; text-overflow: ellipsis; white-space: nowrap;">
            {{ vm.kanbanboard.title }}
        </div>
        <div class="col-xs-12 col-sm-9 col-md-5 col-lg-7">
            <!-- show a filter list (if not isDragging) -->
            <div class="form-horizontal" style="margin-top: 5px" ng-show="!vm.isDragging">
                <div class="row">
                    <div class="col-xs-6 col-sm-6 col-lg-4">
                        <!-- filter by user -->
                        <user-selectize-widget selected-user-pk="vm.selectedUsers"
                                               placeholder="Filter by user" max-items="1" users="vm.users"
                                               class="ng-isolate-scope">
                    </div>
                    <div class="col-xs-6 col-sm-6 col-lg-4">
                        <!-- full text search -->
                        <div class="form-group has-feedback has-clear">
                            <div class="col-xs-12">
                                <search-field-widget
                                    do-search="vm.doSearch(searchString)" cancel-search="vm.cancelSearch()"
                                    search-input-length="0" debounce="50">
                                </search-field-widget>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- show a TrashCan drop zone (only if isDragging is currently set to true) -->
            <div class="row delete-drop-zone" ng-show="vm.isDragging"
                 dnd-list="[]"
                 dnd-drop="vm.onDropDeleteObject(index, item, external, type)"
                 dnd-allowed-types="['task']">
                <div class="col-xs-12">
                    <span class="fa fa-trash-o"></span>
                    <span translate>Drop task here to remove it from Task Board</span>
                </div>
            </div>
        </div>
        <div class="hidden-xs col-xs-12 col-sm-12 col-md-4 col-lg-3 text-right"
             style="padding-top: 3px">
            <button ng-hide="vm.kanbanboard.deleted" style="color:black;box-shadow: 1px 2px 2px 0px rgba(0, 0, 0, 0.5);"
                    ng-disabled="vm.isReadOnly()"
                    type="button" class="btn" ng-click="vm.promptBackgroundStyle()">
                <span translate>Change Background</span>
            </button>

            <button ng-hide="vm.kanbanboard.deleted"
                    ng-disabled="vm.isReadOnly()"
                    type="button" class="btn btn-primary" ng-click="vm.addNewColumn()">
                <span translate>New column</span>
            </button>

            <button ng-hide="vm.kanbanboard.deleted"
                    ng-disabled="vm.isReadOnly()"
                    type="button" class="btn btn-primary" ng-click="vm.openBacklog()">
                <span class="fa fa-list"></span>
                <span translate>Open Backlog</span>
            </button>
        </div>
    </div>
</div>

<!-- Task Board Grid -->
<div id="kanbanboard" ng-if="vm.tasksLoaded"
     style="width: 100%; overflow-x: auto; padding-bottom: 10px; margin-bottom: -10px; padding-left: 5px; min-height: calc(100vh - 230px);">
    <!-- drag and drop kanban board columns -->
    <div class="kanban-row"
         dnd-list="vm.kanbanboard.kanban_board_columns"
         dnd-allowed-types="['column']"
         dnd-horizontal-list="true">
        <!-- iterate over kanban columns -->
        <div class="kanban-column"
             ng-repeat="column in vm.kanbanboard.kanban_board_columns"
             ng-style="{'background-color': column.color}"
             dnd-draggable="column"
             dnd-disable-if="vm.kanbanboard.deleted"
             dnd-type="'column'"
             dnd-moved="vm.dndMoveColumn(column, $index)"
             dnd-effect-allowed="move">
            <!-- only show kanban board column if a primary key is set already -->
            <kanbanboard-column
                ng-if="column.pk"
                kanbanboard="vm.kanbanboard"
                column="column"
                column-task-assignments="vm.filteredColumnTaskAssignments"
                open-backlog="vm.openBacklog"
                remove-task-from-kanban="vm.removeTaskAssignmentFromKanbanBoard"
                save-column-data="vm.saveKanbanColumns">
            </kanbanboard-column>
        </div>
        <!-- placeholder for columns -->
        <div class="kanban-column dndPlaceholder">
            <span translate>Release left mouse button to drop the column here</span>
        </div>
    </div>
</div>

