<div class="modal-header">
    <h3 class="modal-title" translate>
        Copy Cells from another LabBook
    </h3>
</div>
<div class="modal-body">
    <div class="row">
        <label class="col-xs-3 col-md-2" translate
            title="{{ 'mandatory field' | translate }}">
            LabBook *
        </label>
        <div class="col-xs-9 col-md-7">
            <labbook-selectize-widget ng-readonly="false" placeholder="{{ 'Select a LabBook' | translate }}" max-items="1"
                                      labbooks="vm.labbooks" selected-labbook-pk="vm.selectedLabbookPk"></labbook-selectize-widget>
        </div>
    </div>

    <div class="row" style="margin-top: 20px">
        <div class="col-xs-12 col-md-9">
            <div class="checkbox" style="margin-left: 20px">
                <input type="checkbox"
                       id="cb_insert_whole_template" name="cb_insert_whole_template"
                       ng-change="vm.toggleInsertWholeTemplate()"
                       ng-model="vm.insertWholeTemplate">
                <label for="cb_insert_whole_template">Insert whole template</label>
            </div>
        </div>
    </div>

    <div>
        <h3 style="margin-top: 0">Selected cells</h3>

        <div ng-if="vm.childElements.length == 0">
            <span translate>This LabBook does not contain any cells</span>
        </div>

        <div class="row" ng-repeat="childElement in vm.childElements">
            <div class="col-xs-2 col-md-1">
                <input type="checkbox"
                       ng-model="vm.selectedChildElements[childElement.pk]"
                       id="cb_{{ childElement.pk }}" name="cb_{{ childElement.pk }}">
            </div>
            <label style="margin-left: -25px" for="cb_{{ childElement.pk }}" class="col-xs-10 col-md-11">
                <i class="{{ childElement.child_object.content_type_model | contentTypeToIconClass }}"></i>
                {{ childElement.child_object.display }} ({{ childElement.child_object.content_type_model | contentTypeToModelName }})
            </label>
            <!-- child elements of a section -->
            <div ng-if="vm.isSection(childElement)"
                ng-repeat="sectionChildElement in vm.sectionChildElements[childElement.child_object.pk]"
                style="margin-left: 20px;">
                <div class="col-xs-2 col-md-1">
                    <input type="checkbox"
                           ng-model="vm.selectedSectionChildElements[childElement.child_object.pk][sectionChildElement.pk]"
                           id="cb_{{ sectionChildElement.pk }}" name="cb_{{ sectionChildElement.pk }}">
                </div>
                <label style="margin-left: -25px" for="cb_{{ sectionChildElement.pk }}" class="col-xs-10 col-md-11">
                    <i class="{{ sectionChildElement.child_object.content_type_model | contentTypeToIconClass }}"></i>
                    {{ sectionChildElement.child_object.display }} ({{ sectionChildElement.child_object.content_type_model | contentTypeToModelName }})
                </label>
            </div>

        </div>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" ng-click="vm.dismiss()" translate>Cancel</button>
    <button type="button" class="btn btn-primary" ng-click="vm.insertIntoLabbook()" translate>Add</button>
</div>
