<!-- Title -->
<div class="form-group">
    <label class="col-sm-3 control-label" for="labbook_title" translate>
        Title
    </label>
    <div class="col-sm-9">
        <editable-select-list
            edit-disabled="vm.isReadOnly()"
            on-save="vm.saveLabbookPartial('title', ngModel)"
            on-save-multiple="vm.saveLabbook()"
            on-abort="vm.resetErrors()"
            ng-model="vm.labbook.title">
            <ng-include src="'js/screens/labbook/labbookForm.title.html'"></ng-include>
        </editable-select-list>
    </div>
</div>

<!-- Is template -->
<div class="form-group">
    <label class="col-sm-3 control-label" for="labbook_is_template">
    </label>
    <div class="col-sm-9">
        <editable-select-list
            edit-disabled="vm.isReadOnly()"
            on-save="vm.saveLabbookPartial('is_template', ngModel)"
            on-save-multiple="vm.saveLabbook()"
            on-abort="vm.resetErrors()"
            ng-model="vm.labbook.is_template">
            <ng-include src="'js/screens/labbook/labbookForm.is_template.html'"></ng-include>
        </editable-select-list>
    </div>
</div>

<!-- Description -->
<div class="form-group">
    <label class="col-sm-3 control-label" for="labbook_description">
        <span translate>Description</span>
        <!-- choose Template -->
        <text-template-widget ng-hide="vm.isReadOnly()" override-object-attribute="vm.labbook.description">
        </text-template-widget>
    </label>
    <div class="col-sm-9">
        <editable-select-list
            compare-mode="html"
            edit-disabled="vm.isReadOnly()"
            on-save="vm.saveLabbookPartial('description', ngModel)"
            on-save-multiple="vm.saveLabbook()"
            on-abort="vm.resetErrors()"
            ng-model="vm.labbook.description">
            <ng-include src="'js/screens/labbook/labbookForm.description.html'"></ng-include>
        </editable-select-list>
    </div>
</div>

<!-- metadata -->
<small-entity-view-metadata
    metadata="vm.labbook.metadata"
    base-model="vm.labbook"
    base-url-model="labbook"
    read-only="vm.isReadOnly()">
</small-entity-view-metadata>

<!-- Projects -->
<div class="form-group">
    <label class="col-sm-3 control-label" for="labbook_project" translate>
        Project
    </label>
    <div class="col-sm-9">
        <editable-select-list
            edit-disabled="vm.isReadOnly()"
            on-save="vm.saveLabbookPartial('projects', ngModel)"
            on-save-multiple="vm.saveLabbook()"
            on-abort="vm.resetErrors()"
            ng-model="vm.projectPks"
            compare-mode="array">
            <ng-include src="'js/screens/labbook/labbookForm.projects.html'"></ng-include>
        </editable-select-list>
    </div>
</div>

<!-- Elements + versions -->
<div class="form-group" ng-if="vm.labbook.child_elements">
    <label class="col-sm-3 control-label" for="labbook_elements" translate>
        Elements
    </label>
    <div class="col-sm-9">
        <table ng-if="vm.labbook.child_elements.length > 0" class="table table-responsive">
            <tr ng-repeat="element in vm.labbook.child_elements">
                <!-- viewable -->
                <td ng-if="element.viewable" style="text-align:center">
                    <i class="{{vm.getIcon(element.type)}}" title="{{vm.getTranslation(element.type)}}"></i>
                </td>
                <td width="100%" ng-if="element.viewable">{{element.display_name}}</td>
                <td ng-if="element.viewable" style="text-align:right">
                    v{{element.version_number}}
                </td>
                <!-- not viewable -->
                <td ng-if="!element.viewable" style="color: gray; text-align:center">
                    <i class="{{vm.getIcon(element.type)}}" title="{{vm.getTranslation(element.type)}}"></i>
                </td>
                <td width="100%" ng-if="!element.viewable" style="color: gray" translate>
                    {{vm.getTranslation(element.type)}} you have no access to</td>

                <td ng-if="!element.viewable" style="color: gray; text-align:right">
                    v{{element.version_number}}
                </td>
            </tr>
        </table>
        <div ng-if="vm.labbook.child_elements.length <= 0" translate>
            None
        </div>
    </div>
</div>
