/**
 * Copyright (C) 2016-2020 TU Muenchen and contributors of ANEXIA Internetdienstleistungs GmbH
 * SPDX-License-Identifier: AGPL-3.0-or-later
 */

import { NgModule } from '@angular/core';
import { CommonModule } from '@angular/common';
import { <%= classify(name) %>PageRoutingModule } from './<%= dasherize(name) %>-page-routing.module';

@NgModule({
  declarations: [],
  imports: [CommonModule, <%= classify(name) %>PageRoutingModule],
})
export class <%= classify(name) %>PageModule {}
