<!-- Button for creating a new sub directory and search field -->
<div class="form-horizontal" style="margin-bottom: 20px">
    <div class="col-xs-6 col-sm-3 col-md-2 col-lg-2">
        <!-- button for new directory -->
        <button class="btn btn-default" ng-click="vm.addNewSubdirectory()">
            <span translate>New Folder</span>
        </button>

        <!-- button for showing webdav url -->
        <button class="btn btn-default" ng-click="vm.showWebDavInformation()"
                title="{{ 'Open storage on your computer' | translate }}">
            <span class="fa fa-desktop"></span>
            <span translate>WebDav</span>
        </button>
    </div>
    <div class="col-xs-6 col-sm-4 col-md-4 col-lg-3">
        <div class="form-group has-feedback has-clear">
            <div class="col-xs-12">
                <!-- search field -->
                <search-field-widget do-search="vm.doSearch(searchString)" cancel-search="vm.cancelSearch()"
                                     placeholder="{{ 'Search for files' | translate }}"
                                     search-input-length="0" debounce="50">
                </search-field-widget>
            </div>
        </div>
    </div>
</div>

<!-- Sub Directories -->
<div class="row">
    <div class="col-xs-12">
        <div ng-show="vm.drive.sub_directories.length == 0">
            <span translate>There are no folders in this storage.</span>
        </div>
        <drive-directory-display-widget
            ng-if="vm.drive.sub_directories.length > 0"
            drive="vm.drive"
            search-string="vm.searchString"
            create-new-directory="vm.addNewSubdirectory"
            rename-directory="vm.renameDirectory"
            remove-directory="vm.removeDirectory"
            upload-file="vm.uploadFile"
            move-file-or-directory="vm.moveFileOrDirectory"
            download-file="vm.downloadFile"
            trash-file="vm.trashFile"
            directories="vm.drive.sub_directories" files="vm.files"></drive-directory-display-widget>
    </div>
</div>
