<div ng-repeat="directory in vm.directories | filter: vm.filterByParent | orderBy: 'title' as directoryList track by directory.pk">
    <div class="directory-row"
         ng-drop-target on-drop="vm.moveFileOrDirectory(data, directory)"
         ngf-drop="vm.uploadFile($files, directory)"
         ngf-multiple="true"
         ngf-allow-dir="false"
         ngf-include-dir="false"
         ngf-drag-over-class="'dragover'">

        <!-- toggle showing sub directories within the tree -->
        <div ng-show="!directory.is_virtual_root"
             ng-click="vm.toggleShowSubdirectories(directory.pk)" role="button" class="directory-icon">
            <span ng-show="!vm.showSubDirectories[directory.pk]" class="fa fa-fw fa-angle-right"></span>
            <span ng-show="!vm.showSubDirectories[directory.pk]" class="fa fa-fw fa-folder-o"></span>

            <span ng-show="vm.showSubDirectories[directory.pk]" class="fa fa-fw fa-angle-down"></span>
            <span ng-show="vm.showSubDirectories[directory.pk]" class="fa fa-fw fa-folder-open-o"></span>
        </div>

        <div ng-show="directory.is_virtual_root" class="directory-icon">
            <span class="{{:: vm.driveIcon }}"></span>
        </div>

        <!-- show directory title -->
        <div ng-if="!directory.is_virtual_root"
                ng-click="vm.renameDirectory(directory)" role="button" class="directory-text" ng-draggable draggable-model="directory">
            {{ directory.name }}
        </div>

        <div ng-show="directory.is_virtual_root" class="directory-text">
            <span>{{ vm.drive.title }}</span>
        </div>

        <!-- On dragover, show an info that files can be dropped here -->
        <span class="show-on-dragover" style="pointer-events: none">
            <span translate>Drop file(s) here to upload it to <i>{{ directory.title }}</i></span>
        </span>

        <div class="directory-icons hide-on-dragover">
            <!-- Add new subdirectory -->
            <a ng-click="vm.createNewDirectory(directory)"
               title="{{ 'Add new folder ' | translate }}"
               role="button" class="add-new-subdirectory-button">
                <span class="fa fa-plus-square"></span>
            </a>

            <!-- Delete directory and all subdirectories -->
            <a ng-show="!directory.is_virtual_root"
               ng-click="vm.removeDirectory(directory)"
               title="{{ 'Remove folder ' | translate }}"
               role="button" class="remove-directory-button">
                <span class="fa fa-trash"></span>
            </a>

            <!-- Add existing file -->
            <a ng-click="vm.showAddExistingFileDialog(directory)"
               title="{{ 'Add an existing file' | translate }}"
               role="button">
                <span class="fa fa-plus"></span>
            </a>

            <!-- Upload new file -->
            <a ng-click="vm.showFileSelectDialog(directory)"
               title="{{ 'Upload a file' | translate }}"
               role="button" class="upload-file-button">
                <span class="fa fa-upload"></span>
            </a>

            <!-- Download directory -->
            <a ng-href="{{ directory.download_directory }}"
               title="{{ 'Download directory as ZIP' | translate }}"
               role="button" class="download-directory-button">
                <span class="fa fa-download"></span>
            </a>
        </div>
    </div>

    <!-- list sub directories and files -->
    <div class="subdirectories" uib-collapse="!directory.is_virtual_root && !vm.showSubDirectories[directory.pk]">
        <!-- display all files of the current directory -->
        <div
                ng-repeat="file in vm.files  | filter: {'directory_id': directory.pk, 'deleted': false} | filter: vm.filterForFilenameSearch"
                class="file-row"
                ng-class="{'highlighted': vm.searchString != ''}"
        >

            <!-- display file icon -->
            <div class="file-icon">
                <i class="{{ file.icon }}"></i>
            </div>

            <!-- display link to file -->
            <div class="file-text">
                <a ng-model="file"
                   ui-sref="file-view({file: file})"
                   ng-draggable draggable-model="file"
                   title="{{ 'View File' | translate }}">
                    {{ file.name }}
                </a>
            </div>

            <!-- download file -->
            <div class="file-download">
                <a ng-click="vm.downloadFile(file)" role="button" title="{{ 'Download file' | translate }}">
                    <i class="{{:: vm.downloadIcon }}" aria-hidden="true"></i>
                    <span translate>Download {{ file.original_filename }}</span> ({{ file.file_size | bytes }})
                </a>
            </div>

            <!-- remove file from directory -->
            <div class="file-remove">
                <a ng-click="vm.trashFile(file)" role="button" title="{{ 'Trash file' | translate }}">
                    <i class="fa fa-trash"></i>
                </a>
            </div>
        </div>
        <!-- sub directories -->
        <drive-directory-display-widget
                drive="vm.drive"
                search-string="vm.searchString"
                create-new-directory="vm.createNewDirectory"
                rename-directory="vm.renameDirectory"
                remove-directory="vm.removeDirectory"
                upload-file="vm.uploadFile"
                move-file-or-directory="vm.moveFileOrDirectory"
                download-file="vm.downloadFile"
                trash-file="vm.trashFile"
                directories="vm.directories" files="vm.files"
                parent-directory="directory"></drive-directory-display-widget>
    </div>
</div>
