<div class="form-group" ng-repeat="answer in vm.answers track by $index">
    <label class="col-sm-3 control-label" for="answer-{{ $index }}" translate>
        Answer
    </label>
    <div class="col-sm-8">
        <validated-form-element
            id="answer-{{ $index }}"
            input-element="text"
            field-name="answer-{{ $index }}"
            placeholder="{{ 'Insert Answer' | translate }}"
            ng-model="vm.answers[$index]"
            errors="vm.errors[$index]">
        </validated-form-element>
    </div>
    <div class="col-sm-1">
        <div id="button_remove" class="btn btn-default" ng-click="vm.removeAnswer(answer)">
            <span class="fa fa-trash"></span>
        </div>
    </div>
</div>

<div class="form-group" ng-if="vm.errors['answers']">
    <p class="col-sm-offset-3 col-sm-4 text-danger">
        <span class="fa fa-exclamation-circle" aria-hidden="true"></span>
        {{ vm.errors['answers'][0] }}
    </p>
</div>

<div class="form-group">
    <label class="col-sm-3 control-label" for="button_add" translate>
        Add Answer
    </label>
    <div class="col-sm-1">
        <div id="button_add" class="btn btn-primary" ng-click="vm.addAnswer()">
            <span translate>Add</span>
        </div>
    </div>
</div>

<div class="form-group">
    <label class="col-sm-3 control-label" for="multiple_select" translate>
        Allow selection of multiple fields
    </label>
    <div class="col-sm-7">
        <validated-form-element
            id="multiple_select"
            input-element="checkbox"
            field-name="multiple_select"
            ng-model="vm.typeSettings.multiple_select"
            errors="vm.errors['multiple_select']">
        </validated-form-element>
    </div>
</div>
<div class="form-group">
    <label class="col-sm-3 control-label" for="final" translate>
        The list is final
    </label>
    <div class="col-sm-7">
        <validated-form-element
            id="final"
            input-element="checkbox"
            field-name="final"
            ng-model="vm.typeSettings.final"
            errors="vm.errors['final']">
        </validated-form-element>
    </div>
</div>
