<div class="row">
    <!-- Show History -->
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div>
            <label class="control-label" translate>Recent changes</label>

            <span ng-show="!vm.historyLoaded" translate>Please wait...</span>

            <table class="table table-responsive table-hover"
                   style="margin-top: 10px; margin-bottom: 10px; width: 100%;">
                <tbody>
                <tr ng-repeat="history in vm.histories | orderBy: 'date': true"
                    ng-click="vm.toggleHistoryDetails(history)"
                    role="button" popover-placement="bottom-right">
                    <!-- date -->
                    <td style="width: 130px">
                        {{ history.date | smallDateWithToday }}
                    </td>
                    <td>
                        <div>
                            <history-short-summary history="history" base-url-model="vm.baseUrlModel"></history-short-summary>
                        </div>
                        <div uib-collapse="!vm.historyDetailsVisible[history.pk]" ng-if="vm.historyDetailsVisible[history.pk]">
                            <history-entry-widget
                                history="history"
                                change-records="history.change_records"
                                base-url-model="vm.baseUrlModel">
                            </history-entry-widget>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>

            <!-- Depending on viewmode, we either show "Shore more changes" or a pagination -->
            <a class="pull-right clickable"
               tabindex="0"
               ng-show="!vm.expanded && vm.viewMode == 'limited' && vm.showMoreEntries"
               ng-click="vm.showMoreChanges()" role="button" translate>
                Show more changes...
            </a>

            <a class="pull-right clickable"
               tabindex="0"
               ng-show="!vm.expanded && vm.viewMode == 'all'" ng-click="vm.showLessChanges()" role="button" translate>
                Show less changes...
            </a>

            <ul ng-show="vm.viewMode == 'all'" uib-pagination total-items="vm.numberOfChanges" force-ellipses="true"
                ng-model="vm.currentPage" ng-change="vm.pageChanged()">
            </ul>

        </div>
    </div>
</div>
