<div class="modal-header">
    <h3 class="modal-title">
        <i class="{{:: vm.icons.trash }}" aria-hidden="true"></i>
        <span>{{vm.title}}</span></h3>
</div>
<div class="modal-body">
    <table class="table table-responsive table-hover">
        <thead>
        <tr>
            <th sortable-column="name" sort-by="vm.sortColumn" sort-reverse="vm.sortReverse">
                <span translate>Name</span>
            </th>
            <th width="60"></th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="object in vm.objectList | filter: {deleted:true} | orderBy:vm.sortColumn:vm.sortReverse as filteredObjectList">
            <td ng-click="vm.close()">
                <generic-link type="vm.type" object="object"></generic-link>
            </td>
            <td>
                <generic-delete-menu-widget model-object="object"></generic-delete-menu-widget>
            </td>
        </tr>
        <!-- No entries -->
        <tr ng-if="filteredObjectList.length == 0">
            <td colspan="7" translate>No entries</td>
        </tr>
        </tbody>
    </table>
</div>
<div class="modal-footer">
    <!-- Button for Cancel -->
    <button class="btn btn-default" ng-click="vm.close()" translate>Close</button>
</div>

<div class="text-center" ng-if="vm.objectList.length > 0 && vm.itemsLoaded">
   <ul uib-pagination
       total-items="vm.numberOfItems"
       items-per-page="vm.currentLimit"
       force-ellipses="true"
       boundary-link-numbers="true"
       max-size="15"
       ng-model="vm.currentPage"
       ng-change="vm.pageChanged()">
   </ul>
</div>
