<div ng-show="vm.baseModel != undefined">
    <div class="generic-show-element-state-widget"
         ng-show="vm.lockStatus && vm.lockStatus.locked != false && vm.showLocked">
        <span class="fa fa-lock"></span>

        <!-- show a message that the element is locked by another user -->
        <span ng-if="vm.remainingLockTimeSeconds > 0 && vm.lockStatus && vm.lockStatus.lock_details && vm.lockStatus.lock_details.locked_by.pk != vm.currentUser.pk">
            <capture-html param="userDisplayWidget">
                <user-display-widget user="vm.lockStatus.lock_details.locked_by"></user-display-widget>
            </capture-html>

            <span translate translate-html-params-user-display-widget="userDisplayWidget" translate-html-params-remaining-time-widget="vm.remainingTimeWidgetHtml">
                This element is locked for {{ remainingTimeWidget }} as it is currently being modified by {{ userDisplayWidget }}.
            </span>
        </span>

        <!-- show a message that the element is locked by the current user -->
        <span ng-if="vm.remainingLockTimeSeconds > 0 && vm.lockStatus && vm.lockStatus.lock_details && vm.lockStatus.lock_details.locked_by.pk == vm.currentUser.pk">
            <capture-html param="unlockLink">
                <a ng-click="vm.releaseLock()" role="button" translate>here</a>
            </capture-html>

            <span ng-if="!vm.readOnly" translate
                  translate-html-params-unlock-link="unlockLink" translate-html-params-remaining-time-widget="vm.remainingTimeWidgetHtml">
                This element is currently locked by you. The lock will automatically be released in {{ remainingTimeWidget }},
                or you can click {{ unlockLink }} to release the lock now.
            </span>

            <span ng-if="vm.readOnly" translate
                  translate-html-params-unlock-link="unlockLink" translate-html-params-remaining-time-widget="vm.remainingTimeWidgetHtml">
                This element is currently locked by you. The lock will automatically be released in {{ remainingTimeWidget }}.
            </span>
        </span>
    </div>
    <div class="generic-show-element-state-widget" ng-show="vm.baseModel.version_number < vm.latestVersion && vm.showReloadMessage">
        <capture-html param="refreshLink">
            <a ng-click="vm.reloadBaseModel()" role="button" translate>
                here
            </a>
        </capture-html>

        <span class="fa fa-refresh"></span>
        <span translate>This element has been modified by another user while you were reading it.</span>
        <span translate translate-html-params-refresh-link="refreshLink">Click {{ refreshLink }} to reload this page.</span>
    </div>
</div>
