<div style="display: inline-block; margin-right: 10px; margin-top: 2px">
    <!-- Show Appointments Filter -->
    <label title="{{ 'Toggle appointments filter' | translate }}">
        <input type="checkbox" ng-model="vm.showMyMeetings" ng-change="vm.toggleShowMyMeetings">
        <span translate>My Appointments</span>
    </label>
</div>
<div style="display: inline-block; margin-top: 2px; margin-right: 10px">
    <!-- Show Tasks Filter -->
    <label title="{{ 'Toggle tasks filter' | translate }}">
        <input type="checkbox" ng-model="vm.showMyTasks" ng-change="vm.toggleShowMyTasks">
        <span translate>My Tasks</span>
    </label>
</div>
