<div style="display: inline-block; margin-right: 10px; margin-top: 2px">
    <!-- Show Meetings Filter -->
    <label title="{{ 'Toggle meetings filter' | translate }}">
        <input type="checkbox" ng-model="vm.showMeetings" ng-change="vm.toggleShowMeetings">
        <span translate>Meetings</span>
    </label>
</div>
<div style="display: inline-block; margin-top: 2px; margin-right: 10px">
    <!-- Show Tasks Filter -->
    <label title="{{ 'Toggle tasks filter' | translate }}">
        <input type="checkbox" ng-model="vm.showTasks" ng-change="vm.toggleShowTasks">
        <span translate>Tasks</span>
    </label>
</div>
<div style="display: inline-block; margin-top: 2px">
    <!-- Show Resource Bookings Filter -->
    <label title="{{ 'Toggle resource bookings filter' | translate }}">
        <input type="checkbox" ng-model="vm.showMyResourceBookings" ng-change="vm.toggleShowMyResourceBookings">
        <span translate>My Resource Bookings</span>
    </label>
</div>

