<div style="display: inline-block; margin-right: 10px; margin-top: 2px">
    <!-- Show Appointments Filter -->
    <label title="{{ 'Toggle appointments filter' | translate }}">
        <input type="checkbox" ng-model="vm.showMeetings" ng-change="vm.toggleShowMeetings">
        <span translate>Appointments</span>
    </label>
</div>
<div style="display: inline-block; margin-top: 2px; margin-right: 10px">
    <!-- Show Tasks Filter -->
    <label title="{{ 'Toggle tasks filter' | translate }}">
        <input type="checkbox" ng-model="vm.showTasks" ng-change="vm.toggleShowTasks">
        <span translate>Tasks</span>
    </label>
</div>
