<div>
    <label>
        <input type="checkbox"
               ng-disabled="vm.readOnly"
               ng-model="vm.meeting.scheduled_notification_writable.active">
        <span translate>Remind attending users and contacts</span>
    </label>
</div>

<div ng-if="vm.meeting.scheduled_notification_writable.active" class="reminder-input-container">
    <div class="time-value-container">
        <number-form-element ng-model="vm.meeting.scheduled_notification_writable.timedelta_value"
                             ng-readonly="vm.readOnly"
                             max-decimal-places="0"
                             display-thousands-separator="false"
                             title="{{ 'Amount of Time' | translate }}">
        </number-form-element>
    </div>
    <div class="time-unit-container">
        <label class="sr-only" for="timedelta_unit">
            <span translate>Unit of Time</span>
        </label>
        <div title="{{ 'Unit of Time' | translate }}">
            <selectize ng-disabled="vm.readOnly"
                       options="vm.timeUnitOptions"
                       config="{maxItems: 1}"
                       ng-model="vm.meeting.scheduled_notification_writable.timedelta_unit">
            </selectize>
        </div>
    </div>
    <div>
        <span class="align-selectize-text selectize-input" translate>prior</span>
    </div>
</div>

<div>
    <validated-form-element-wrapper errors="vm.errors['scheduled_notification_writable']['non_field_errors']">
    </validated-form-element-wrapper>
    <validated-form-element-wrapper errors="vm.errors['scheduled_notification_writable']['timedelta_value']">
    </validated-form-element-wrapper>
    <validated-form-element-wrapper errors="vm.errors['scheduled_notification_writable']['timedelta_unit']">
    </validated-form-element-wrapper>
</div>
