<div class="lc-toolbar" aria-label="toolbar">
    <div style="display: inline-block" ng-show="!vm.shapesVisible">
        <a role="button" class="lc-toolbar-button" ng-click="vm.toggleDrawings()" style="width: auto">
            <span class="fa fa-eye"></span>
            <span translate>Show drawings</span>
        </a>
    </div>
    <div style="display: inline-block" ng-show="vm.shapesVisible">
        <a ng-disabled="!vm.shapesVisible" role="button" class="lc-toolbar-button"
           title="{{ 'Select' | translate }}"
           ng-class="{'active': vm.newTools['select'] == vm.activeTool}"
           ng-click="vm.activateTool(vm.newTools['select'])">
            <span class="{{:: vm.newTools['select'].icon }}"></span>
        </a>

        <a ng-disabled="!vm.shapesVisible" class="lc-toolbar-button"
           title="{{ 'Text' | translate }}" role="button"
           ng-class="{'active': vm.newTools['text'] == vm.activeTool}"
           ng-click="vm.activateTool(vm.newTools['text'])">
            <span class="{{:: vm.newTools['text'].icon }}"></span>
        </a>

        <div class="lc-toolbar-separator">&nbsp;</div>

        <a ng-disabled="!vm.shapesVisible" class="lc-toolbar-button"
           title="{{ 'Pencil' | translate }}" role="button"
           ng-class="{'active': vm.newTools['pencil'] == vm.activeTool}"
           ng-click="vm.activateTool(vm.newTools['pencil'])">
            <span class="{{:: vm.newTools['pencil'].icon }}"></span>
        </a>

        <a ng-disabled="!vm.shapesVisible" class="lc-toolbar-button"
           title="{{ 'Eraser' | translate }}" role="button"
           ng-class="{'active': vm.newTools['eraser'] == vm.activeTool}"
           ng-click="vm.activateTool(vm.newTools['eraser'])">
            <span class="{{:: vm.newTools['eraser'].icon }}"></span>
        </a>

        <div class="lc-toolbar-separator">&nbsp;</div>

        <a ng-disabled="!vm.shapesVisible" class="lc-toolbar-button"
           title="{{ 'Line' | translate }}" role="button"
           ng-class="{'active': vm.newTools['line'] == vm.activeTool}"
           ng-click="vm.activateTool(vm.newTools['line'])">
            <span class="{{:: vm.newTools['line'].icon }}"></span>
        </a>

        <a ng-disabled="!vm.shapesVisible" class="lc-toolbar-button"
           title="{{ 'Circle' | translate }}" role="button"
           ng-class="{'active': vm.newTools['ellipse'] == vm.activeTool}"
           ng-click="vm.activateTool(vm.newTools['ellipse'])">
            <span class="{{:: vm.newTools['ellipse'].icon }}"></span>
        </a>

        <a ng-disabled="!vm.shapesVisible" class="lc-toolbar-button"
           title="{{ 'Polygon' | translate }}" role="button"
           ng-class="{'active': vm.newTools['polygon'] == vm.activeTool}"
           ng-click="vm.activateTool(vm.newTools['polygon'])">
            <span class="{{:: vm.newTools['polygon'].icon }}"></span>
        </a>

        <a ng-disabled="!vm.shapesVisible" class="lc-toolbar-button"
           title="{{ 'Rectangle' | translate }}" role="button"
           ng-class="{'active': vm.newTools['rectangle'] == vm.activeTool}"
           ng-click="vm.activateTool(vm.newTools['rectangle'])">
            <span class="{{:: vm.newTools['rectangle'].icon }}"></span>
        </a>

        <div class="lc-toolbar-separator">&nbsp;</div>

        <a role="button" class="lc-toolbar-button"
           title="{{ 'Text and line color' | translate }}"
           style="display: inline-block; position: relative;"
           ng-disabled="!vm.shapesVisible">
        <span colorpicker="rgba" colorpicker-parent="true" ng-model="vm.primaryColor"
              class="icon-color"
              style="text-shadow: 0px 0px rgba(0, 0, 0, 0.5)"
              ng-style="{'color': vm.primaryColor}"></span>
        </a>

        <a role="button" class="lc-toolbar-button"
           title="{{ 'Fill color' | translate }}"
           style="display: inline-block; position: relative;"
           ng-disabled="!vm.shapesVisible">
        <span colorpicker="rgba" colorpicker-parent="true" ng-model="vm.secondaryColor"
              class="icon-bucket"
              style="text-shadow: 0px 0px rgba(0, 0, 0, 0.5)"
              ng-style="{'color': vm.secondaryColor}"></span>
        </a>
    </div>

    <!-- undo/redo buttons -->
    <div class="pull-right">
        <!-- provide a save button of type submit, which triggers the form of an editable select field on the outside
        before saving, we need to switch to the "select" tool, so any changes are saved
        -->
        <button type="submit"
                ng-click="vm.activateTool(vm.newTools['select'])"
                class="btn btn-primary" ng-show="vm.showSaveButton"
                title="{{ 'Save changes' }}"
                ng-disabled="!vm.hasUnsavedChanges || !vm.shapesVisible">
            <span class="fa fa-check"></span>
            <span translate>Save</span>
        </button>

        <!-- Remove Button (if a shape is selected) -->
        <button type="button" class="btn btn-default"
                ng-disabled="!vm.shapesVisible"
                title="{{ 'Remove' | translate }} {{ vm.selectedShape.className }}"
                ng-click="vm.removeShape()" ng-show="vm.activeTool == vm.newTools['select'] && vm.selectedShape">
            <span class="fa fa-trash-o"></span>
        </button>

        <!-- undo -->
        <button type="button" class="btn btn-default"
                title="{{'Undo' | translate }}"
                ng-click="vm.undo()" ng-disabled="!vm.shapesVisible || !vm.canUndo()">
            <span class="fa fa-arrow-left"></span>
        </button>

        <!-- redo -->
        <button type="button" class="btn btn-default"
                title="{{'Redo' | translate }}"
                ng-click="vm.redo()" ng-disabled="!vm.shapesVisible || !vm.canRedo()">
            <span class="fa fa-arrow-right"></span>
        </button>


        <!-- kebab menu for this picture -->
        <div style="display: inline; width: 10px; text-align: right" class="pull-right dropdown" uib-dropdown keyboard-nav="true">
            <a role="button" tabindex="0" style="text-decoration: none; font-size: 12pt; color: black;" uib-dropdown-toggle class="dropdown-toggle" aria-haspopup="true" aria-expanded="false">
                <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
            </a>

            <ul class="dropdown-menu dropdown-menu-right" uib-dropdown-menu aria-labelledby="Extended menu">
                <li>
                    <a ng-disabled="!vm.shapesVisible"
                       ng-click="vm.clearDrawing()" role="button" href>
                        <i class="fa fa-trash"></i> <span translate>Clear</span>
                    </a>
                </li>
                <li>
                    <a ng-click="vm.toggleDrawings()" href>
                        <span ng-show="vm.shapesVisible" class="fa fa-eye-slash"></span>
                        <span ng-show="vm.shapesVisible" translate>Hide drawings</span>

                        <span ng-hide="vm.shapesVisible" class="fa fa-eye"></span>
                        <span ng-hide="vm.shapesVisible" translate>Show drawings</span>
                    </a>
                </li>

                <li>
                    <a type="file" href
                       title="{{ 'Upload a new background image' }}"
                       ng-disabled="!vm.shapesVisible"
                       ngf-select="vm.saveBackgroundImage($file, $invalidFiles)"
                       ng-model="vm.newBackgroundImage"
                       ngf-accept="'image/*'"
                       ngf-pattern="'image/*'"
                       ngf-max-size="10MB">
                        <span class="fa fa-picture-o"></span>
                        <span translate>Upload Image</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>

