<div class="modal-header">
    <h3 class="modal-title" translate>
        The background image is too big
    </h3>
</div>
<div class="modal-body">
    <p translate>The provided background image is too big for the current canvas.</p>
    <p translate>
        Size of background image: {{ vm.imageSize.width }}px x {{ vm.imageSize.height }}px<br />
        Size of canvas: {{ vm.canvasSize.width }}px x {{ vm.canvasSize.height }}px
    </p>
    <p translate>
        Would you like to resize the image such that it fits the canvas, or to resize the canvas such that it fits the image?
    </p>
</div>

<div class="modal-footer">
    <div class="text-right">
        <button id="button_modal_background_image_dismiss" class="btn btn-default" type="button" ng-click="vm.dismiss()" translate>
            Cancel
        </button>
        <button id="button_modal_background_resize_image" class="btn btn-warning" type="button" ng-click="vm.resizeImage()" translate>
            Resize image
        </button>
        <button id="button_modal_background_resize_canvas" class="btn btn-warning" ng-click="vm.resizeCanvas()" translate>
            Resize canvas
        </button>
    </div>
</div>

