<!-- name of the user -->
<div class="col-xs-12 col-sm-6">
    <user-display-widget user="vm.assignment.user"></user-display-widget>
</div>
<!-- Role of the user within the project -->
<div class="col-xs-11 col-sm-5" ng-switch="vm.canEditRoles">
    <div ng-switch-when="true">
        <editable-select-list
                on-save="vm.updateAssignment('role_pk', ngModel)"
                ng-model="vm.assignment.role_pk">
            <!-- display a dropdown for editing the assigned role-->
            <project-role-selectize-widget
                selected-project-role="vm.assignment.role_pk"
            ></project-role-selectize-widget>
        </editable-select-list>
    </div>
    <!-- default: just show the role title -->
    <div ng-switch-default ng-bind="vm.assignment.role.name ">
    </div>
</div>

<div class="col-xs-1 col-sm-1" ng-show="vm.canDeleteRoles">
    <a role="button" class="pull-right"
       ng-click="vm.deleteProjectRoleUserAssignment(vm.assignment)">
        <i class="fa fa-trash-o remove-user-icon" aria-hidden="true"></i>
    </a>
</div>
