<div class="form-group"
     ng-repeat="assignment in vm.projectRoleUserAssignments | orderBy: ['!role.default_role_on_project_create','user.userprofile.last_name'] track by assignment.pk">
    <display-user-project-role-widget
        assignment="assignment" project="vm.project">
    </display-user-project-role-widget>
</div>

<div class="row text-right" ng-show="vm.canAddRoles">
    <button class="btn btn-primary" ng-click="vm.addMember()">
        <span translate>Add member</span>
    </button>
</div>
