{% load i18n captureas user_widgets simple_object_display date_filters %}

<p>{% trans "Title" %}: {{ meeting.title }}</p>
<p>{% trans "Start Date" %}: {{ meeting.date_time_start | date_short }}</p>
<p>{% trans "End Date" %}: {{ meeting.date_time_end | date_short }}</p>
{% if meeting.location %}<p>{% trans "Location" %}: {{ meeting.location }}</p>{% endif %}
{% if meeting.resource %}<p>{% trans "Resource" %}: {{ meeting.resource }}</p>{% endif %}

<p>{% trans "Projects" %}:
<ul>
    {% for project in meeting.projects.all %}
        <li>{{ project.name }}</li>
    {% endfor %}
</ul>
</p>

<p>{% trans "Attending users" %}:
<ul>
    {% for user in meeting.attending_users.all %}
        <li>{% display_user_widget user %}</li>
    {% endfor %}
</ul>
</p>

<p>{% trans "Attending contacts" %}:
<ul>
    {% for contact in meeting.attending_contacts.all %}
        <li>{% simple_object_display contact %}</li>
    {% endfor %}
</ul>
</p>

<p>{% trans "Text" %}:
<div>
    {{ meeting.text | safe }}
</div>
</p>
