{% load i18n captureas user_widgets simple_object_display date_filters %}

<p>{% trans "Name" %}: {{ instance.title }}</p>
<p>{% trans "From" %}: {{ instance.date_time_start | date_short }}</p>
<p>{% trans "To" %}: {{ instance.date_time_end | date_short }}</p>
{% if instance.resource %}<p>{% trans "Resource" %}: {{ instance.resource }}</p>{% endif %}

{% if instance.attending_users %}
<p>{% trans "Attending users" %}:
<ul>
    {% for user in instance.attending_users.all %}
        <li>{% display_user_widget user %}</li>
    {% endfor %}
</ul>
</p>
{% endif %}

{% if instance.attending_contacts.all %}
<p>{% trans "Attending contacts" %}:
<ul>
    {% for contact in instance.attending_contacts.all %}
        <li>{% simple_object_display contact %}</li>
    {% endfor %}
</ul>
</p>
{% endif %}

{% if instance.text %}
<p>{% trans "Text" %}:
<div>
    {{ instance.text | safe }}
</div>
</p>
{% endif %}

{% if instance.projects.all %}
<p>{% trans "Projects" %}:
<ul>
    {% for project in instance.projects.all %}
        <li>{{ project.name }}</li>
    {% endfor %}
</ul>
</p>
{% endif %}
