<div class="card-panel element-panel">
    <screen-header-function-bar
        screen-new-entity="{{ 'New Comment' | translate }}"
        screen-new-entity-type="note"
        selected-projects="vm.selectedProjects"
        selected-users="vm.selectedUsers"
        users="vm.users"
        current-view="vm.currentView" search-field="vm.searchField">
        <screen-title>
            <span translate>Comments</span>
        </screen-title>
    </screen-header-function-bar>
</div>

<generic-list-loading-widget
    loading-flag="vm.notesLoaded"
    loading-text="Comments">
</generic-list-loading-widget>

<div class="card-panel" ng-if="vm.currentView == 'list' && vm.notesLoaded">
    <note-table-view notes="vm.notes" order-by="vm.orderBy" order-dir="vm.orderDir">
    </note-table-view>
</div>

<note-card-view ng-if="vm.currentView == 'card' && vm.notesLoaded" notes="vm.notes"></note-card-view>

<div class="text-center" ng-if="vm.notes.length > 0 && vm.notesLoaded">
    <ul uib-pagination
        total-items="vm.numberOfNotes"
        items-per-page="vm.currentLimit"
        force-ellipses="true"
        boundary-link-numbers="true"
        max-size="15"
        ng-model="vm.currentPage"
        ng-change="vm.pageChanged()">
    </ul>
</div>
