<div class="panel panel-default element-panel">
    <div class="panel-heading">
        <div style="float: left">
            <i class="{{:: vm.noteIcon }}"></i> {{ vm.note.subject }}
        </div>
        <generic-detail-view-menu-widget
            ng-if="!vm.readOnly"
            base-model="vm.note"
            base-url-model="notes"
            has-trash="true"
            has-export="true"
            has-restore="true"
            has-privileges="true"
            has-new-element="true"
            has-duplicate="true"></generic-detail-view-menu-widget>
    </div>
    <div class="panel-body">
        <generic-show-element-state-widget base-model="vm.note"
                                           show-trashed="true"></generic-show-element-state-widget>
        <generic-show-element-lock-status-widget on-lock-cb="vm.onLock()" on-unlock-cb="vm.onUnlock()"
                                                 base-model="vm.note"
                                                 read-only="vm.readOnly"
                                                 show-locked="true"
                                                 show-reload-message="true"></generic-show-element-lock-status-widget>
        <div class="row">
            <div class="form-horizontal" name="editNoteForm">
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4">
                    <!-- Note Subject -->
                    <div class="form-group">
                        <label class="col-sm-2 col-md-3" for="note_subject" translate
                            title="{{ 'mandatory field' | translate }}">
                            Subject *
                        </label>
                        <div class="col-sm-9">
                            <editable-select-list
                                edit-disabled="vm.isReadOnly()"
                                on-save="vm.saveNotePartial('subject', ngModel)"
                                on-save-multiple="vm.saveNote()"
                                on-abort="vm.resetErrors()"
                                ng-model="vm.note.subject">
                                <ng-include src="'js/screens/note/noteForm.subject.html'"></ng-include>
                            </editable-select-list>
                        </div>
                    </div>

                    <!-- Note Content -->
                    <div class="form-group">
                        <label class="col-sm-2 col-md-3" for="input_note_create_content">
                            <span translate>Content</span>
                            <!-- choose Template -->
                            <text-template-widget ng-hide="vm.isReadOnly()" override-object-attribute="vm.note.content"></text-template-widget>
                        </label>
                        <div class="col-sm-9">
                            <editable-select-list
                                compare-mode="html"
                                edit-disabled="vm.isReadOnly()"
                                on-save="vm.saveNotePartial('content', ngModel)"
                                on-save-multiple="vm.saveNote()"
                                on-abort="vm.resetErrors()"
                                ng-model="vm.note.content">
                                <ng-include src="'js/screens/note/noteForm.content.html'"></ng-include>
                            </editable-select-list>
                        </div>
                    </div>

                    <!-- Metadata -->
                    <metadata-fields-widget
                        base-model="vm.note"
                        base-url-model="note"
                        read-only="vm.isReadOnly()"
                        on-save="vm.saveNotePartial('metadata', vm.note.metadata)"
                        on-save-multiple="vm.saveNote()"
                        on-abort="vm.resetErrors()"
                        metadata="vm.note.metadata">
                    </metadata-fields-widget>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4">
                    <created-and-updated-by-widget element="vm.note"></created-and-updated-by-widget>

                    <!-- project -->
                    <div class="form-group">
                        <label class="col-sm-2 col-md-3" for="input_note_create_project" translate>
                            Project
                        </label>
                        <div class="col-sm-9">
                            <editable-select-list
                                edit-disabled="vm.isReadOnly()"
                                on-save="vm.saveNotePartial('projects', ngModel)"
                                on-save-multiple="vm.saveNote()"
                                on-abort="vm.resetErrors()"
                                ng-model="vm.projectPks"
                                compare-mode="array">
                                <ng-include src="'js/screens/note/noteForm.projects.html'"></ng-include>
                            </editable-select-list>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4">
                    <!-- History -->
                    <history-short-widget base-model="vm.note" base-url-model="note"></history-short-widget>
                    <!-- Versions -->
                    <versions-short-widget
                            readonly="vm.isReadOnly()"
                            base-model="vm.note" base-url-model="note"></versions-short-widget>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- relations -->
<relation-list-widget project="vm.project" base-model="vm.note" base-url-model="note"></relation-list-widget>
