<!DOCTYPE html>
<html lang="en" class="layout-pf layout-pf-fixed transitions" ng-app="app">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta charset="utf-8">
    <title ng-bind="siteTitle"></title>
    <link rel="shortcut icon" href="img/favicon.ico" type="image/vnd.microsoft.icon"/>

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">

    <!-- build:js js/deps.js -->
    <!-- jQuery -->
    <script src="../node_modules/jquery/dist/jquery.js"></script>

    <!-- jQuery UI -->
    <script src="../node_modules/jquery-ui-dist/jquery-ui.js"></script>

    <!-- stacktrace js -->
    <script src="../node_modules/stacktrace-js/dist/stacktrace.js"></script>

    <!-- Literally Canvas Core -->
    <script src="../node_modules/literallycanvas/lib/js/literallycanvas-core.js"></script>

    <!-- Load angular modules -->
    <script src="../node_modules/angular/angular.js"></script>

    <!-- Animation for Angular -->
    <script src="../node_modules/angular-animate/angular-animate.js"></script>

    <!-- Angular Sticky - to keep some divs sticky -->
    <script src="../node_modules/angular-sticky-plugin/dist/angular-sticky.js"></script>

    <!-- Special filters such as group by for angular -->
    <script src="../node_modules/angular-filter/dist/angular-filter.js"></script>

    <!-- Angular $resource for REST API Calls -->
    <script src="../node_modules/angular-resource/angular-resource.js"></script>

    <!-- Angular UI Router -->
    <script src="../node_modules/angular-ui-router/release/angular-ui-router.js"></script>

    <!-- Angular cookies -->
    <script src="../node_modules/angular-cookies/angular-cookies.js"></script>


    <script src="../node_modules/angular-resource-url-type-factory/dist/ngresourceurltypefactory.js"></script>
    <script src="../node_modules/angular-sanitize/angular-sanitize.js"></script>
    <script src="../node_modules/angular-ui-bootstrap/dist/ui-bootstrap-tpls.js"></script>
    <script src="../node_modules/angularjs-toaster/toaster.js"></script>
    <script src="../node_modules/ngstorage/ngStorage.js"></script>
    <script src="../node_modules/angular-gettext/dist/angular-gettext.js"></script>
    <script src="../node_modules/angular-anx-bootstrap-grid-tree/src/tree-grid-directive.js"></script>
    <script src="../node_modules/blob-tmp/Blob.js"></script>
    <script src="../node_modules/file-saver/FileSaver.js"></script>
    <script src="../node_modules/ng-file-upload/dist/ng-file-upload.js"></script>
    <script src="../node_modules/angular-file-saver/dist/angular-file-saver.js"></script>
    <script src="../node_modules/angular-loading-bar/src/loading-bar.js"></script>
    <script src="../node_modules/angular-drag-and-drop-lists/angular-drag-and-drop-lists.js"></script>
    <script src="../node_modules/ng-focus-if/focusIf.js"></script>
    <script src="../node_modules/angular-perms/dist/ngperms.js"></script>

    <script src="../node_modules/angular-websocket/dist/angular-websocket.js"></script>

    <script src="../node_modules/google-diff-match-patch/diff_match_patch_uncompressed.js"></script>
    <script src="../node_modules/angular-diff-match-patch/angular-diff-match-patch.js"></script>

    <script src="../node_modules/diff/dist/diff.js"></script>

    <script src="../node_modules/angular-bootstrap-colorpicker/js/bootstrap-colorpicker-module.js"></script>

    <!-- angular gridster -->
    <script src="../node_modules/angular-gridster/src/angular-gridster.js"></script>
    <script src="../node_modules/angular-resizable/src/angular-resizable.js"></script>

    <!-- tinymce -->
    <script src="../node_modules/tinymce/tinymce.js"></script>
    <!-- Plugins (make sure to include all tinymce plugins that you need, and test this with a production build) -->
    <script src="../node_modules/tinymce/themes/modern/theme.js"></script>
    <script src="../node_modules/tinymce/plugins/image/plugin.js"></script>
    <script src="../node_modules/tinymce/plugins/charmap/plugin.js"></script>
    <script src="../node_modules/tinymce/plugins/textpattern/plugin.js"></script>
    <script src="../node_modules/tinymce/plugins/advlist/plugin.js"></script>
    <script src="../node_modules/tinymce/plugins/autolink/plugin.js"></script>
    <script src="../node_modules/tinymce/plugins/link/plugin.js"></script>
    <script src="../node_modules/tinymce/plugins/lists/plugin.js"></script>
    <script src="../node_modules/tinymce/plugins/autoresize/plugin.js"></script>
    <script src="../node_modules/tinymce/plugins/textcolor/plugin.js"></script>
    <script src="../node_modules/tinymce/plugins/colorpicker/plugin.js"></script>
    <script src="../node_modules/tinymce/plugins/hr/plugin.js"></script>
    <script src="../node_modules/tinymce/plugins/table/plugin.js"></script>
    <script src="../node_modules/tinymce-formula/plugin.js"></script>

    <!-- tinymce angular bindings -->
    <script src="../node_modules/angular-ui-tinymce/src/tinymce.js"></script>


    <!-- Angular Selectize -->
    <script src="../node_modules/selectize/dist/js/standalone/selectize.js"></script>
    <script src="../node_modules/angular-selectize2/dist/selectize.js"></script>

    <!-- Load Patternfly and Bootstrap Dependencies -->

    <!-- Bootstrap JS -->
    <script src="../node_modules/bootstrap/dist/js/bootstrap.js"></script>

    <!-- C3, D3 - Charting Libraries -->
    <script src="../node_modules/c3/c3.js"></script>
    <script src="../node_modules/d3/build/d3.js"></script>

    <!-- PatternFly Custom Componets -  Sidebar, Popovers Customizations -->
    <!-- Note: jquery.dataTables.js must occur in the html source before patternfly*.js.-->
    <script src="../node_modules/patternfly/dist/js/patternfly.js"></script>

    <!-- Moment - required by Bootstrap Date Time Picker -->
    <script src="../node_modules/moment/min/moment-with-locales.js"></script>

    <!-- Eonasdan Bootstrap Date Time Picker (requires Moment) with angular support -->
    <script src="../node_modules/eonasdan-bootstrap-datetimepicker/src/js/bootstrap-datetimepicker.js"></script>

    <script src="../node_modules/angular-eonasdan-datetimepicker/dist/angular-eonasdan-datetimepicker.js"></script>

    <!-- angular ui-calendar / fullCalendar -->
    <script src="../node_modules/angular-ui-calendar/src/calendar.js"></script>
    <script src="js/shared/fullCalendar/fullCalendarCustomButtons.js"></script>
    <script src="../node_modules/fullcalendar/dist/lang-all.js"></script>

    <!-- angular moment - required for datetime objects and by angular gantt -->
    <script src="../node_modules/angular-moment/angular-moment.js"></script>

    <!-- angular ui tree - required by angular gantt -->
    <script src="../node_modules/angular-ui-tree/dist/angular-ui-tree.js"></script>

    <!-- angular gantt -->
    <script src="../node_modules/angular-gantt/assets/angular-gantt.js"></script>
    <script src="../node_modules/angular-gantt/assets/angular-gantt-plugins.js"></script>

    <!-- Responsive Breakpoints - listens and provides angular watchers/events for bootstrap breakpoints for xs, sm, md and lg -->
    <script src="../node_modules/angular-responsive-breakpoints/ng-responsive-breakpoints.js"></script>

    <!-- Auto resize HTML textareas -->
    <script src="../node_modules/angular-elastic/elastic.js"></script>

    <!-- image cropper -->
    <script src="../node_modules/ng-img-crop/compile/unminified/ng-img-crop.js"></script>

    <!-- ngclipboard -->
    <script src="../node_modules/clipboard/dist/clipboard.js"></script>
    <script src="../node_modules/ngclipboard/dist/ngclipboard.js"></script>

    <!-- infinite scroll -->
    <script src="../node_modules/ng-infinite-scroll/build/ng-infinite-scroll.js"></script>

    <!-- angular-ui-grid -->
    <script src="../node_modules/angular-ui-grid/ui-grid.min.js"></script>


    <!-- pdfjs -->
    <script src="../node_modules/pdfjs-dist/build/pdf.js"></script>
    <script src="../node_modules/pdfjs-dist/build/pdf.worker.js"></script>

    <!-- selenium support; ToDo: remove this for production builds -->
    <script src="js/selenium.js"></script>
    <!-- endbuild -->

    <!-- build:css css/main.css -->

    <!-- anguar gridster -->
    <link rel="stylesheet" href="../node_modules/angular-gridster/dist/angular-gridster.css">
    <link rel="stylesheet" href="../node_modules/angular-resizable/src/angular-resizable.css">

    <!-- literally canvas -->
    <link rel="stylesheet" href="../node_modules/literallycanvas/lib/css/literallycanvas.css">

    <!-- angular bootstrap color picker -->
    <link rel="stylesheet" href="../node_modules/angular-bootstrap-colorpicker/css/colorpicker.css">

    <!-- Angular UI Bootstrap Styles -->
    <link rel="stylesheet" href="../node_modules/angular-ui-bootstrap/dist/ui-bootstrap-csp.css">

    <!-- font awesome -->
    <!--<link rel="stylesheet" href="../node_modules/font-awesome/css/font-awesome.css">-->

    <link href="../node_modules/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.css">

    <link rel="stylesheet" href="../node_modules/angular-anx-bootstrap-grid-tree/src/treeGrid.css">

    <link rel="stylesheet" href="../node_modules/angular-loading-bar/src/loading-bar.css">

    <!-- angular ui-calendar -->
    <link rel="stylesheet" href="../node_modules/fullcalendar/dist/fullcalendar.css"/>

    <!-- angular ui tree - required by angular gantt -->
    <link rel="stylesheet" href="../node_modules/angular-ui-tree/dist/angular-ui-tree.min.css">

    <!-- angular gantt -->
    <link rel="stylesheet" href="../node_modules/angular-gantt/assets/angular-gantt.css"/>
    <link rel="stylesheet" href="../node_modules/angular-gantt/assets/angular-gantt-plugins.css"/>

    <!-- image cropper -->
    <link rel="stylesheet" href="../node_modules/ng-img-crop/compile/unminified/ng-img-crop.css"/>

    <!-- angular-ui-grid -->
    <link rel="stylesheet" href="../node_modules/angular-ui-grid/ui-grid.min.css">

    <!-- bootstrap theme -->
    <!-- it is not necessary to include the bootstrap theme, as this is already handled by patternfly -->
    <!--<link href="theme/theme.css" rel="stylesheet">-->

    <!-- Compiled LESS files -->
    <link href=".temp/less.css" rel="stylesheet">
    <!-- endbuild -->

    <!-- build:js js/app.js -->
    <!-- include polyfills -->
    <script src="js/polyfills.js"></script>

    <!-- Include our app, directives, services API, and controllers -->
    <script src="js/modules/imgResize.js"></script>
    <script src="js/modules/anx-angular-cached-resource.js"></script>
    <script src="js/modules/hashcode.js"></script>
    <script src="js/modules/htmlDomCompare.js"></script>
    <script src="js/modules/compareFunction.js"></script>
    <script src="js/modules/angular-propagate-click.js"></script>
    <script src="js/modules/hasScrollbars.js"></script>

    <script src="js/app.js"></script>
    <script src="js/app.exceptionHandler.js"></script>
    <script src="js/app.config.js"></script>
    <script src="js/app.permissions.js"></script>
    <script src="js/app.dates.js"></script>
    <script src="js/app.routes.js"></script>
    <script src="js/app.rest.js"></script>

    <script src="js/services/genericSearchService/genericSearchService.js"></script>
    <script src="js/services/userCache/userCache.js"></script>
    <script src="js/services/rest/backendVersionService.js"></script>
    <script src="js/services/calendar/calendarConfigurationService.js"></script>
    <script src="js/services/storage/storageService.js"></script>
    <script src="js/services/workbenchElements/workbenchElements.js"></script>
    <script src="js/services/workbenchElements/workbenchElementsTranslations.js"></script>
    <script src="js/services/project/projectStateService.js"></script>
    <script src="js/services/project/projectPkToDetailService.js"></script>
    <script src="js/services/export/exportRestService.js"></script>
    <script src="js/services/converters/dmpConverterService.js"></script>
    <script src="js/services/converters/taskConverterService.js"></script>
    <script src="js/services/converters/meetingConverterService.js"></script>
    <script src="js/services/converters/resourceConverterService.js"></script>
    <script src="js/services/converters/resourceBookingConverterService.js"></script>
    <script src="js/services/dmp/dmpStateService.js"></script>
    <script src="js/services/relation/lockStatusService.js"></script>
    <script src="js/services/relation/relationUpdateDeleteService.js"></script>
    <script src="js/services/relation/relationIconService.js"></script>
    <script src="js/services/relation/relateableModelService.js"></script>
    <script src="js/services/history/historyModelTypeService.js"></script>
    <script src="js/services/icon/iconImagesService.js"></script>
    <script src="js/services/file/fileIconService.js"></script>
    <script src="js/services/projectSidebar/projectSidebar.js"></script>
    <script src="js/services/scrollingService/scrollingService.js"></script>
    <script src="js/services/backgroundStyleService/backgroundStyleService.js"></script>
    <script src="js/services/globalErrorHandler/globalErrorHandler.js"></script>
    <script src="js/services/format/numberFormatService.js"></script>
    <script src="js/services/format/timeFormatService.js"></script>
    <script src="js/services/navigationService/navigationService.js"></script>
    <script src="js/services/filterUrlStateService/filterUrlStateService.js"></script>
    <script src="js/services/user/userNameService.js"></script>
    <script src="js/services/genericModelService/genericModelService.js"></script>

    <script src="js/services/sort/genericSortService.js"></script>
    <script src="js/services/sort/userSortService.js"></script>
    <script src="js/services/sort/userListSortService.js"></script>
    <script src="js/services/labbook/labbookService.js"></script>

    <!-- Register UI Router URL Matcher Types -->
    <script src="js/shared/urlMatcherType/urlMatcherTypePath.js"></script>
    <script src="js/shared/urlMatcherType/urlMatcherTypeUuid4.js"></script>
    <script src="js/shared/urlMatcherType/urlMatcherTypeProject.js"></script>
    <script src="js/shared/urlMatcherType/urlMatcherTypeDmp.js"></script>
    <script src="js/shared/urlMatcherType/urlMatcherTypeResource.js"></script>
    <script src="js/shared/urlMatcherType/urlMatcherTypeTask.js"></script>
    <script src="js/shared/urlMatcherType/urlMatcherTypeNote.js"></script>
    <script src="js/shared/urlMatcherType/urlMatcherTypeContact.js"></script>
    <script src="js/shared/urlMatcherType/urlMatcherTypeFile.js"></script>
    <script src="js/shared/urlMatcherType/urlMatcherTypeMeeting.js"></script>
    <script src="js/shared/urlMatcherType/urlMatcherTypeLabbook.js"></script>
    <script src="js/shared/urlMatcherType/urlMatcherTypePicture.js"></script>
    <script src="js/shared/urlMatcherType/urlMatcherTypeKanbanboard.js"></script>
    <script src="js/shared/urlMatcherType/urlMatcherTypeDrive.js"></script>
    <script src="js/shared/urlMatcherType/urlMatcherTypeUserManualCategory.js"></script>
    <script src="js/shared/urlMatcherType/urlMatcherTypeNotification.js"></script>

    <script src="js/shared/uiRouterHelper/uiRouterHelper.js"></script>


    <!-- Some helpers for form elements -->
    <script src="js/shared/editableFormElement/editableFormElement.js"></script>
    <script src="js/shared/editableFormElement/editableSelectList.js"></script>
    <script src="js/shared/selectFileWithPicker/selectFileWithPicker.js"></script>
    <script src="js/shared/validatedFormElement/validatedFormElementDirective.js"></script>
    <script src="js/shared/validatedFormElement/validatedFormElementWrapper.js"></script>
    <script src="js/shared/validatedFormElement/timeFormElement.js"></script>
    <script src="js/shared/validatedFormElement/numberFormElement.js"></script>
    <script src="js/shared/validatedFormElement/affixedElement.js"></script>


    <script src="js/shared/guid/guid.js"></script>
    <script src="js/shared/draggable/draggable.js"></script>
    <script src="js/shared/htmlCompile/htmlCompileDirective.js"></script>
    <script src="js/shared/captureHtml/captureHtml.js"></script>
    <script src="js/shared/escKeyDirective/escKeyDirective.js"></script>
    <script src="js/shared/arrayBufferToString/arrayBufferToString.js"></script>
    <script src="js/shared/asHtml/asHtml.js"></script>
    <script src="js/shared/sortableColumn/sortableColumn.js"></script>
    <script src="js/shared/filesModel/filesModel.js"></script>
    <script src="js/shared/filters/filters.js"></script>
    <script src="js/shared/d3Module/d3Module.js"></script>
    <script src="js/shared/modalDialog/modalDialog.js"></script>

    <!-- REST Endpoints -->
    <script src="js/services/rest/dashboardService.js"></script>
    <script src="js/services/rest/elementLabelRestService.js"></script>
    <script src="js/services/rest/sitePreferences.js"></script>
    <script src="js/services/rest/authRestService.js"></script>
    <script src="js/services/rest/projectRestService.js"></script>
    <script src="js/services/rest/roleRestService.js"></script>
    <script src="js/services/rest/projectRoleUserAssignmentRestService.js"></script>
    <script src="js/services/rest/projectBreadcrumbRestService.js"></script>
    <script src="js/services/rest/meetingRestService.js"></script>
    <script src="js/services/rest/myScheduleRestService.js"></script>
    <script src="js/services/rest/myMeetingRestService.js"></script>
    <script src="js/services/rest/myTaskRestService.js"></script>
    <script src="js/services/rest/resourceRestService.js"></script>
    <script src="js/services/rest/userRestService.js"></script>
    <script src="js/services/rest/userGroupRestService.js"></script>
    <script src="js/services/rest/taskRestService.js"></script>
    <script src="js/services/rest/dmpsRestService.js"></script>
    <script src="js/services/rest/dmpFormsRestService.js"></script>
    <script src="js/services/rest/relationRestService.js"></script>
    <script src="js/services/rest/noteRestService.js"></script>
    <script src="js/services/rest/fileRestService.js"></script>
    <script src="js/services/rest/contactRestService.js"></script>
    <script src="js/services/rest/textTemplateRestService.js"></script>
    <script src="js/services/rest/historyRestService.js"></script>
    <script src="js/services/rest/elementLockRestService.js"></script>
    <script src="js/services/rest/searchRestService.js"></script>
    <script src="js/services/rest/objectPrivilegesRestService.js"></script>
    <script src="js/services/rest/orderedMenuRestService.js"></script>
    <script src="js/services/rest/labbookRestService.js"></script>
    <script src="js/services/rest/pictureRestService.js"></script>
    <script src="js/services/rest/kanbanboardRestService.js"></script>
    <script src="js/services/rest/trashedItemsRestService.js"></script>
    <script src="js/services/rest/contactFormRestService.js"></script>
    <script src="js/services/rest/driveRestService.js"></script>
    <script src="js/services/rest/notificationRestService.js"></script>
    <script src="js/services/rest/userManualRestService.js"></script>
    <script src="js/services/rest/myResourceBookingsRestService.js"></script>
    <script src="js/services/rest/resourceBookingsRestService.js"></script>

    <!-- WebSockets Endpoints -->
    <script src="js/services/websocket/workbenchElementChanges.js"></script>
    <script src="js/services/websocket/notification.js"></script>

    <!-- Controllers/Screens -->
    <script src="js/screens/navbar/navbar.js"></script>
    <script src="js/screens/maintenance/maintenance.js"></script>
    <script src="js/widgets/contactFormWidget/contactFormWidget.js"></script>
    <script src="js/screens/login/loginScreen.js"></script>
    <script src="js/screens/login/passwordReset.js"></script>
    <script src="js/screens/mainDashboard/mainDashboard.js"></script>
    <script src="js/screens/mainDashboard/mainDashboardLink.js"></script>

    <!-- cms view -->
    <script src="js/screens/cms/cmsView.js"></script>
    <script src="js/screens/cms/ossLicensesView.js"></script>

    <!-- user manual screens -->
    <script src="js/screens/userManual/userManualCategoryView.js"></script>
    <script src="js/screens/userManual/userManualList.js"></script>
    <script src="js/screens/userManual/userManualStaff.js"></script>
    <script src="js/widgets/userManual/userManualBreadcrumb.js"></script>
    <script src="js/widgets/userManual/userManualSidebar.js"></script>

    <script src="js/screens/project/inviteNewUserDialog.js"></script>
    <script src="js/screens/project/overviewProject.js"></script>
    <script src="js/screens/project/overviewGanttchart.js"></script>
    <script src="js/screens/project/overviewCalendar.js"></script>

    <script src="js/screens/relation/relationViewReallyDeleteRelation.js"></script>
    <script src="js/screens/relation/createRelation.js"></script>
    <script src="js/screens/history/historyList.js"></script>

    <!-- Object Privileges -->
    <script src="js/screens/objectPrivileges/objectPrivilegesModalView.js"></script>
    <script src="js/screens/objectPrivileges/objectPrivilegesModalView.reallyDelete.js"></script>

    <!-- Project Screens -->
    <script src="js/screens/project/projectView.js"></script>
    <script src="js/screens/project/projectList.js"></script>
    <script src="js/screens/project/projectCardView.js"></script>
    <script src="js/screens/project/projectCreateModal.js"></script>
    <script src="js/screens/project/projectEditReallyDeleteAssignedRole.js"></script>

    <!-- DMP Screens -->
    <script src="js/screens/dmp/dmpList.js"></script>
    <script src="js/screens/dmp/dmpTableView.js"></script>
    <script src="js/screens/dmp/dmpCardView.js"></script>
    <script src="js/screens/dmp/dmpView.js"></script>
    <script src="js/screens/dmp/dmpCreateModal.js"></script>

    <!-- Meeting Screens -->
    <script src="js/screens/meeting/meetingList.js"></script>
    <script src="js/screens/meeting/meetingTableView.js"></script>
    <script src="js/screens/meeting/meetingCardView.js"></script>
    <script src="js/screens/meeting/meetingCalenderView.js"></script>
    <script src="js/screens/meeting/meetingView.js"></script>
    <script src="js/screens/meeting/meetingCreateModal.js"></script>
    <script src="js/screens/meeting/meetingAttendingUsersModal.js"></script>

    <!-- Resource Screens -->
    <script src="js/screens/resource/resourceList.js"></script>
    <script src="js/screens/resource/resourceTableView.js"></script>
    <script src="js/screens/resource/resourceCardView.js"></script>
    <script src="js/screens/resource/resourceView.js"></script>
    <script src="js/screens/resource/resourceCreateModal.js"></script>
    <script src="js/screens/resource/resourceBookingCreateEditModal.js"></script>
    <script src="js/screens/resource/myBookingsTableView.js"></script>
    <script src="js/widgets/resourceCalendarWidget/resourceCalendarWidget.js"></script>

    <!-- Schedule Screen -->
    <script src="js/screens/schedule/scheduleView.js"></script>
    <script src="js/screens/schedule/scheduleCardView.js"></script>
    <script src="js/screens/schedule/scheduleTableView.js"></script>
    <script src="js/widgets/scheduleCalendarWidget/scheduleCalendarWidget.js"></script>
    <script src="js/widgets/scheduleCalendarWidget/scheduleFilterWidget.js"></script>
    <script src="js/widgets/fullCalendarWidget/fullCalendarWidget.js"></script>
    <script src="js/screens/schedule/scheduleNoDataCard.js"></script>
    <script src="js/screens/meetingExport/meetingExport.js"></script>
    <script src="js/services/schedule/filteredScheduleQueryFactory.js"></script>
    <script src="js/services/schedule/scheduleHelperService.js"></script>
    <script src="js/services/schedule/resourceHelperService.js"></script>
    <script src="js/services/schedule/userSelectizeWidgetHelperService.js"></script>
    <script src="js/screens/schedule/resourceBookingEditView.js"></script>
    <script src="js/services/schedule/resourceSelectizeWidgetHelperService.js"></script>

    <!-- Task Screens -->
    <script src="js/screens/task/taskList.js"></script>
    <script src="js/screens/task/taskTableView.js"></script>
    <script src="js/screens/task/taskCardView.js"></script>
    <script src="js/screens/task/taskView.js"></script>
    <script src="js/screens/task/taskCreateModal.js"></script>
    <script src="js/screens/task/taskAssignedUsersModal.js"></script>

    <!-- Note Screens -->
    <script src="js/screens/note/noteList.js"></script>
    <script src="js/screens/note/noteTableView.js"></script>
    <script src="js/screens/note/noteCardView.js"></script>
    <script src="js/screens/note/noteView.js"></script>
    <script src="js/screens/note/noteCreateModal.js"></script>

    <!-- Contact Screens -->
    <script src="js/screens/contact/contactList.js"></script>
    <script src="js/screens/contact/contactTableView.js"></script>
    <script src="js/screens/contact/contactCardView.js"></script>
    <script src="js/screens/contact/contactCreateModal.js"></script>
    <script src="js/screens/contact/contactShareModal.js"></script>
    <script src="js/screens/contact/contactView.js"></script>

    <!-- File Screens -->
    <script src="js/screens/file/fileList.js"></script>
    <script src="js/screens/file/fileCardView.js"></script>
    <script src="js/screens/file/fileTableView.js"></script>
    <script src="js/screens/file/fileView.js"></script>
    <script src="js/screens/file/fileCreateModal.js"></script>

    <!-- LabBook Screens -->
    <script src="js/screens/labbook/labbookList.js"></script>
    <script src="js/screens/labbook/labbookCardView.js"></script>
    <script src="js/screens/labbook/labbookTableView.js"></script>
    <script src="js/screens/labbook/labbookView.js"></script>
    <script src="js/screens/labbook/labbookCreateModal.js"></script>
    <script src="js/screens/labbook/labbookSelectTemplateModal.js"></script>
    <script src="js/screens/labbook/newElementLocationModal.js"></script>

    <!-- Picture Screens -->
    <script src="js/screens/picture/pictureList.js"></script>
    <script src="js/screens/picture/pictureCardView.js"></script>
    <script src="js/screens/picture/pictureTableView.js"></script>
    <script src="js/screens/picture/pictureView.js"></script>
    <script src="js/screens/picture/pictureCreateModal.js"></script>
    <script src="js/screens/picture/pictureForm.shapes.js"></script>
    <script src="js/screens/picture/pictureViewModal.js"></script>

    <!-- Kanban Board Screens -->
    <script src="js/screens/kanbanboard/kanbanboardList.js"></script>
    <script src="js/screens/kanbanboard/kanbanboardCardView.js"></script>
    <script src="js/screens/kanbanboard/kanbanboardTableView.js"></script>
    <script src="js/screens/kanbanboard/kanbanboardView.js"></script>
    <script src="js/screens/kanbanboard/kanbanboardCreateModal.js"></script>
    <script src="js/screens/kanbanboard/kanbanboardViewBacklogModal.js"></script>
    <script src="js/screens/kanbanboard/kanbanboardBackgroundStyleModal.js"></script>

    <!-- Drive Screens -->
    <script src="js/screens/drive/driveList.js"></script>
    <script src="js/screens/drive/driveCardView.js"></script>
    <script src="js/screens/drive/driveTableView.js"></script>
    <script src="js/screens/drive/driveView.js"></script>
    <script src="js/screens/drive/driveCreateModal.js"></script>
    <script src="js/screens/drive/driveCreateEditSubdirectoryModal.js"></script>
    <script src="js/screens/drive/webdavModalInformation.js"></script>
    <script src="js/screens/drive/chooseExistingFilesModal.js"></script>

    <script src="js/widgets/driveWidgets/driveDisplayWidget.js"></script>
    <script src="js/widgets/driveWidgets/driveDirectoryDisplayWidget.js"></script>

    <!-- User Profile -->
    <script src="js/screens/userProfile/userProfile.js"></script>
    <script src="js/screens/userProfile/userProfilePassword.js"></script>
    <script src="js/screens/userSettings/userSettings.js"></script>

    <!-- Notification -->
    <script src="js/screens/notification/notificationsList.js"></script>
    <script src="js/screens/notification/notificationRedirect.js"></script>
    <script src="js/widgets/notificationsNavbarWidget/notificationsNavbarWidget.js"></script>
    <script src="js/services/notifications/notificationsService.js"></script>

    <!-- sortable horizontal navigation menu -->
    <script src="js/widgets/orderedMenu/orderedMenu.js"></script>

    <script src="js/widgets/displayMultipleUsersWidget/displayMultipleUsersWidget.js"></script>

    <script src="js/widgets/createdAndUpdatedByWidget/createdAndUpdatedByWidget.js"></script>
    <script src="js/widgets/screenHeaderFunctionBar/screenHeaderFunctionBar.js"></script>
    <script src="js/widgets/screenHeaderFunctionBar/viewButton.js"></script>
    <script src="js/widgets/screenHeaderFunctionBar/viewButtonRow.js"></script>
    <script src="js/widgets/screenHeaderFunctionBar/scheduleScreenHeaderFunctionBar.js"></script>
    <script src="js/widgets/userCheckboxListWidget/userCheckboxListWidget.js"></script>
    <script src="js/widgets/resourceCheckboxListWidget/resourceCheckboxListWidget.js"></script>


    <script src="js/widgets/projectRole/displayAllProjectMembersWithRoles.js"></script>
    <script src="js/widgets/projectRole/displayUserProjectRole.js"></script>
    <script src="js/widgets/projectRole/displayProjectRoles.js"></script>
    <script src="js/widgets/activeProjectWidgets/projectSidebar.js"></script>
    <script src="js/widgets/activeProjectWidgets/projectBreadcrumb.js"></script>

    <!-- Time Countdown Widget -->
    <script src="js/widgets/timeCountdownWidget/timeCountdownWidget.js"></script>

    <!-- Element Labels -->
    <script src="js/screens/elementLabel/elementLabelCreateEditModal.js"></script>
    <script src="js/widgets/elementLabels/elementLabelsWidget.js"></script>
    <script src="js/widgets/elementLabels/elementLabelDisplayWidget.js"></script>
    <script src="js/widgets/elementLabels/elementLabelsDiffWidget.js"></script>

    <!-- Card display widgets for entities -->
    <script src="js/widgets/cardDisplay/contactCard.js"></script>
    <script src="js/widgets/cardDisplay/dmpCard.js"></script>
    <script src="js/widgets/cardDisplay/fileCard.js"></script>
    <script src="js/widgets/cardDisplay/taskCard.js"></script>
    <script src="js/widgets/cardDisplay/meetingCard.js"></script>
    <script src="js/widgets/cardDisplay/resourceCard.js"></script>
    <script src="js/widgets/cardDisplay/noteCard.js"></script>
    <script src="js/widgets/cardDisplay/projectCard.js"></script>
    <script src="js/widgets/cardDisplay/noteCreateCard.js"></script>
    <script src="js/widgets/cardDisplay/permissionDeniedCard.js"></script>
    <script src="js/widgets/cardDisplay/labbookCard.js"></script>
    <script src="js/widgets/cardDisplay/pictureCard.js"></script>
    <script src="js/widgets/cardDisplay/kanbanboardCard.js"></script>
    <script src="js/widgets/cardDisplay/driveCard.js"></script>
    <script src="js/widgets/cardDisplay/resourceBookingCard.js"></script>


    <script src="js/widgets/fileDisplayDownloadUpload/fileDisplayDownloadUpload.js"></script>
    <script src="js/widgets/genericShowElementStateWidget/genericShowElementStateWidget.js"></script>
    <script src="js/widgets/genericShowElementLockStatusWidget/genericShowElementLockStatusWidget.js"></script>

    <!-- Dashboard Widgets -->
    <script src="js/widgets/dashboardWidgets/dashboardActivities.js"></script>
    <script src="js/widgets/dashboardWidgets/dashboardBubbleChart.js"></script>
    <script src="js/widgets/dashboardWidgets/dashboardCalendar.js"></script>
    <script src="js/widgets/dashboardWidgets/dashboardResources.js"></script>
    <script src="js/widgets/dashboardWidgets/dashboardContacts.js"></script>
    <script src="js/widgets/dashboardWidgets/dashboardDmps.js"></script>
    <script src="js/widgets/dashboardWidgets/dashboardFiles.js"></script>
    <script src="js/widgets/dashboardWidgets/dashboardNotes.js"></script>
    <script src="js/widgets/dashboardWidgets/dashboardLabbooks.js"></script>
    <script src="js/widgets/dashboardWidgets/dashboardProjects.js"></script>
    <script src="js/widgets/dashboardWidgets/dashboardTasks.js"></script>

    <!-- literally canvas -->
    <script src="js/widgets/literallycanvas/literallyCanvasWidget.js"></script>
    <script src="js/widgets/literallycanvas/literallyCanvasDrawingWidgetMenu.js"></script>
    <script src="js/widgets/literallycanvas/modalBackgroundImageTooBig.js"></script>


    <script src="js/widgets/displayRelationWidget/displayRelationFunctions.js"></script>
    <script src="js/widgets/displayRelationWidget/displayRelationFunctionsTable.js"></script>

    <script src="js/widgets/genericDetailViewMenu/genericDetailViewMenu.js"></script>
    <script src="js/widgets/objectPrivileges/objectPrivilegesDropdown.js"></script>

    <!-- kanban board column widgets -->
    <script src="js/widgets/kanbanboardColumn/kanbanboardColumn.js"></script>
    <script src="js/widgets/kanbanboardColumn/kanbanboardColumnChangeModal.js"></script>
    <script src="js/widgets/kanbanboardColumn/kanbanboardColumnTaskDisplay.js"></script>

    <script src="js/widgets/labbookEditChildElement/labbookEditChildElement.js"></script>
    <script src="js/widgets/labbookSectionsElement/labbookSectionsElement.js"></script>
    <script src="js/widgets/labbookNoAccessChildElement/labbookNoAccessChildElement.js"></script>
    <script src="js/widgets/noteListModal/noteListModal.js"></script>
    <script src="js/widgets/recentChangesModal/recentChangesModal.js"></script>

    <script src="js/widgets/imageModal/image.js"></script>

    <script src="js/widgets/pdfPreview/pdfPreviewSelectPage.js"></script>


    <!-- link display widgets -->
    <script src="js/widgets/link/projectLink.js"></script>
    <script src="js/widgets/link/contactLink.js"></script>
    <script src="js/widgets/link/dmpLink.js"></script>
    <script src="js/widgets/link/fileLink.js"></script>
    <script src="js/widgets/link/genericLink.js"></script>
    <script src="js/widgets/link/labbookLink.js"></script>
    <script src="js/widgets/link/meetingLink.js"></script>
    <script src="js/widgets/link/noteLink.js"></script>
    <script src="js/widgets/link/pictureLink.js"></script>
    <script src="js/widgets/link/resourceLink.js"></script>
    <script src="js/widgets/link/resourceBookingLink.js"></script>
    <script src="js/widgets/link/taskLink.js"></script>
    <script src="js/widgets/link/kanbanboardLink.js"></script>
    <script src="js/widgets/link/driveLink.js"></script>
    <script src="js/widgets/link/directoryLink.js"></script>
    <script src="js/widgets/link/scheduleElementLink.js"></script>

    <script src="js/widgets/calendar/calendarWidget.js"></script>
    <script src="js/widgets/userDisplay/userDisplayWidget.js"></script>
    <script src="js/widgets/taskAssignedUsersCellWidget/taskAssignedUsersCellWidget.js"></script>
    <script src="js/widgets/meetingAttendingUsersCellWidget/meetingAttendingUsersCellWidget.js"></script>
    <script src="js/widgets/contactDisplay/contactDisplay.js"></script>
    <script src="js/widgets/displayProjectWidget/displayProjectWidget.js"></script>
    <script src="js/widgets/displayRoleWidget/displayRoleWidget.js"></script>

    <script src="js/widgets/projectStateWidget/projectStateWidget.js"></script>
    <script src="js/widgets/meetingList/meetingListWidget.js"></script>
    <script src="js/widgets/meetingListActions/meetingListActionsWidget.js"></script>
    <script src="js/widgets/taskStatusDisplayWidget/taskStatusDisplayWidget.js"></script>
    <script src="js/widgets/taskStatusCompletedWidget/taskStatusCompletedWidget.js"></script>
    <script src="js/widgets/breadcrumbBar/breadcrumbBarWidget.js"></script>
    <script src="js/widgets/displayRelationWidget/displayRelationWidget.js"></script>
    <script src="js/widgets/genericSearchWidget/genericSearchWidget.js"></script>
    <script src="js/widgets/genericCreateWidget/genericCreateWidget.js"></script>
    <script src="js/widgets/relationListWidget/relationListWidget.js"></script>
    <script src="js/widgets/relationListWidget/relationTableView.js"></script>
    <script src="js/widgets/userDisplayDetailWidget/userDisplayDetailWidget.js"></script>
    <script src="js/widgets/searchFieldWidget/searchFieldWidget.js"></script>
    <script src="js/widgets/textTemplateWidget/textTemplateWidget.js"></script>
    <script src="js/widgets/displayTypeIconWidget/displayTypeIconWidget.js"></script>
    <script src="js/widgets/genericDeleteMenu/genericDeleteMenu.js"></script>
    <script src="js/widgets/genericDuplicateMenu/genericDuplicateMenu.js"></script>
    <script src="js/widgets/resourceTypeWidget/resourceTypeWidget.js"></script>
    <script src="js/widgets/resourceUserAvailabilityWidget/resourceUserAvailabilityWidget.js"></script>
    <script src="js/widgets/dmpStatusWidget/dmpStatusWidget.js"></script>
    <script src="js/widgets/historyTypeWidget/historyTypeWidget.js"></script>
    <script src="js/widgets/resourceBookWidget/resourceBookWidget.js"></script>
    <script src="js/widgets/resourceBookingRulesWidget/resourceBookingRulesWidget.js"></script>

    <!-- history, changeset, diff, ... -->
    <script src="js/widgets/history/historyEntry.js"></script>
    <script src="js/widgets/history/historyShortWidget.js"></script>
    <script src="js/widgets/history/historyRecordDisplay.js"></script>
    <script src="js/widgets/history/historyShortSummary.js"></script>
    <script src="js/widgets/htmlDiffWidget/htmlDiffWidget.js"></script>
    <script src="js/widgets/taskChecklistItemDiffWidget/taskChecklistItemDiffWidget.js"></script>
    <script src="js/widgets/kanbanboardColumnDiffWidget/kanbanboardColumnDiffWidget.js"></script>
    <script src="js/widgets/labbookChildElementDiffWidget/labbookChildElementDiffWidget.js"></script>
    <script src="js/widgets/driveDirectoryDiffWidget/driveDirectoryDiffWidget.js"></script>
    <script src="js/widgets/dmpFormDataDiffWidget/dmpFormDataDiffWidget.js"></script>

    <script src="js/widgets/taskStatePriorityDisplay/taskStatePriorityDisplay.js"></script>

    <script src="js/shared/selectizePlugins/selectizeOnEnterKey.js"></script>
    <script src="js/shared/bubbleChart/bubbleChart.js"></script>

    <script src="js/services/confirmDialog/confirmDialogService.js"></script>
    <script src="js/widgets/confirmDialogWidget/confirmDialogWidget.js"></script>

    <script src="js/services/uiSettings/uiSettingsService.js"></script>


    <!-- dynamic table-->
    <script src="js/services/dynamicTableSettings/dynamicTableSettingsService.js"></script>
    <script src="js/services/dynamicTableSettings/defaultTableStates.js"></script>

    <!-- versions -->
    <script src="js/services/rest/versionRestService.js"></script>
    <script src="js/screens/versions/versionCreateModal.js"></script>
    <script src="js/screens/versions/versionRestoreModal.js"></script>
    <script src="js/widgets/versions/versionsShortWidget.js"></script>

    <!-- metadata -->
    <script src="js/services/rest/metadataRestService.js"></script>
    <script src="js/services/metadata/metadataBaseTypes.js"></script>
    <script src="js/services/metadata/metadataFieldService.js"></script>
    <script src="js/services/metadata/metadataService.js"></script>
    <script src="js/services/metadata/metadataFormatService.js"></script>
    <script src="js/services/rest/metadataSearchRestService.js"></script>
    <script src="js/widgets/metadata/fieldsWidget/metadataFieldsWidget.js"></script>
    <script src="js/widgets/metadata/diffWidget/metadataDiffWidget.js"></script>
    <script src="js/widgets/metadata/fieldType/metadataFieldType.js"></script>
    <script src="js/widgets/metadata/fieldValues/metadataFieldValues.js"></script>
    <script src="js/widgets/metadata/fieldValues/metadataSearchValues.js"></script>
    <script src="js/widgets/metadata/selectMetadataField/selectMetadataField.js"></script>
    <script src="js/widgets/metadata/fieldOperator/metadataFieldOperator.js"></script>
    <script src="js/widgets/metadata/smallEntityViewMetadata/smallEntityViewMetadata.js"></script>
    <script src="js/screens/metadata/createFieldModal/metadataFieldCreateModal.js"></script>
    <script src="js/screens/metadata/createFieldModal/selectionTypeSettings.js"></script>
    <script src="js/screens/metadata/search/searchView.js"></script>

    <!-- selectize widgets -->
    <script src="js/widgets/selectizeWidget/selectizeWidget.js"></script>
    <script src="js/widgets/selectizeWidget/userSelectizeWidget.js"></script>
    <script src="js/widgets/selectizeWidget/userGroupSelectizeWidget.js"></script>
    <script src="js/widgets/selectizeWidget/contactSelectizeWidget.js"></script>
    <script src="js/widgets/selectizeWidget/projectFilterSelectizeWidget.js"></script>
    <script src="js/widgets/selectizeWidget/projectStateSelectizeWidget.js"></script>
    <script src="js/widgets/selectizeWidget/resourceSelectizeWidget.js"></script>
    <script src="js/widgets/selectizeWidget/resourceTypeSelectizeWidget.js"></script>
    <script src="js/widgets/selectizeWidget/resourceUserAvailabilitySelectizeWidget.js"></script>
    <script src="js/widgets/selectizeWidget/taskStateSelectizeWidget.js"></script>
    <script src="js/widgets/selectizeWidget/taskPrioritySelectizeWidget.js"></script>
    <script src="js/widgets/selectizeWidget/labbookSelectizeWidget.js"></script>
    <script src="js/widgets/selectizeWidget/projectRoleSelectizeWidget.js"></script>
    <script src="js/widgets/selectizeWidget/dmpStatusSelectizeWidget.js"></script>
    <script src="js/widgets/selectizeWidget/directoryTreeSelectizeWidget.js"></script>
    <script src="js/widgets/selectizeWidget/directoryDriveTreeSelectizeWidget.js"></script>
    <script src="js/widgets/selectizeWidget/kanbanboardColumnIconSelectizeWidget.js"></script>
    <script src="js/widgets/selectizeWidget/meetingSelectizeWidget.js"></script>
    <script src="js/widgets/selectizeWidget/scheduleResourceSelectizeWidget.js"></script>
    <script src="js/widgets/selectizeWidget/scheduleResourceSelectizeWidget.js"></script>

    <script src="js/widgets/errorDisplay/errorDisplay.js"></script>
    <script src="js/widgets/projectSelectionWidget/singleProjectSelection.js"></script>
    <script src="js/widgets/projectSelectionWidget/multiProjectSelection.js"></script>
    <script src="js/widgets/loadingText/loadingText.js"></script>

    <script src="js/widgets/resourceAvailabilityWidget/resourceAvailabilityWidget.js"></script>
    <script src="js/widgets/globalSearch/globalSearchWidget.js"></script>
    <script src="js/widgets/globalSearchResultItem/globalSearchResultItemWidget.js"></script>
    <script src="js/widgets/calendarTooltipWidget/calendarTooltipWidget.js"></script>
    <script src="js/widgets/dmpFormNameDisplay/dmpFormNameDisplay.js"></script>
    <script src="js/widgets/displayTrashedItemsWidget/displayTrashedItemsWidget.js"></script>

    <script src="js/widgets/tableViewGrid/tableViewGrid.js"></script>

    <script src="js/widgets/genericListLoadingWidget/genericListLoadingWidget.js"></script>

    <script src="js/shared/paginationCountHeader/paginationCountHeader.js"></script>
    <script src="js/services/converters/paginationConverterService.js"></script>

    <script src="js/widgets/moveLabbookElementToSectionModal/moveLabbookElementToSectionModal.js"></script>
    <script src="js/widgets/labbookSectionGrid/labbookSectionGrid.js"></script>
    <script src="js/widgets/labbookSectionDeleteModal/labbookSectionDeleteModal.js"></script>
    <script src="js/widgets/labbookSectionFilterGrid/labbookSectionFilterGrid.js"></script>
    <script src="js/shared/labbookGridOptions/labbookGridOptions.js"></script>

    <script src="js/widgets/matomoTracking/matomoScript.js"></script>

    <script src=".temp/templates.js"></script>
    <!-- endbuild -->


    <script type="text/javascript">
        // cache bust
        var cachebuster = Math.round(new Date().getTime() / 1000);

        // load app.local.js
        jQuery.getScript({
            url: 'js/app.local.js?cacheBust=' + cachebuster,
            async: false
        }, function (data, textStatus, jqxhr) {

        });

    </script>

    <style type="text/css">
        .loginForm tr:not(:last-child) td {
            padding-bottom: 1em;
        }
    </style>
</head>

<body class="cards-pf" ng-jq="$"
      style="background-repeat: no-repeat; background-attachment: fixed; background-size: cover;"
      ng-style="backgroundStyle">
<!-- Toast notifications container and config -->
<div ng-include="'js/screens/toaster/toaster.html'"></div>

<!-- Primary container -->
<div class="primary-container {{ projectSidebarExpanded }}">
    <!-- Maintenance -->
    <maintenance></maintenance>
    <project-breadcrumb-widget
            ng-if="projectSidebarExpanded == 'sidebar-expanded'"></project-breadcrumb-widget>

    <project-sidebar-widget
            ng-if="projectSidebarExpanded == 'sidebar-expanded'"></project-sidebar-widget>

    <user-manual-breadcrumb-widget
            ng-if="projectSidebarExpanded == 'usermanual-expanded'"></user-manual-breadcrumb-widget>

    <user-manual-sidebar-widget
            ng-if="projectSidebarExpanded == 'usermanual-expanded'"></user-manual-sidebar-widget>

    <!-- ui view -->
    <div ui-view class="uiview-container"></div>
</div>
<!-- End primary container -->

<!-- Navbar -->
<navbar></navbar>

<!-- Login Page Fullscreen -->
<login-screen></login-screen>

<matomo-script></matomo-script>
</body>
</html>
