<script type="text/ng-template" id="popoverUserDisplay.html">
    <user-display-widget user="user" display-as-plain-text="true"></user-display-widget>
</script>

<div>
        <div style="display: inline;"
             ng-repeat="user in vm.users | limitTo: vm.userLimit"
             ng-click="vm.openUserModal(user)"
             role="button"
             uib-popover uib-popover-template="'popoverUserDisplay.html'" popover-trigger="'mouseenter'" popover-append-to-body="true" popover-popup-close-delay="50"
             >
            <!-- display the users image with an opacity -->
            <img ng-src="{{ user.userprofile.avatar }}"
                 style="opacity: 0.8; height: 20px; width: auto">
        </div>
</div>
