<div class="modal-header">
    <h3 class="modal-title">
        <span ng-show="vm.isEditing" translate>Edit Label</span>
        <span ng-show="!vm.isEditing" translate>New Label</span>
    </h3>
</div>
<form class="form-horizontal" name="newElementLabelForm" ng-submit="vm.save()">
    <div class="modal-body">
        <!-- Drive Title -->
        <div class="form-group">
            <label class="col-sm-3 control-label" for="elementLabel_name" translate>
                Name
            </label>
            <div class="col-sm-9">
                <validated-form-element
                        id="elementLabel_name"
                        auto-focus="true"
                        input-element="text"
                        field-name="name"
                        placeholder="{{ 'Name of the label' | translate }}"
                        ng-model="vm.name"
                        errors="vm.errors['name']">
                </validated-form-element>
            </div>
        </div>

        <!-- Parent Directory -->
        <div class="form-group">
            <label class="col-sm-3 control-label" for="elementLabel_color" translate>
                Color
            </label>
            <div class="col-sm-9">
                <validated-form-element
                        id="elementLabel_color"
                        input-element="color"
                        field-name="color"
                        placeholder="{{ 'Color' | translate }}"
                        ng-model="vm.color"
                        errors="vm.errors['color']">
                </validated-form-element>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <div class="text-right">
            <button id="button_drive_create_cancel" class="btn btn-default" type="button" ng-click="vm.dismiss()" translate>
                Cancel
            </button>
            <button id="button_drive_create_save" class="btn btn-warning">
                <span ng-show="vm.isEditing" translate>Save</span>
                <span ng-show="!vm.isEditing" translate>Create</span>
            </button>
        </div>
    </div>
</form>
