<div class="modal-header">
    <h3 class="modal-title" translate>New File</h3>
</div>
<form class="form-horizontal" name="newFileForm" ng-submit="vm.create()">
    <div class="modal-body">

        <!-- Title -->
        <div class="form-group">
            <label class="col-sm-2 col-md-3" translate
                title="{{ 'mandatory field' | translate }}">
                Title *
            </label>
            <div class="col-sm-9">
                <ng-include src="'js/screens/file/fileForm.title.html'"></ng-include>
            </div>
        </div>

        <!-- File -->
        <div class="form-group">
            <label class="col-sm-2 col-md-3" translate
                title="{{ 'mandatory field' | translate }}">
                File *
            </label>
            <div class="col-sm-9">
                <ng-include ng-if="!vm.file.original_filename" src="'js/screens/file/fileForm.path.html'"></ng-include>
                <span ng-if="vm.file.original_filename">{{vm.file.original_filename}}</span>
            </div>
        </div>

        <!-- File Description -->
        <div class="form-group">
            <label class="col-sm-2 col-md-3">
                <span translate>Description</span>
            </label>
            <div class="col-sm-9">
                <ng-include src="'js/screens/file/fileForm.description.html'"></ng-include>
            </div>
        </div>

        <!-- project -->
        <div class="form-group">
            <label class="col-sm-2 col-md-3" translate>
                Project
            </label>
            <div class="col-sm-9">
                <ng-include src="'js/screens/file/fileForm.projects.html'"></ng-include>
            </div>
        </div>
    </div>

    <div class="modal-footer">
        <!-- Buttons for Create / Cancel -->
        <div class="text-right">
            <button id="button_file_create_cancel" class="btn btn-default" type="button" ng-click="vm.dismiss()" translate>
                Cancel
            </button>
            <button id="button_file_create_save" class="btn btn-warning" translate>
                Create
            </button>
        </div>
    </div>
</form>
