<div class="panel panel-default element-panel">
    <div class="panel-heading">
        <div style="float: left">
            <i class="{{ vm.fileIcon }}"></i> File {{ vm.file.title }}
        </div>
        <generic-detail-view-menu-widget
            ng-if="!vm.readOnly"
            base-model="vm.file"
            base-url-model="files"
            has-trash="true"
            has-export="true"
            has-restore="true"
            has-privileges="true"
            has-new-element="true"
            has-duplicate="true"></generic-detail-view-menu-widget>

    </div>
    <div class="panel-body">
        <generic-show-element-state-widget base-model="vm.file"
                                           show-trashed="true"></generic-show-element-state-widget>
        <generic-show-element-lock-status-widget on-lock-cb="vm.onLock()" on-unlock-cb="vm.onUnlock()"
                                                 base-model="vm.file"
                                                 read-only="vm.readOnly"
                                                 show-locked="true"
                                                 show-reload-message="true"></generic-show-element-lock-status-widget>
        <div class="row">
            <div class="form-horizontal" name="editFileForm">
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4">
                    <!-- Title -->
                    <div class="form-group">
                        <label class="col-sm-2 col-md-3" for="file_title" translate
                            title="{{ 'mandatory field' | translate }}">
                            Title *
                        </label>
                        <div class="col-sm-9">
                            <editable-select-list
                                edit-disabled="vm.isReadOnly()"
                                on-save="vm.saveFilePartial('title', ngModel)"
                                on-save-multiple="vm.saveFile()"
                                on-abort="vm.resetErrors()"
                                ng-model="vm.file.title">
                                <ng-include src="'js/screens/file/fileForm.title.html'"></ng-include>
                            </editable-select-list>
                        </div>
                    </div>

                    <!-- Name -->
                    <div class="form-group">
                        <label class="col-sm-2 col-md-3" for="file_name" translate
                            title="{{ 'mandatory field' | translate }}">
                            File Name *
                        </label>
                        <div class="col-sm-9">
                            <editable-select-list
                                edit-disabled="vm.isReadOnly()"
                                on-save="vm.saveFilePartial('name', ngModel)"
                                on-save-multiple="vm.saveFile()"
                                on-abort="vm.resetErrors()"
                                ng-model="vm.file.name">
                                <ng-include src="'js/screens/file/fileForm.name.html'"></ng-include>
                            </editable-select-list>
                        </div>
                    </div>

                    <!-- Download current version of this file -->
                    <div class="form-group">
                        <label class="col-sm-2 col-md-3" translate>Download</label>
                        <div class="col-sm-9">
                            <div>
                                <i class="{{:: vm.downloadIcon }}" aria-hidden="true"
                                   title="{{ 'Download' | translate }}"></i>
                                <a ng-click="vm.download()" role="button">{{ vm.file.name }}</a>
                                ({{ vm.file.file_size | bytes }})
                            </div>
                        </div>
                    </div>

                    <!-- Upload a new version of the file -->
                    <div class="form-group file-upload"
                         ng-if="!vm.isReadOnly()"
                         ngf-drop="vm.saveFilePartial('path', $files[0])"
                         ngf-multiple="false"
                         ngf-allow-dir="false"
                         ngf-include-dir="false"
                         ngf-drag-over-class="{accept:'dragover', delay:100}">
                        <label class="col-sm-2 col-md-3" translate>Upload</label>
                        <div class="col-sm-9" ng-class="{ 'has-error': vm.errors['path'].length > 0 }">
                            <div class="hide-on-dragover">
                                <button class="btn btn-primary" role="button" ng-click="vm.uploadNewFile()"
                                        title="{{ 'Upload new file' | translate }}">
                                    <i class="fa fa-upload" aria-hidden="true"></i>
                                    <span translate>Update file</span>
                                </button>
                            </div>
                            <div class="show-on-dragover" translate>
                                Drop file here to upload it
                            </div>
                            <p ng-show="vm.errors['path'].length > 0" class="help-block pull-left">
                                <span class="{{:: vm.alertIcon }}" aria-hidden="true"></span>
                                {{ vm.errors['path'].join(', ') }}
                            </p>
                        </div>
                    </div>

                    <!-- Directory -->
                    <div class="form-group">
                        <label class="col-sm-2 col-md-3" for="file_path" translate>
                            Storage
                        </label>
                        <div class="col-sm-9">
                            <editable-select-list
                                edit-disabled="vm.isReadOnly()"
                                on-save="vm.saveFilePartial('directory_id', ngModel)"
                                on-save-multiple="vm.saveFile()"
                                on-abort="vm.resetErrors()"
                                ng-model="vm.file.directory_id">
                                <div ng-include="'js/screens/file/fileForm.directory.html'"></div>
                            </editable-select-list>
                        </div>
                    </div>

                    <!-- File Description -->
                    <div class="form-group">
                        <label class="col-sm-2 col-md-3" for="file_description">
                            <span translate>Description</span>
                            <!-- choose Template -->
                            <text-template-widget ng-hide="vm.isReadOnly()"
                                override-object-attribute="vm.file.description"></text-template-widget>
                        </label>
                        <div class="col-sm-9">
                            <editable-select-list
                                compare-mode="html"
                                edit-disabled="vm.isReadOnly()"
                                on-save="vm.saveFilePartial('description', ngModel)"
                                on-save-multiple="vm.saveFile()"
                                on-abort="vm.resetErrors()"
                                ng-model="vm.file.description">
                                <ng-include src="'js/screens/file/fileForm.description.html'"></ng-include>
                            </editable-select-list>
                        </div>
                    </div>

                    <!-- Metadata -->
                    <metadata-fields-widget
                        base-model="vm.file"
                        base-url-model="file"
                        read-only="vm.isReadOnly()"
                        on-save="vm.saveFilePartial('metadata', vm.file.metadata)"
                        on-save-multiple="vm.saveFile()"
                        on-abort="vm.resetErrors()"
                        metadata="vm.file.metadata">
                    </metadata-fields-widget>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4">
                    <created-and-updated-by-widget element="vm.file"></created-and-updated-by-widget>

                    <!-- project -->
                    <div class="form-group">
                        <label class="col-sm-2 col-md-3" for="input_file_create_project" translate>
                            Project
                        </label>
                        <div class="col-sm-9" style="text-align: left">
                            <editable-select-list
                                edit-disabled="vm.isReadOnly()"
                                on-save="vm.saveFilePartial('projects', ngModel)"
                                on-save-multiple="vm.saveFile()"
                                on-abort="vm.resetErrors()"
                                ng-model="vm.projectPks"
                                compare-mode="array">
                                <div ng-include="'js/screens/file/fileForm.projects.html'"></div>
                            </editable-select-list>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4">
                    <!-- History -->
                    <history-short-widget base-model="vm.file" base-url-model="file"></history-short-widget>
                    <!-- Versions -->
                    <versions-short-widget readonly="vm.isReadOnly()" base-model="vm.file" base-url-model="file"></versions-short-widget>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- relations -->
<relation-list-widget base-model="vm.file" base-url-model="file"></relation-list-widget>
