<div ng-mouseenter="vm.onMouseEnter()" ng-mouseleave="vm.onMouseLeave()">

    <!-- labbook child element cell header contains
    - title bar
    - dropdown menu
    - dnd
    --->
    <div class="labbook-cell-header" ng-if="vm.childElement">
        <div class="row">
            <div class="col-xs-9" style="padding-right: 0; width: calc(100% - 60px)">
                <!-- Cell Title -->
                <editable-select-list
                    buttons-visible="vm.titleHasUnsavedChanges"
                    edit-disabled="vm.isReadonly()"
                    on-save="vm.save()"
                    on-abort="vm.resetCellTitleErrors()"
                    ng-model="vm.elementTitle">
                    <ng-include src="'js/widgets/labbookEditChildElement/form.title.html'"></ng-include>
                </editable-select-list>
            </div>

            <div class="col-xs-3"
                 style="width: 60px; text-align: right; padding-left: 0; padding-right: 15px; font-size: 11pt">

                <!-- Menu and Icons for the header -->
                <div>
                    <!-- The move "X" needs a different class for different grids.
                    It's the same class as in the gridOptions.
                    This is for top level labbook elements.
                    -->
                    <span ng-show="vm.showElementMenu"
                          ng-if="!vm.sectionElement"
                          class="fa fa-arrows-alt labbook-cell-move" style="margin-right: 5px">
                    </span>
                    <!-- And this is for elements in sections -->
                    <span ng-show="vm.showElementMenu"
                          ng-if="vm.sectionElement"
                          class="fa fa-arrows-alt labbook-section-cell-move" style="margin-right: 5px">
                    </span>

                    <div ng-show="vm.showElementMenu"
                         is-open="vm.dropDownMenuActive"
                         uib-dropdown
                         on-toggle="vm.dropdownMenuToggled(open)"
                         dropdown-append-to-body="true"
                         keyboard-nav="true" style="display: inline">
                        <a role="button" uib-dropdown-toggle>
                            <span style="width:10px; margin-right:5px" class="fa fa-ellipsis-v"></span>
                        </a>
                        <!-- Render dropdown menu -->
                        <ul class="dropdown-menu dropdown-menu-right" uib-dropdown-menu
                            aria-labelledby="{{ 'Cell menu' }}">
                            <li ng-show="vm.hasUnsavedChanges">
                                <a role="button" href ng-click="vm.save()" translate>
                                    Save
                                </a>
                            </li>
                            <li>
                                <a role="button" href ng-click="vm.openPrivilegesModalDialog()">
                                    <i class="{{ ::vm.actionIcons.privileges }}"></i> <span translate>Privileges</span>
                                </a>
                            </li>
                            <li>
                                <a role="button" href ng-click="vm.openSectionModalDialog()">
                                    <i class="{{ ::vm.elementIcons.labbooksection }}"></i>
                                    <span translate>Move this element to a Section</span>
                                </a>
                            </li>
                            <li ng-if="vm.sectionElement">
                                <a role="button" href ng-click="vm.moveElementOutOfSection()">
                                    <i class="{{ ::vm.elementIcons.labbooksection }}"></i>
                                    <span translate>Move this element back to the Labbook</span>
                                </a>
                            </li>
                            <li>
                                <a role="button" href ng-click="vm.exportElement()">
                                    <i class="{{ ::vm.actionIcons.export_pdf }}"></i> <span translate>Export</span>
                                </a>
                            </li>
                            <!-- show the "Trash" info only if the element has not been soft deleted -->
                            <li ng-show="!vm.childElement.deleted">
                                <a role="button" href ng-click="vm.deleteElement()">
                                    <i class="{{ ::vm.actionIcons.trash }}"></i> <span translate>Trash</span>
                                </a>
                            </li>
                            <li>
                                <a role="button" href ng-click="vm.removeElementFromLabbook()">
                                    <i class="{{ :: vm.actionIcons.delete }}"></i> <span
                                    translate>Remove from LabBook</span>
                                </a>
                            </li>
                            <!--<li>-->
                            <!--<a role="button" href ng-click="vm.duplicateElement()" translate>-->
                            <!--Duplicate-->
                            <!--</a>-->
                            <!--</li>-->
                            <li>
                                <a role="button" ng-href="{{ vm.elementLink }}" target="_blank">
                                    <i class="{{ :: vm.elementIcons[vm.elementType] }}"></i>
                                    <span translate>Show Metadata</span>
                                </a>
                            </li>

                            <li>
                                <a role="button" href ng-click="vm.openRecentChangesModalDialog()">
                                    <i class="{{ :: vm.genericIcons.history }}"></i> <span
                                    translate>Recent Changes</span>
                                </a>
                            </li>
                            <li>
                                <a role="button" href ng-click="vm.openNotesModalDialog()">
                                    <i class="{{ :: vm.elementIcons.note }}"></i> <span translate>Comments</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- render the specific element
    - note
    - picture
    - file
    - plugininstance
    -->
    <div ng-switch="vm.element.child_object_content_type_model">
        <!-- render notes (html text) -->
        <div ng-switch-when="shared_elements.note" style="position: absolute;  height: calc(100% - 20px); width: 100%;">
            <!-- render a tiny mce -->
            <div class="labbook-cell-content" ng-propagate-click-to="my-tinymce-cell">
                <editable-select-list
                    ng-if="vm.childElement"
                    edit-disabled="vm.isReadonly()"
                    ng-readonly="vm.isReadonly()"
                    compare-mode="html"
                    simple-template="true"
                    buttons-visible="vm.hasUnsavedChanges"
                    on-save="vm.save()"
                    on-abort="vm.resetErrors()"
                    ng-model="vm.childElement.content">
                    <validated-form-element
                        rows="6"
                        input-element="html"
                        tinymce-toolbar-div=".toolbox-container"
                        ng-model="vm.childElement.content"
                        ng-readonly="vm.isReadonly()"
                        ng-click="vm.positionToolbox()"
                    >
                    </validated-form-element>
                </editable-select-list>
            </div>
        </div>

        <div ng-switch-when="pictures.picture" style="position: absolute; height: calc(100% - 20px); width: 100%;">
            <!-- render my picture edit -->
            <div class="labbook-cell-content"
                 ng-click="vm.editPictureCell()">
                <img class="img img-responsive"
                     ng-src="{{ vm.childElement.download_rendered_image }}&cacheBuster={{ vm.childElement.last_modified_at }}">
            </div>
        </div>

        <div ng-switch-when="plugins.plugininstance"
             style="position: absolute;  height: calc(100% - 20px); width: 100%;">
            <div class="labbook-cell-content">
                <img ng-src="{{  vm.childElement.picture }}"
                     ng-click="vm.editPlugininstanceCell()"
                     ng-if="!vm.childElement.plugininstanceEditMode && vm.childElement.picture">
                <img ng-src="{{  vm.childElement.plugin_details.download_placeholder_picture }}"
                     ng-click="vm.editPlugininstanceCell()"
                     ng-if="!vm.childElement.plugininstanceEditMode && !vm.childElement.picture">
                <iframe ng-src="{{ vm.childElement.auth_url }}"
                        ng-if="vm.childElement.plugininstanceEditMode"
                        width="100%" height="900px" ></iframe>
            </div>
        </div>

        <div ng-switch-when="shared_elements.file" style="position: absolute;  height: calc(100% - 20px); width: 100%;">
            <file-display-download-upload-widget
                ng-if="vm.childElement"
                file="vm.childElement">
            </file-display-download-upload-widget>

            <!-- render a tiny mce cell for the description -->
            <div class="labbook-cell-content"
                 style="min-height: 20px; max-height: calc(100% - 95px);"
                 ng-propagate-click-to="my-tinymce-cell">
                <editable-select-list
                    ng-if="vm.childElement"
                    edit-disabled="vm.isReadonly()"
                    ng-readonly="vm.isReadonly()"
                    compare-mode="html"
                    simple-template="true"
                    buttons-visible="vm.hasUnsavedChanges"
                    on-save="vm.save()"
                    on-abort="vm.resetErrors()"
                    ng-model="vm.childElement.description">
                    <validated-form-element
                        rows="6"
                        input-element="html"
                        tinymce-toolbar-div=".toolbox-container"
                        ng-model="vm.childElement.description"
                        ng-readonly="vm.isReadonly()"
                        ng-click="vm.positionToolbox()"
                    >
                    </validated-form-element>
                </editable-select-list>
            </div>
        </div>
    </div>

    <div class="labbook-cell-unsaved-changes" ng-show="vm.hasUnsavedChanges">
        <div ng-show="vm.isSaving" style="margin-top: 5px">
            <span translate>Saving ...</span>
        </div>
        <button ng-show="!vm.isSaving" title="{{ 'Save' | translate }}"
                class="btn btn-primary" ng-click="vm.save()">
            <span class="glyphicon glyphicon-ok"></span>
        </button>
    </div>

    <!-- Last modified by -->
    <div class="labbook-cell-last-modified">
        <a role="button" ng-click="vm.openRecentChangesModalDialog()" translate>Last modified by</a>
        <user-display-widget user="vm.childElement.last_modified_by"></user-display-widget>
        <span translate>at</span>
        {{ vm.childElement.last_modified_at | smallDateWithToday }}
    </div>

    <!-- Footer -->
    <div class="labbook-cell-footer">
        <div style="float: left">
            <span ng-show="vm.hasUnsavedChanges" class="text-error"
                  title="{{ 'You have unsaved changes. Please save your changes to avoid losing them.' | translate }}">
                <span class="fa fa-floppy-o"></span>
            </span>
            <span
                ng-show="vm.lockStatus && vm.lockStatus.locked != false && vm.lockStatus['lock_details']['locked_by'].pk != vm.currentUser.pk"
                class="text-error"
                title="{{ 'This element is currently locked by someone else.' | translate }}">
                <span class="fa fa-lock"></span>
            </span>
            <span
                ng-show="vm.lockStatus && vm.lockStatus.locked != false && vm.lockStatus['lock_details']['locked_by'].pk == vm.currentUser.pk"
                class="text-error"
                title="{{ 'This element is currently locked by you.' | translate }}">
                <span class="fa fa-lock"></span>
            </span>
        </div>
        <div class="pull-right">
            <a class="link-with" ng-href="{{ vm.elementLink }}" target="_blank" role="button">
                <span class="fa fa-link"></span>

                <span ng-if="vm.element.num_relations > 0">
                    {{ vm.element.num_relations }}
                    <span translate translate-n="vm.element.num_relations" translate-plural="Links">
                        Link
                    </span>
                </span>
                <span ng-if="vm.element.num_relations == 0" translate>
                    Link with
                </span>
            </a>
            <span ng-click="vm.openNotesModalDialog()" role="button">
                <span class="{{ :: vm.elementIcons.note }}"></span>

                <!-- If there are notes, show how many there are -->
                <span ng-if="vm.element.num_related_notes > 0">
                    {{ vm.element.num_related_notes }}
                    <span translate translate-n="vm.element.num_related_notes" translate-plural="Comments">
                        Comment
                    </span>
                </span>

                <!-- If there are no notes, show only "Create Comment" -->
                <span ng-if="vm.element.num_related_notes == 0" translate>
                    Create Comment
                </span>
            </span>
        </div>
    </div>
</div>
