{% extends "email/simple_email_template.html" %}
{% load i18n captureas %}

{% block header_title %}
    {% blocktrans %}Password Reset for {{ workbench_title }}{% endblocktrans %}
{% endblock %}

{% block preheader %}
    {% blocktrans %}You have requested your password to be reset at {{ workbench_title }}{% endblocktrans %}
{% endblock %}

{% block content %}
    {% captureas reset_password_link %}
        <a href="{{ reset_password_url }}">{% trans "Link" %}</a>
    {% endcaptureas %}
    <p>{% blocktrans %}Dear {{ username }}!{% endblocktrans %}</p>

    <p>
        {% blocktrans %}
            We are sending you this automated e-mail as you have requested a password reset of your account at
            {{ workbench_title }}. Please click the following {{ reset_password_link }} to set a new password.
        {% endblocktrans %}
    </p>

    <p>
    {% blocktrans %}
        Then you can log in with your username '{{ username }}' (without quotes) and your new password.
    {% endblocktrans %}
    </p>

    <p>
    {% blocktrans %}
        Please ignore this e-mail if you have not requested this password reset.
    {% endblocktrans %}
    </p>
{% endblock %}

{% block footer %}
{% include 'email/_footer.html' %}
{% endblock %}
