<div class="panel panel-default element-panel">
    <div class="panel-heading">
        <div style="float: left">
            <i class="{{:: vm.taskIcon }}"></i> #{{ vm.task.task_id }}: {{ vm.task.title }}
        </div>
        <generic-detail-view-menu-widget
            ng-if="!vm.readOnly"
            base-model="vm.task"
            base-url-model="tasks"
            has-trash="true"
            has-export="true"
            has-restore="true"
            has-privileges="true"
            has-new-element="true"
            has-duplicate="true"></generic-detail-view-menu-widget>
    </div>
    <div class="panel-body">
        <generic-show-element-state-widget base-model="vm.task"
                                           show-trashed="true"></generic-show-element-state-widget>
        <generic-show-element-lock-status-widget on-lock-cb="vm.onLock()" on-unlock-cb="vm.onUnlock()"
                                                 base-model="vm.task"
                                                 read-only="vm.readOnly"
                                                 show-locked="true"
                                                 show-reload-message="true"></generic-show-element-lock-status-widget>

        <div class="row">
            <div class="form-horizontal" name="editContactForm">
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4">
                    <!-- Task Title -->
                    <div class="form-group">
                        <label class="col-sm-2 col-md-3" for="task_title" translate
                            title="{{ 'mandatory field' | translate }}">
                            Title *
                        </label>
                        <div class="col-sm-9">
                            <editable-select-list
                                edit-disabled="vm.isReadOnly()"
                                on-save="vm.saveTaskPartial('title', ngModel)"
                                on-save-multiple="vm.saveTask()"
                                on-abort="vm.resetErrors()"
                                ng-model="vm.task.title">
                                <ng-include src="'js/screens/task/taskForm.title.html'"></ng-include>
                            </editable-select-list>
                        </div>
                    </div>

                    <!-- Task Assignee -->
                    <div class="form-group">
                        <label class="col-sm-2 col-md-3" for="task_assignee" translate>
                            Assignee
                        </label>
                        <div class="col-sm-9">
                            <editable-select-list
                                edit-disabled="vm.isReadOnly()"
                                on-save="vm.saveTaskPartial('assigned_users_pk', ngModel)"
                                on-save-multiple="vm.saveTask()"
                                on-abort="vm.resetErrors()"
                                ng-model="vm.assignedUserPks"
                                compare-mode="array">
                                <ng-include src="'js/screens/task/taskForm.assignedUser.html'"></ng-include>
                            </editable-select-list>
                        </div>
                    </div>

                    <!-- Start and Due Date (combined) -->
                    <div class="form-group">
                        <label class="col-sm-2 col-md-3" for="task_start_date" translate>
                            Start/Due date
                        </label>
                        <div class="col-sm-9">
                            <!-- Watch due date, as when we modify start_date, the due_date is modified as well -->
                            <editable-select-list
                                edit-disabled="vm.isReadOnly()"
                                on-save="vm.saveTaskDates()"
                                on-save-multiple="vm.saveTask()"
                                on-abort="vm.resetTaskDates()"
                                compare-mode="date"
                                compare-mode-date-granularity="minutes"
                                ng-model="vm.task"
                                ng-model-fields="start_date,due_date">
                                <!-- Render start and due date side by side -->
                                <div>
                                    <div style="width: 130px; float: left">
                                        <ng-include src="'js/screens/task/taskForm.startDate.html'"></ng-include>
                                    </div>
                                    <div style="width: 17px; float: left; margin-top: 3px">
                                        to
                                    </div>
                                    <div style="width: 130px; float: left">
                                        <ng-include src="'js/screens/task/taskForm.dueDate.html'"></ng-include>
                                    </div>
                                    <div style="padding-left: 8px; width: 80px; float: left">
                                        <ng-include src="'js/screens/task/taskForm.fullDay.html'"></ng-include>
                                    </div>
                                </div>
                            </editable-select-list>
                        </div>
                    </div>

                    <!-- Priority -->
                    <div class="form-group">
                        <label class="col-sm-2 col-md-3" for="task_priority" translate>
                            Priority
                        </label>
                        <div class="col-sm-9">
                            <editable-select-list
                                edit-disabled="vm.isReadOnly()"
                                on-save="vm.saveTaskPartial('priority', ngModel)"
                                on-save-multiple="vm.saveTask()"
                                on-abort="vm.resetErrors()"
                                ng-model="vm.task.priority">
                                <ng-include src="'js/screens/task/taskForm.priority.html'"></ng-include>
                            </editable-select-list>
                        </div>
                    </div>

                    <!-- State -->
                    <div class="form-group">
                        <label class="col-sm-2 col-md-3" for="task_state" translate>
                            State
                        </label>
                        <div class="col-sm-9">
                            <editable-select-list
                                edit-disabled="vm.isReadOnly()"
                                on-save="vm.saveTaskPartial('state', ngModel)"
                                on-save-multiple="vm.saveTask()"
                                on-abort="vm.resetErrors()"
                                ng-model="vm.task.state">
                                <ng-include src="'js/screens/task/taskForm.state.html'"></ng-include>
                            </editable-select-list>
                        </div>
                    </div>

                    <!-- Kanban Board Columns that this task is in -->
                    <div class="form-group">
                        <label class="col-sm-2 col-md-3" for="task_state" translate>
                            Task Boards
                        </label>
                        <div class="col-sm-9">
                            <div ng-repeat="assignment in vm.kanbanBoardAssignments">
                                <!-- display kanban board link and title of the column -->
                                <a ng-href="{{ assignment.kanbanBoardDetailViewUrl }}">{{ assignment.kanban_board.title
                                    }}</a>
                                <!--<span class="{{ assignment.kanban_board_column.icon }}"></span>-->
                                <!--{{ assignment.kanban_board_column.title }}-->
                            </div>
                            <div ng-show="vm.kanbanBoardAssignments.length == 0">
                                <span translate>This task is not associated to any <a ui-sref="kanbanboard-list">Task Board</a></span>
                            </div>
                        </div>
                    </div>

                    <!-- Checklist -->
                    <div class="form-group">
                        <label class="col-sm-2 col-md-3" for="task_checklist" translate>
                            Checklist
                        </label>
                        <div class="col-sm-9">
                            <editable-select-list
                                compare-mode="task_checklist"
                                edit-disabled="vm.isReadOnly()"
                                on-save="vm.saveTaskPartial('checklist_items', ngModel)"
                                on-save-multiple="vm.saveTask()"
                                on-abort="vm.resetErrors()"
                                ng-model="vm.task.checklist_items">
                                <ng-include src="'js/screens/task/taskForm.checklist.html'"></ng-include>
                            </editable-select-list>
                        </div>
                    </div>


                    <!-- Element Labels -->
                    <div class="form-group">
                        <label class="col-sm-2 col-md-3" for="task_element_labels" translate>
                            Labels
                        </label>
                        <div class="col-sm-9">
                            <editable-select-list
                                compare-mode="array"
                                edit-disabled="vm.isReadOnly()"
                                on-save="vm.saveTaskPartial('labels', ngModel)"
                                on-save-multiple="vm.saveTask()"
                                on-abort="vm.resetErrors()"
                                ng-model="vm.task.labels">
                                <ng-include src="'js/screens/task/taskForm.labels.html'"></ng-include>
                            </editable-select-list>
                        </div>
                    </div>

                    <!-- Task Description -->
                    <div class="form-group">
                        <label class="col-sm-2 col-md-3" for="task_description">
                            <span translate>Description</span>
                        </label>
                        <div class="col-sm-9">
                            <editable-select-list
                                compare-mode="html"
                                edit-disabled="vm.isReadOnly()"
                                on-save="vm.saveTaskPartial('description', ngModel)"
                                on-save-multiple="vm.saveTask()"
                                on-abort="vm.resetErrors()"
                                ng-model="vm.task.description">
                                <ng-include src="'js/screens/task/taskForm.description.html'"></ng-include>
                            </editable-select-list>
                        </div>
                    </div>

                    <!-- Metadata -->
                    <metadata-fields-widget
                        base-model="vm.task"
                        base-url-model="task"
                        read-only="vm.isReadOnly()"
                        on-save="vm.saveTaskPartial('metadata', vm.task.metadata)"
                        on-save-multiple="vm.saveTask()"
                        on-abort="vm.resetErrors()"
                        metadata="vm.task.metadata">
                    </metadata-fields-widget>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4">
                    <created-and-updated-by-widget element="vm.task"></created-and-updated-by-widget>
                    <!-- Project -->
                    <div class="form-group">
                        <label class="col-sm-2 col-md-3" for="task_project" translate>
                            Project
                        </label>
                        <div class="col-sm-9" style="text-align: left">
                            <editable-select-list
                                edit-disabled="vm.isReadOnly()"
                                on-save="vm.saveTaskPartial('projects', ngModel)"
                                on-save-multiple="vm.saveTask()"
                                on-abort="vm.resetErrors()"
                                ng-model="vm.task.projects"
                                compare-mode="array">
                                <multi-project-selection
                                    read-only="vm.isReadOnly()"
                                    selected-project-pks="vm.task.projects"
                                    error="vm.errors['projects']">
                                </multi-project-selection>
                            </editable-select-list>
                        </div>
                    </div>

                </div>
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4">
                    <!-- History -->
                    <history-short-widget base-model="vm.task" base-url-model="task"></history-short-widget>
                    <!-- Versions -->
                    <versions-short-widget readonly="vm.isReadOnly()" base-model="vm.task"
                                           base-url-model="task"></versions-short-widget>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- relations -->
<relation-list-widget base-model="vm.task" base-url-model="task"></relation-list-widget>
