<div class="row">
    <!-- Show versions -->
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div>
            <label class="control-label" translate>Versions</label>

            <span ng-show="!vm.versionsLoaded" translate>Please wait...</span>

            <table class="table table-responsive table-hover"
                   style="margin-top: 10px; margin-bottom: 10px; width: 100%;">
                <tbody>
                <tr ng-if="vm.versionInProgress != null">
                    <td>v{{vm.versionInProgress}}</td>
                    <td translate>Draft</td>
                    <td></td>
                    <td></td>
                </tr>
                <tr ng-repeat="version in vm.versions | orderBy: 'number': true">
                    <!-- Version number -->
                    <td ng-click="vm.showRestoreDialog(version)" role="button" ng-style="vm.versionStyle">
                        v{{version.number}}
                    </td>
                    <!-- Created at -->
                    <td style="white-space: nowrap" ng-click="vm.showRestoreDialog(version)" role="button">
                        {{ version.created_at | smallDateWithToday }}
                    </td>
                    <!-- Created by -->
                    <td>
                        Created by
                        <user-display-widget user="version.created_by"></user-display-widget>
                    </td>
                    <!-- Summary -->
                    <td title="{{version.summary}}" ng-click="vm.showRestoreDialog(version)" role="button">
                        {{ version.summary | limitTo: 30 }}{{version.summary.length > 30 ? '&hellip;' : ''}}
                    </td>
                </tr>
                </tbody>
            </table>

            <!-- Pagination -->
            <a class="pull-right clickable" tabindex="0"
               ng-show="!vm.expanded && vm.viewMode == 'limited' && vm.showMoreEntries"
               ng-click="vm.showMoreVersions()" role="button" translate>
                Show more versions...
            </a>

            <a class="pull-right clickable" tabindex="0"
               ng-show="!vm.expanded && vm.viewMode == 'all'" ng-click="vm.showLessVersions()" role="button" translate>
                Show less versions...
            </a>

            <ul ng-show="vm.viewMode == 'all'" uib-pagination total-items="vm.numberOfVersions" force-ellipses="true"
                ng-model="vm.currentPage" ng-change="vm.pageChanged()">
            </ul>

            <!-- Finalize version button -->
            <div ng-if="vm.isFinalizeButtonVisible()">
                <button class="btn btn-primary" ng-click="vm.showNewVersionDialog()">
                    {{ 'Finalize version' | translate }}
                </button>
            </div>

        </div>
    </div>
</div>
