<div class="progress" style="min-width: 200px; max-width: 800px;" ng-if="vm.totalCount > 0">
    <div ng-repeat="taskType in vm.taskConverterService.taskStateOrder | reverse"
         ng-class="vm.getProgressbarType(taskType)"
         role="progressbar"
         ng-style="{width: (vm.taskStatus[taskType] / vm.totalCount * 100) + '%' }"
         title="{{ vm.taskConverterService.taskStateTexts[taskType] }}: {{ vm.taskStatus[taskType] }}/ {{ vm.totalCount }}">
        <span>
            <!-- display status text -->
            {{ vm.taskStatus[taskType] / vm.totalCount * 100 | number: 1}}%
        </span>
    </div>
</div>

<div ng-show="vm.totalCount == 0" translate>
    This project has no tasks!
</div>
