<div class="panel panel-default element-panel">
    <div class="panel-heading">
        <div style="float:left">
            <i class="{{:: vm.contactIcon }}"></i>
            {{ vm.contact.academic_title }}
            {{ vm.contact.first_name }}
            {{ vm.contact.last_name }}
        </div>
        <generic-detail-view-menu-widget
                ng-if="!vm.readOnly"
                base-model="vm.contact"
                base-url-model="contacts"
                has-trash="true"
                has-export="true"
                has-restore="true"
                has-privileges="true"
                has-new-element="true"
                has-duplicate="true"
                has-share="true"></generic-detail-view-menu-widget>
    </div>
    <div class="panel-body">
        <generic-show-element-state-widget
                base-model="vm.contact"
                show-trashed="true">
        </generic-show-element-state-widget>
        <generic-show-element-lock-status-widget
                base-model="vm.contact"
                read-only="vm.readOnly"
                show-locked="true"
                show-reload-message="true">
        </generic-show-element-lock-status-widget>
        <div class="row">
            <div class="form-horizontal" name="editContactForm">
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4">
                    <!-- Contact Academic Title -->
                    <div class="form-group">
                        <label class="col-sm-2 col-md-3" for="contact_academic_title" translate>
                            Academic title
                        </label>
                        <div class="col-sm-9">
                            <editable-select-list
                                    edit-disabled="vm.isReadOnly()"
                                    on-save="vm.saveContactPartial('academic_title', ngModel)"
                                    on-save-multiple="vm.saveContact()"
                                    on-abort="vm.resetErrors()"
                                    ng-model="vm.contact.academic_title">
                                <ng-include src="'js/screens/contact/contactForm.academicTitle.html'"></ng-include>
                            </editable-select-list>
                        </div>
                    </div>
                    <!-- Contact Firstname -->
                    <div class="form-group">
                        <label class="col-sm-2 col-md-3" for="contact_firstname" translate
                               title="{{ 'mandatory field' | translate }}">
                            Firstname *
                        </label>
                        <div class="col-sm-9">
                            <editable-select-list
                                    edit-disabled="vm.isReadOnly()"
                                    on-save="vm.saveContactPartial('first_name', ngModel)"
                                    on-save-multiple="vm.saveContact()"
                                    on-abort="vm.resetErrors()"
                                    ng-model="vm.contact.first_name">
                                <ng-include src="'js/screens/contact/contactForm.firstname.html'"></ng-include>
                            </editable-select-list>
                        </div>
                    </div>
                    <!-- Contact Lastname -->
                    <div class="form-group">
                        <label class="col-sm-2 col-md-3" for="contact_lastname" translate
                               title="{{ 'mandatory field' | translate }}">
                            Lastname *
                        </label>
                        <div class="col-sm-9">
                            <editable-select-list
                                    edit-disabled="vm.isReadOnly()"
                                    on-save="vm.saveContactPartial('last_name', ngModel)"
                                    on-save-multiple="vm.saveContact()"
                                    on-abort="vm.resetErrors()"
                                    ng-model="vm.contact.last_name">
                                <ng-include src="'js/screens/contact/contactForm.lastname.html'"></ng-include>
                            </editable-select-list>
                        </div>
                    </div>
                    <!-- Contact E-Mail -->
                    <div class="form-group">
                        <label class="col-sm-2 col-md-3" for="contact_email" translate>
                            E-Mail
                        </label>
                        <div class="col-sm-9">
                            <editable-select-list
                                    edit-disabled="vm.isReadOnly()"
                                    on-save="vm.saveContactPartial('email', ngModel)"
                                    on-save-multiple="vm.saveContact()"
                                    on-abort="vm.resetErrors()"
                                    ng-model="vm.contact.email">
                                <ng-include src="'js/screens/contact/contactForm.email.html'"></ng-include>
                            </editable-select-list>
                        </div>
                    </div>
                    <!-- Contact Phone -->
                    <div class="form-group">
                        <label class="col-sm-2 col-md-3" for="contact_phone" translate>
                            Phone
                        </label>
                        <div class="col-sm-9">
                            <editable-select-list
                                    edit-disabled="vm.isReadOnly()"
                                    on-save="vm.saveContactPartial('phone', ngModel)"
                                    on-save-multiple="vm.saveContact()"
                                    on-abort="vm.resetErrors()"
                                    ng-model="vm.contact.phone">
                                <ng-include src="'js/screens/contact/contactForm.phone.html'"></ng-include>
                            </editable-select-list>
                        </div>
                    </div>
                    <!-- Contact Company -->
                    <div class="form-group">
                        <label class="col-sm-2 col-md-3" for="contact_company" translate>
                            Company
                        </label>
                        <div class="col-sm-9">
                            <editable-select-list
                                    edit-disabled="vm.isReadOnly()"
                                    on-save="vm.saveContactPartial('company', ngModel)"
                                    on-save-multiple="vm.saveContact()"
                                    on-abort="vm.resetErrors()"
                                    ng-model="vm.contact.company">
                                <ng-include src="'js/screens/contact/contactForm.company.html'"></ng-include>
                            </editable-select-list>
                        </div>
                    </div>
                    <!-- Notes -->
                    <div class="form-group">
                        <label class="col-sm-2 col-md-3" for="contact_notes" translate>
                            Notes
                        </label>
                        <div class="col-sm-9">
                            <editable-select-list
                                    edit-disabled="vm.isReadOnly()"
                                    on-save="vm.saveContactPartial('notes', ngModel)"
                                    on-save-multiple="vm.saveContact()"
                                    on-abort="vm.resetErrors()"
                                    ng-model="vm.contact.notes">
                                <ng-include src="'js/screens/contact/contactForm.notes.html'"></ng-include>
                            </editable-select-list>
                        </div>
                    </div>

                    <!-- Metadata -->
                    <metadata-fields-widget
                            base-model="vm.contact"
                            base-url-model="contact"
                            read-only="vm.isReadOnly()"
                            on-save="vm.saveContactPartial('metadata', vm.contact.metadata)"
                            on-save-multiple="vm.saveContact()"
                            on-abort="vm.resetErrors()"
                            metadata="vm.contact.metadata">
                    </metadata-fields-widget>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4">
                    <created-and-updated-by-widget element="vm.contact"></created-and-updated-by-widget>

                    <!-- project -->
                    <div class="form-group">
                        <label class="col-sm-2 col-md-3" for="contact_project" translate>
                            Project
                        </label>
                        <div class="col-sm-9" style="text-align: left">
                            <editable-select-list
                                    edit-disabled="vm.isReadOnly()"
                                    on-save="vm.saveContactPartial('projects', ngModel)"
                                    on-save-multiple="vm.saveContact()"
                                    on-abort="vm.resetErrors()"
                                    ng-model="vm.projectPks"
                                    compare-mode="array">
                                <ng-include src="'js/screens/contact/contactForm.projects.html'"></ng-include>
                            </editable-select-list>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4">
                    <!-- History -->
                    <history-short-widget base-model="vm.contact" base-url-model="contact"></history-short-widget>
                    <!-- Versions -->
                    <versions-short-widget readonly="vm.isReadOnly()" base-model="vm.contact"
                                           base-url-model="contact"></versions-short-widget>
                </div>
            </div>

        </div>
    </div>
</div>

<!-- relations -->
<relation-list-widget base-model="vm.contact" base-url-model="contact"></relation-list-widget>
