<div class="card-panel element-panel">
    <screen-header-function-bar
        screen-title="{{ 'Contact' | translate }}"
        screen-new-entity="{{ 'New Contact' | translate }}"
        screen-new-entity-type="contact"
        selected-projects="vm.selectedProjects"
        selected-users="vm.selectedUsers"
        users="vm.users"
        current-view="vm.currentView" search-field="vm.searchField">
        <screen-title>
            <span translate>Contacts</span>
        </screen-title>
    </screen-header-function-bar>
</div>

<generic-list-loading-widget
    loading-flag="vm.contactsLoaded"
    loading-text="Contacts">
</generic-list-loading-widget>

<div class="card-panel" ng-if="vm.currentView == 'list' && vm.contactsLoaded">
    <contact-table-view contacts="vm.contacts" order-by="vm.orderBy" order-dir="vm.orderDir">
    </contact-table-view>
</div>

<contact-card-view ng-if="vm.currentView == 'card' && vm.contactsLoaded" contacts="vm.contacts">
</contact-card-view>

<div class="text-center" ng-if="vm.contacts.length > 0 && vm.contactsLoaded">
    <ul uib-pagination
        total-items="vm.numberOfContacts"
        items-per-page="vm.currentLimit"
        force-ellipses="true"
        boundary-link-numbers="true"
        max-size="15"
        ng-model="vm.currentPage"
        ng-change="vm.pageChanged()">
    </ul>
</div>
