<div class="modal-header">
    <h3 class="modal-title" id="modal-title">
        <span translate>
            Create Link
        </span>
    </h3>
</div>
<div class="modal-body" id="modal-body">
    <div class="row">
        <div class="col-sm-12 center-block">
            <uib-tabset active="vm.model">
                <uib-tab ng-repeat="tabModel in vm.relatedModelsWithIcons"
                         index="tabModel"
                         heading="{{vm.tabTitle[tabModel.key]}}">
                    <generic-search-widget disabled="vm.model.key !== tabModel.key"
                                           model-id="vm.modelId"
                                           model-name="tabModel.modelName"
                                           search-table-column-config="vm.searchTableColumnConfig[tabModel.modelName]"
                                           selected-items="vm.allSelectedItems[tabModel.key]"
                                           on-selection-changed="vm.onTabSelectionChanged()">
                    </generic-search-widget>
                </uib-tab>
            </uib-tabset>
        </div>
    </div>
    <div class="panel-footer clearfix">
        <div class="row">
            <div class="col-xs-2 pull-left"
                 ng-hide="vm.prohibitNewEntityButtonModelList[vm.model.key]==false">
                <button title="{{ 'Click here to create a new entity' | translate }}"
                        class="btn btn-primary" ng-click="vm.createNewEntity()">
                    <span translate>New {{ vm.model.title }}</span>
                </button>
            </div>
            <div class="col-xs-10 text-right pull-right">
                <button class="btn btn-default" ng-click="vm.cancel()" translate>Cancel</button>
                <button class="btn btn-warning"
                        ng-click="vm.createSelectedLinks()"
                        ng-disabled="!vm.addButtonEnabled"
                        translate>
                    {{ vm.addButtonText }}
                </button>
            </div>
        </div>
    </div>
</div>
