<div>
    <!-- "Normal" View -->
    <div ng-if="!vm.isEditing" class="editableViewMode"
         title="{{ 'Click to edit' | translate }}" role="button"
         tabindex="0"
         ng-focus="vm.toggleEdit()"
         ng-click="vm.toggleEdit()"
         ng-transclude="view">
        <!-- Default for "View" Transclusion: render the model -->
        {{ vm.ngModel }}
    </div>

    <!-- Editing View -->
    <div class="editableEditMode" ng-if="vm.isEditing">
        <!-- warp "edit" Transclusion with a form, so we can confirm on pressing enter -->
        <form ng-submit="vm.confirm()">
            <div class="editTranscludedElement" ng-transclude="edit" esc-key="vm.cancel()">
                Edit Mode
            </div>
            <div class="buttons">
                <button type="button" class="btn btn-primary" ng-click="vm.confirm()">
                    <span class="glyphicon glyphicon-ok"></span>
                </button>
                <button type="button" class="btn btn-default" ng-click="vm.cancel()">
                    <span class="glyphicon glyphicon-remove"></span>
                </button>
            </div>
        </form>
    </div>
</div>
