<!-- list all existing labels (ngReadonly) -->
<div ng-if="vm.ngReadonly">
    <div ng-repeat="label in vm.labels | filter:vm.showOnlySelectedLabels | orderBy: 'name' track by label.pk" style="display: inline-block; position: relative">
        <element-label-display-widget element-label="label"></element-label-display-widget>
    </div>
</div>
<!-- list all existing labels (edit) -->
<div ng-if="!vm.ngReadonly">
    <div ng-repeat="label in vm.labels | filter:vm.showOnlySelectedLabels | orderBy: 'name' track by label.pk"
         class="editable-label-row">
        <a role="button" ng-click="vm.editLabel(label)" class="elementLabel">
            <element-label-display-widget element-label="label"></element-label-display-widget>
        </a>
        <a ng-show="!vm.ngReadonly" title="{{ 'Remove label' | translate }}"
           role="button" ng-click="vm.removeLabel(label)" class="removeElementLabel">
            <span class="fa fa-remove"></span>
        </a>
    </div>
    <!-- add a new label button -->
    <div style="display: inline-block">
        <a class="addElementButton" ng-click="vm.addLabel()" role="button" title="{{ 'Add a new label' | translate }}">
            <div style="background-color: #cccccc">
                <span class="fa fa-plus"></span>
            </div>
        </a>
    </div>
</div>
