<validated-form-element
        id="resource_availability_filter_start"
        input-element="date"
        field-name="filter_start_date"
        ng-model="vm.selectedAvailabilityStart"
        placeholder="{{ 'Filter by availability start' | translate }}"
        date-picker-options="vm.datePickerOptionsStartDate">
</validated-form-element>
<validated-form-element
        id="resource_availability_filter_end"
        input-element="date"
        field-name="filter_end_date"
        ng-model="vm.selectedAvailabilityStop"
        placeholder="{{ 'Filter by availability end' | translate }}"
        date-picker-options="vm.datePickerOptionsStopDate">
</validated-form-element>
