{% extends "email/simple_email_template.html" %}
{% load i18n captureas notifications %}

{% block header_title %}
    {% blocktrans %}{{ title }}{% endblocktrans %}
{% endblock %}

{% block preheader %}
    {% blocktrans %}{{ title }}{% endblocktrans %}
{% endblock %}

{% block content %}
    {% if notification %}
        {% captureas workbench_link %}
            <a href="{{ notification | to_notification_url }}">{{ workbench_title }}</a>
        {% endcaptureas %}
    {% endif %}

    <p>{% blocktrans %}Dear {{ user }}!{% endblocktrans %}</p>

    <p>{{ title }}</p>
    {% if message != "" %}
    <p>
        {{ message | safe }}
    </p>
    {% endif %}
    {% if notification %}
        <p>{% blocktrans %}Please visit {{ workbench_link }} for details!{% endblocktrans %}</p>
    {% endif %}
{% endblock %}
