<!-- Search Input Field -->
<input type="text" class="form-control"
       placeholder="{{ vm.placeholder }}"
       ng-model="vm.searchField"
       ng-change="vm.searching()"
       ng-model-options="{debounce: vm.debounce}"
       esc-key="vm.clearSearch()"
/>
<!-- Show a search symbol -->
<span class="form-control-feedback" ng-show="vm.searchField.length <= vm.searchInputLength">
    <i style="font-size: 1.3em;" class="{{ vm.searchIcon }}"></i>
</span>
<!-- Show the "cancel" button on the search input form -->
<span class="form-control-feedback form-control-clear"
      ng-show="vm.searchField.length > vm.searchInputLength"
      ng-click="vm.clearSearch()"
      style="pointer-events: auto; text-decoration: none; cursor: pointer;">
        <i class="{{ vm.cancelIcon }}" aria-hidden="true"></i>
</span>
