<div ng-if="!vm.refresh" ng-show="vm.stateLoaded">
    <!-- Grid -->
    <div ng-if="vm.data.length > 0"
         class="element animate-show-hide"
         ui-grid="vm.gridOptions"
         class="dynamicGrid"
         ui-grid-save-state
         ui-grid-pagination
         ui-grid-auto-resize
         ui-grid-move-columns
         ui-grid-resize-columns>
    </div>
    <!-- Pagination -->
    <div class="text-center" ng-if="vm.data.length > 0">
        <ul uib-pagination
            class="pagination"
            total-items="vm.numberOfItems"
            items-per-page="vm.gridOptions.paginationPageSize"
            boundary-link-numbers="true"
            max-size="5"
            previous-text="&lsaquo;"
            next-text="&rsaquo;"
            first-text="&laquo;"
            last-text="&raquo;"
            ng-model="vm.gridOptions.paginationCurrentPage">
        </ul>
    </div>
</div>
<!-- Fallback text for empty data set -->
<div ng-if="vm.data.length == 0 && vm.stateLoaded" translate>
    No entries
</div>
