<div class="btn-group dropdown" ng-hide="vm.texttemplates.length == 0">
    <a role="button" title="{{ 'Choose template' | translate }}" class="dropdown-toggle" data-toggle="dropdown">
        <span class="fa fa-file-o"></span>
    </a>
    <ul class="dropdown-menu">
        <li ng-repeat="texttemplate in vm.texttemplates">
            <a title="{{ 'Select template'|translate }}" ng-click="vm.selectedTextTemplate(texttemplate)">{{ texttemplate.name }}</a>
        </li>
        <li ng-show="vm.texttemplates.length == 0" translate>
            No templates are available
        </li>
    </ul>
</div>