<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">
            <span translate>Change Password</span>
        </h3>
    </div>
    <div class="panel-body">
        <div ng-if="vm.passwordChanged" translate>
            Password has been changed successfully.
        </div>
        <div class="row" ng-if="vm.passwordChanged == false">
            <div class="col-xs-12 col-sm-8 col-md-6">
                <form class="form-horizontal" ng-submit="vm.changePassword()">
                    <!-- New Password -->
                    <div class="form-group">
                        <label class="col-sm-3 col-md-3 col-lg-3 control-label" for="input_user_new_password" translate
                            title="{{ 'mandatory field' | translate }}">
                            New Password *
                        </label>
                        <div class="col-sm-9 col-md-9 col-lg-8">
                            <td>
                                <validated-form-element
                                    id="input_user_new_password"
                                    auto-complete="new-password"
                                    input-element="password" input-label="" field-name="input_user_new_password"
                                    placeholder="{{ 'New password' | translate }}"
                                    ng-model="vm.password"  errors="vm.errors['password']">
                                </validated-form-element>
                            </td>
                        </div>
                    </div>
                    <!-- Confirm new password -->
                    <div class="form-group">
                        <label class="col-sm-3 col-md-3 col-lg-3 control-label" for="input_user_confirm_new_password" translate
                            title="{{ 'mandatory field' | translate }}">
                            Confirm New Password *
                        </label>
                        <div class="col-sm-9 col-md-9 col-lg-8">
                            <validated-form-element
                                id="input_user_confirm_new_password"
                                has-form-errors="vm.password != '' && vm.password != vm.password_confirm"
                                input-element="password" input-label="" field-name="input_user_confirm_new_password"
                                placeholder="{{ 'Confirm new password' | translate }}"
                                ng-model="vm.password_confirm"  errors="vm.errors['password_confirm']">
                            </validated-form-element>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-offset-3 col-sm-9 col-md-offset-3 col-md-9 col-lg-offset-3 col-lg-8 text-right">
                            <button id="button_user_update_cancel" class="btn btn-default" type="button" ng-click="vm.cancelPasswordChanges()">Cancel</button>
                            <button id="button_user_update_save" class="btn btn-warning" type="submit"
                                    ng-disabled="vm.password != vm.password_confirm || vm.password.length < 2">
                                Change
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
