<div class="card-panel element-panel">
    <screen-header-function-bar
        screen-new-entity="{{ 'New Storage' | translate }}"
        screen-new-entity-type="drive"
        selected-projects="vm.selectedProjects"
        selected-users="vm.selectedUsers"
        users="vm.users"
        current-view="vm.currentView" search-field="vm.searchField">
        <screen-title>
            <span translate>Storages</span>
        </screen-title>
    </screen-header-function-bar>
</div>

<generic-list-loading-widget
    loading-flag="vm.drivesLoaded"
    loading-text="Storages">
</generic-list-loading-widget>

<div class="card-panel" ng-if="vm.currentView == 'list' && vm.drivesLoaded">
    <drive-table-view drives="vm.drives"></drive-table-view>
</div>

<drive-card-view ng-if="vm.currentView == 'card' && vm.drivesLoaded" drives="vm.drives"></drive-card-view>

<div class="text-center" ng-if="vm.drives.length > 0 && vm.drivesLoaded">
    <ul uib-pagination
        total-items="vm.numberOfDrives"
        items-per-page="vm.currentLimit"
        force-ellipses="true"
        boundary-link-numbers="true"
        max-size="15"
        ng-model="vm.currentPage"
        ng-change="vm.pageChanged()">
    </ul>
</div>
