<div class="modal-header">
    <h3>
        <span translate>WebDav for {{ vm.drive.title }}</span>
    </h3>
</div>
<div class="modal-body">

    <div class="row">
        <div class="col-xs-12">
            <span translate>You can use the storage within your operating systems file browser via the WebDav protocol.</span>
            <span translate>Please consult the user manual for more details.</span>
        </div>
    </div>

    <div class="form-horizontal">

        <div class="form-group">
            <label class="col-sm-3" translate>
                WebDav URL
            </label>
            <div class="col-sm-9">
                <div class="input-group">
                    <input class="form-control" id="webdav_url" ng-value="vm.drive.webdav_url">
                    <div class="input-group-btn">
                        <!-- Trigger -->
                        <button class="btn btn-default" ngclipboard data-clipboard-target="#webdav_url"
                                title="{{ 'Copy to clipboard'| translate}}">
                            <i class="fa fa-clipboard" aria-hidden="true"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <a ng-show="!hideDetails" ng-click="hideDetails = true">
            <span translate>Details</span>
        </a>

        <div uib-collapse="!hideDetails">
            <!-- print even more details -->
            <!-- protocl/host/port -->
            <div class="form-group">
                <label class="col-sm-3" translate>
                    Protocol/Host/Port
                </label>
                <div class="col-sm-2">
                    <div class="input-group">
                        <input class="form-control" id="webdav_protocol" ng-value="vm.protocol">
                        <div class="input-group-btn">
                            <!-- Trigger -->
                            <button class="btn btn-default" ngclipboard data-clipboard-target="#webdav_protocol"
                                    title="{{ 'Copy to clipboard'| translate}}">
                                <i class="fa fa-clipboard" aria-hidden="true"></i>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="col-sm-5">
                    <div class="input-group">
                        <input class="form-control" id="webdav_host" ng-value="vm.hostname">
                        <div class="input-group-btn">
                            <!-- Trigger -->
                            <button class="btn btn-default" ngclipboard data-clipboard-target="#webdav_host"
                                    title="{{ 'Copy to clipboard'| translate}}">
                                <i class="fa fa-clipboard" aria-hidden="true"></i>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="input-group">
                        <input class="form-control" id="webdav_port" ng-value="vm.port">
                        <div class="input-group-btn">
                            <!-- Trigger -->
                            <button class="btn btn-default" ngclipboard data-clipboard-target="#webdav_port"
                                    title="{{ 'Copy to clipboard'| translate}}">
                                <i class="fa fa-clipboard" aria-hidden="true"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3" translate>
                    Path
                </label>
                <div class="col-sm-9">
                    <div class="input-group">
                        <input class="form-control" id="webdav_path" ng-value="vm.path">
                        <div class="input-group-btn">
                            <!-- Trigger -->
                            <button class="btn btn-default" ngclipboard data-clipboard-target="#webdav_path"
                                    title="{{ 'Copy to clipboard'| translate}}">
                                <i class="fa fa-clipboard" aria-hidden="true"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3" translate>
                    Username
                </label>
                <div class="col-sm-9">
                    <div class="input-group">
                        <input class="form-control" id="webdav_user" ng-value="vm.currentUser.username">
                        <div class="input-group-btn">
                            <!-- Trigger -->
                            <button class="btn btn-default" ngclipboard data-clipboard-target="#webdav_user"
                                    title="{{ 'Copy to clipboard'| translate}}">
                                <i class="fa fa-clipboard" aria-hidden="true"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3" translate>
                    Password
                </label>
                <div class="col-sm-9" title="{{ 'Your Workbench password' | translate }}">
                    <i class="fa fa-asterisk" aria-hidden="true"></i>
                    <i class="fa fa-asterisk" aria-hidden="true"></i>
                    <i class="fa fa-asterisk" aria-hidden="true"></i>
                    <i class="fa fa-asterisk" aria-hidden="true"></i>
                    <i class="fa fa-asterisk" aria-hidden="true"></i>
                    <i class="fa fa-asterisk" aria-hidden="true"></i>
                    <i class="fa fa-asterisk" aria-hidden="true"></i>
                    <i class="fa fa-asterisk" aria-hidden="true"></i>
                </div>
            </div>
        </div>

    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="vm.close()">
        <span translate>Close</span>
    </button>
</div>