<div ng-mouseenter="vm.onMouseEnter()" ng-mouseleave="vm.onMouseLeave()">

<!-- header row -->
    <div class="row">
        <div class="col-xs-11">
            <element-labels-widget
                ng-if="vm.taskAssignment.task.labels.length > 0"
                selected-labels="vm.taskAssignment.task.labels" ng-readonly="true"></element-labels-widget>

            <h4 class="title" title="{{ vm.taskAssignment.task.title }}">
                <a ng-href="{{ vm.elementLink }}" target="_blank" role="button" title="{{ 'Open task in new tab' | translate }}">
                    {{ vm.taskAssignment.task.title }}
                </a>
            </h4>
        </div>
        <div class="col-xs-1">
            <div ng-show="vm.showElementMenu"
                 is-open="vm.dropDownMenuActive"
                 uib-dropdown keyboard-nav="true" style="display: inline">
                <a role="button" uib-dropdown-toggle>
                    <span style="width:10px; margin-right:5px" class="fa fa-ellipsis-v"></span>
                </a>
                <!-- Render dropdown menu -->
                <ul class="dropdown-menu dropdown-menu-right" uib-dropdown-menu aria-labelledby="{{ 'Dropdown Menu for Task' | translate }}">
                    <li>
                        <a role="button" href ng-click="vm.removeTask()">
                            <i class="{{ ::vm.actionIcons.delete }}"></i> <span translate>Remove from Board</span>
                        </a>
                    </li>

                    <li>
                        <a role="button" href ng-click="vm.openPrivilegesModalDialog()">
                            <i class="{{ ::vm.actionIcons.privileges }}"></i> <span translate>Privileges</span>
                        </a>
                    </li>

                    <!--<li>-->
                        <!--<a role="button" ng-href="{{ vm.elementLink }}" target="_blank">-->
                            <!--<i class="{{ ::vm.elementIcons.task }}"></i> <span translate>Open Task in new window</span>-->
                        <!--</a>-->
                    <!--</li>-->

                    <li>
                        <a role="button" href ng-click="vm.openRecentChangesModalDialog()">
                            <i class="{{ :: vm.genericIcons.history }}"></i> <span translate>Recent Changes</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>




    <!-- body - task details -->

    <!-- task details -->
    <div class="row column-body">
        <div class="col-xs-12">
            <div ng-show="vm.taskAssignment.task.due_date">
                <b translate>Due Date</b>:
                <span ng-show="!vm.isFullDay">
                    {{ vm.taskAssignment.task.due_date | smallDateWithToday }}
                </span>
                <span ng-show="vm.isFullDay">
                    {{ vm.taskAssignment.task.due_date | smallDateWithoutTime }}
                </span>
            </div>
        </div>

        <div class="col-xs-12" uib-collapse="!vm.showMoreDetails">
            <!-- start date -->
            <div ng-show="vm.taskAssignment.task.start_date">
                <b translate>Start Date</b>:
                <span ng-show="!vm.isFullDay">
                    {{ vm.taskAssignment.task.start_date | smallDateWithToday }}
                </span>
                <span ng-show="vm.isFullDay">
                    {{ vm.taskAssignment.task.start_date | smallDateWithoutTime }}
                </span>
            </div>

            <!-- task state -->
            <div>
                <b translate>State</b>:
                <task-state-priority-display-widget task-state="vm.taskAssignment.task.state">
                </task-state-priority-display-widget>
            </div>

            <!-- priority -->
            <div>
                <b translate>Priority</b>:
                <task-state-priority-display-widget task-priority="vm.taskAssignment.task.priority">
                </task-state-priority-display-widget>
            </div>

            <!-- task id -->
            <div>
                <b translate>Task ID</b>:
                #{{ vm.taskAssignment.task.task_id }}
            </div>

            <!-- Created by -->
            <div>
                <b translate>Created by</b>:
                <user-display-widget user="vm.taskAssignment.task.created_by"></user-display-widget>
            </div>

            <!-- Last modified by -->
            <div>
                <b translate>Last modified by</b>:
                <user-display-widget user="vm.taskAssignment.task.last_modified_by"></user-display-widget>
            </div>

            <!-- text/description -->
            <div ng-bind-html="vm.taskAssignment.task.description | asHtml" style="max-height: 100px; overflow: hidden">
            </div>
        </div>
    </div>

    <!-- status row -->
    <div class="row column-footer">
        <div class="col-xs-12">
            <!-- display number of comments -->
            <div style="display: inline-block; margin-right: 5px">
                <a ng-click="vm.openNotesModalDialog()" role="button" title="{{ 'Comments' | translate }}">
                    <i class="{{ :: vm.elementIcons.note }}" aria-hidden="true"></i>
                    {{ vm.taskAssignment.num_related_notes }}
                </a>
            </div>

            <!-- display number of checked items -->
            <div style="display: inline-block;" ng-show="vm.taskAssignment.task.checklist_items.length > 0">
                <a ng-click="vm.editTaskInModal()" role="button" title="{{ 'Checklist items' | translate }}">
                    <i class="fa fa-check-square-o" aria-hidden="true"></i>
                    {{ vm.getNumberOfCheckedItems() }} / {{ vm.taskAssignment.task.checklist_items.length }}
                </a>
            </div>

            <div style="display: inline-block; float: right" dnd-nodrag>
                <!-- display the assigned users of this task with a fancy plugin -->
                <display-multiple-users-widget users="vm.taskAssignment.task.assigned_users"></display-multiple-users-widget>
            </div>
        </div>
    </div>
</div>
