<div dnd-nodrag style="margin: -5px -15px">

    <!-- column header -->
    <div style="width: 100%; height: 50px; padding: 5px 15px; background-color: #ffffff99; color: black">
        <div class="row" style="position: relative">
            <div class="col-xs-12 kanban-column-title" style="text-align: center"
                 dnd-handle
                 ng-click="vm.changeColumn()" role="button">
                <span ng-show="vm.column.icon != ''" class="{{ vm.column.icon }}"></span>
                {{ vm.column.title }}
            </div>
        </div>
    </div>


    <!-- column body -->
    <div class="kanban-column-body">

        <!-- list of tasks of the column -->
        <div class="task-list">
            <div dnd-list="vm.columnTaskAssignments"
                 dnd-dragover="vm.dragOver(event)"
                 ng-class="{'prepare-for-first-task': filteredTasks.length == 0}"
                 dnd-allowed-types="['task']"
                 dnd-drop="vm.dndTaskDrop(event, index, item, external, type, vm.column)">
                <!-- iterate over tasks -->
                <div class="task"
                     ng-repeat="taskAssignment in vm.columnTaskAssignments | filter:{'kanban_board_column':vm.column.pk} | orderBy:'ordering' as filteredTasks track by taskAssignment.pk"
                     ng-if="!taskAssignment.task.deleted"
                     dnd-draggable="taskAssignment"
                     dnd-dragstart="vm.dragStart()"
                     dnd-dragend="vm.dragEnd()"
                     dnd-canceled="vm.dragEnd()"
                     dnd-type="'task'"
                     dnd-effect-allowed="move"
                >
                    <kanbanboard-column-task-display-widget
                            remove-task-from-kanban="vm.removeTaskFromKanban"
                            task-assignment="taskAssignment" column="vm.column"></kanbanboard-column-task-display-widget>
                </div>

                <!-- Placeholder for tasks -->
                <div class="task dndPlaceholder">
                    <span translate>Release left mouse button to drop the task here</span>
                </div>
            </div>

            <div class="pull-right">

                <!-- display the ability to create a new task -->
                <a role="button"
                   title="{{ 'Create a new task and add it at the bottom of this column' | translate }}"
                   ng-click="vm.addNewTask()">
                    <span translate>New Task</span>
                </a>

                &nbsp;

                <a role="button"
                   title="{{ 'Select a task from the backlog and add it at the bottom of this column' | translate }}"
                   ng-click="vm.openBacklog(vm.column)">
                    <span class="fa fa-list"></span>
                    <span translate>Open Backlog</span>
                </a>
            </div>
        </div>

    </div>

</div>
