{% extends "admin/change_form.html" %}
{% load static %}
{% load i18n admin_modify %}

{% block extrastyle %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static "css/admin/anonymize_user.css" %}" />
{% endblock %}

{% block content %}

    <div id="content-main">
        <form action="" method="POST">
            {% csrf_token %}

            <p class="errornote">
                {% blocktrans %}
                    Please confirm the anonymization of &raquo;{{ user }}&laquo;. This cannot be undone!
                {% endblocktrans %}
            </p>

            <div class="submit-row">
                <p class="deletelink-box">
                    <input type="submit" class="deletebutton" value="{% trans "Confirm Anonymization" %}">
                </p>
                <a href="{% url 'admin:auth_user_changelist' %}">
                    <button type="button" class="button">
                        {% trans "Cancel" %}
                    </button>
                </a>
            </div>
        </form>
    </div>

{% endblock %}
